::ng-deep {
    .mat-horizontal-stepper-header-container {
        display: none !important;
    }
    .risk-manager-stepper {
        letter-spacing: 0;
        mat-stepper {
            background-color: transparent;
            .mat-horizontal-content-container {
                padding: 0;
            }
        }
    }
}