<section class="cashflow-exposure-step2-wrapper loader-wrapper">
  <div class="cashflow-heading-wrapper">
    <div class="img-wrapper">
      <img src="images/money-bag-cashflow.svg" alt="money-bag" class="bag-img" />
    </div>
    <h3 class="heading">Cash flow exposure</h3>
  </div>
  <button class="how-hedging-work">
    <span>How our hedging works? <img src="images/more-info-risk.svg" container="body"
        [ngbTooltip]="buyingToolTip"
        placement="top-right" tooltipClass="risk-rate-tooltip--rm" alt="more-info" /> </span>
  </button>
  <ng-template #buyingToolTip>
    You are at risk when ILS goes up because it will cost more to buy USD with
    USD, increasing your costs
  </ng-template>
  
  <form [formGroup]="cashFlowExposureForm">
    <div class="currency-pair-wrapper">
      <div class="pair-wrapper">
        <div class="img-pair">
          <img src="images/pair-virtual.svg" alt="pair" />
        </div>
        <div class="content-pair-main">
          <div class="currency-pair-inner">
            <div class="inner-content">
              <h4 class="title-pair">Currency pair</h4>
              <p class="subtitle-pair">Select the currency you want to protect against market
                fluctuations.</p>
            </div>
            <div class="progress-container" *ngIf="!isFormSubmit && !isDisplayAmountExplosure">
              <mat-progress-bar #formStepperProgress class="stepper-progressbar" mode="determinate"
                value="25"></mat-progress-bar> <span class="progress-count">
                1/4 </span>
            </div>
          </div>
          <div class="currency-pair-selection">
            <label class="pair-select-title">Select currency pair</label>
            <div class="pair-dropdown-wrapper" [ngClass]="{'form-submitted' :isFormSubmit}">
              <div class="country-dropdown">
                <mat-select class="form-control pe-none user-select-none" panelClass="rm-curr-dropdown from-currency-dropdown" id="fromCurrency"
                  placeholder="Select" formControlName="fromCurrency">
                  <mat-select-trigger *ngIf="selectedFromCurrency">
                    <img class="currency-image" [src]="selectedFromCurrency.flag" alt="currency_flag" />
                    <span class="currency-code">{{ selectedFromCurrency.code }}</span>
                  </mat-select-trigger>
                  <mat-option *ngIf="selectedFromCurrency" [value]="selectedFromCurrency.code">
                    <div class="select-item d-flex gap-3 align-items-center">
                      <img width="30px" class="currency-image" [src]="selectedFromCurrency.flag" alt="currency_flag" />
                      <div class="code-with-info">
                        <span class="code">{{ selectedFromCurrency.code }}</span>
                        <span class="info">{{ selectedFromCurrency.currencyName }}</span>
                      </div>
                    </div>
                  </mat-option>
                </mat-select>
                <span class="default-currency" *ngIf="selectedFromCurrency">Default primary currency</span>
              </div>

              <span class="pair-plus">+</span>

              <!-- TO CURRENCY (EDITABLE) -->
              <div class="country-dropdown">
                <mat-select class="form-control to-currency-rm" panelClass="rm-curr-dropdown"
                  [ngClass]="currencyNotMatch || (submitFirstStep && cashFlowExposureForm.controls['toCurrency'].invalid)  ? 'invalid-currency' : ''"
                  id="toCurrency" formControlName="toCurrency" placeholder="Select"
                  (selectionChange)="onToCurrencyChange($event.value)" (openedChange)="onDropdownOpen($event)">
                  <mat-select-trigger>
                    <ng-container *ngFor="let currency of walletData">
                      <div *ngIf="currency.code === gettoCurrencyvalue()" class="to-currency-section">
                        <img class="currency-image" [src]="currency.flag" alt="currency_flag" />
                        <img class="currency-tick" src="images/tick-currency.svg" alt="tick" />
                        <span class="currency-code">
                          {{ currency.code }}
                        </span>
                      </div>
                    </ng-container>
                  </mat-select-trigger>

                  <div class="search-inpt-popup">
                    <div class="search-input-wrapper">
                      <input class="filter-input" [ngClass]="walletData.length === 0 ? 'error-input' : ''" type="text"
                        placeholder="Search" id="exnow-s1-id7" [formControl]="searchControl">
                      <span class="error-msg" *ngIf="walletData.length === 0">
                        OPPPSSS... That currency doesn't exist,<br>Please check spelling
                      </span>
                    </div>
                    <div class="currancy-flag-list">
                      <mat-option *ngFor="let currency of walletData; index as i" [value]="currency.code"
                        class="currency-options" id="exnow-s1-id7-{{currency.code}}">
                        <div class="select-item d-flex gap-3 align-items-center">
                          <img width="30px" class="currency-image" [src]="currency.flag" alt="currency_flag" />
                          <div class="code-with-info">
                            <span class="code">{{ currency.code }}</span>
                            <span class="info">{{ currency.currencyName }}</span>
                          </div>
                        </div>
                      </mat-option>
                    </div>
                  </div>
                </mat-select>
                <p *ngIf="currencyNotMatch" class="error-msg">
                  <img src="images/error-exposure.svg" alt="error">
                  Please select different currency
                </p>
                <p *ngIf="submitFirstStep && cashFlowExposureForm.controls['toCurrency'].invalid" class="error-msg">
                  Please select currency
                </p>
              </div>
              <div class="more-info">
                <img src="images/more-info-risk.svg" alt="more-info"
                  ngbTooltip="Choosing the right currency pair tailors the hedging strategy to protect your business from unfavorable exchange rate movements."
                  placement="top-left" tooltipClass="risk-rate-tooltip--rm">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Your exposure Start 1-->
     <ng-container *ngIf="isFormSubmit">
      <div class="exposure-pair-wrapper" [ngClass]="isSelectedCurrency && !isDisplayAmountExplosure ? 'button-padding' : ''" id="isLoadExplosureFocus" #isLoadExplosureFocus tabindex="0">
        <div class="exposure-wrapper">
          <div class="img-pair">
            <img src="images/exposure-virtual.svg" alt="exposure" />
          </div>
          <div class="content-pair-main">
            <div class="currency-pair-inner">
              <div class="inner-content">
                <h4 class="title-pair">Your exposure</h4>
                <p class="subtitle-pair">Select when your cash flow is exposed to risk from currency changes</p>
              </div>
              <div class="progress-container" *ngIf="isFormSubmit && !isDisplayAmountExplosure">
                <mat-progress-bar #formStepperProgress class="stepper-progressbar" mode="determinate"
                  value="50"></mat-progress-bar> <span class="progress-count"> 2/4 </span>
              </div>
            </div>
            <div class="currency-exposure-selection">
              <h3 class="exposure-title">I am exposed because</h3>
              <div class="buy-sell-option option-one" (click)="selectBuySellCurrency(BuySellEnum.Buy)"
                [ngClass]="{ 'selected-currency-border': isSelectedCurrency === BuySellEnum.Buy, 'exposure-require': exposureRequired }">
                <div class="currency-img-container">
                  <img [src]="buySellCurrRes.flag" class="currency-image" />
                </div>
                <div class="actions-container">
                  <div class="buy-sell-title">
                    <h4 class="title">I am Buying</h4>
                    <p class="subtitle">I'm exposed when the {{buySellCurrRes.code}} strengthens because it raises
                      <br />
                      my costs to buy {{buySellCurrRes.code}} with {{selectedFromCurrency.code}}.</p>
                  </div>
                  <!-- <button class="buy-sell-btn" (click)="selectBuySellCurrency('Buying')" [ngClass]="{ 'selected-opt': isSelectedCurrency === 'Buying' }">Select</button> -->
                  <button class="buy-sell-btn" id="buyExposureBtn"
                    [ngClass]="{ 'selected-opt': isSelectedCurrency === BuySellEnum.Buy}">
                    <span *ngIf="isSelectedCurrency === BuySellEnum.Buy" id="selected_buy">Selected</span>
                    <span *ngIf="isSelectedCurrency !== BuySellEnum.Buy" id="select_buy">Select</span>
                    <img *ngIf="isSelectedCurrency === BuySellEnum.Buy" src="images/selected-exposure-icon.svg"
                      alt="Selected Icon" class="icon">
                  </button>
                </div>
              </div>

              <div class="buy-sell-option" (click)="selectBuySellCurrency(BuySellEnum.Sell)"
                [ngClass]="{ 'selected-currency-border': isSelectedCurrency === BuySellEnum.Sell, 'exposure-require': exposureRequired }">
                <div class="currency-img-container">
                  <img [src]="buySellCurrRes.flag" class="currency-image" />
                </div>
                <div class="actions-container">
                  <div class="buy-sell-title">
                    <h4 class="title">I am Selling</h4>
                    <p class="subtitle">I'm exposed when the {{buySellCurrRes.code}} weakens because I get fewer
                      {{selectedFromCurrency.code}},<br /> lowering my income.</p>
                  </div>
                  <button class="buy-sell-btn" id="sellExposureBtn"
                    [ngClass]="{ 'selected-opt': isSelectedCurrency === BuySellEnum.Sell}">
                    <span *ngIf="isSelectedCurrency === BuySellEnum.Sell" id="selected_sell">Selected</span>
                    <span *ngIf="isSelectedCurrency !== BuySellEnum.Sell" id="select_sell">Select</span>
                    <img *ngIf="isSelectedCurrency === BuySellEnum.Sell" src="images/selected-exposure-icon.svg"
                      alt="Selected Icon" class="icon">
                  </button>
                </div>
              </div>
              <p *ngIf="exposureRequired" class="error-msg"><img src="images/error-exposure.svg"> Please select
                one
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isDisplayAmountExplosure && !exposureRequired">
      <div class="monthly-exposure-pair-wrapper" id="isLoadAmountExplosureFocus" #isLoadAmountExplosureFocus tabindex="0">
        <div class="exposure-wrapper">
          <div class="img-pair">
            <img src="images/exposure-virtual.svg" alt="exposure" />
          </div>
          <div class="content-pair-main">
            <div class="currency-pair-inner">
              <div class="inner-content">
                <h4 class="title-pair">Set monthly exposure</h4>
                <p class="subtitle-pair">Set an amount, and we'll project for several months ahead.</p>
              </div>
              <div class="progress-container" *ngIf="isDisplayAmountExplosure && isFormSubmit">
                <mat-progress-bar #formStepperProgress class="stepper-progressbar" mode="determinate"
                  value="75"></mat-progress-bar> <span class="progress-count"> 3/4 </span>
              </div>
            </div>
            <div class="monthly-amount-container">
              <div class="amount-container d-flex">
                <div class="amount-container-items">
                  <div class="amount-input">
                    <div class="amount-inner form-group" [ngClass]="{'invalid-amount': isDisplayAmountValidationMsg}">
                      <span>{{buySellCurrRes.sign}}</span>
                      <label class="input-label" for="">Set an amount</label>
                      <input type="text" id="setMonthlyAmountInput" class="cashflow-name-input" placeholder="0" (input)="formatNumber($event);" [ngModel]="amountValue"
                        (blur)="setAmountWithTwoFraction()" [maxLength]="14" (keypress)="restrictLength($event)"
                        (keydown)="preventDecimalValue($event)" formControlName="monthlyAmount">
                    </div>
                    <p class="error-msg" *ngIf="isDisplayAmountValidationMsg">
                      Minimum amount allowed is {{selectedFromCurrency.sign}}1
                    </p>
                  </div>
                </div>
                <div class="amount-container-items">
                  <mat-select class="select-month" panelClass="month-exposure-ddl" id="monthExposureddl" (selectionChange)="getMonthValue($event)" [(ngModel)]="monthlyPeriod" [ngModelOptions]="{standalone: true}">
                    <mat-option [value]="12">12 Months</mat-option>
                    <mat-option [value]="6">6 Months</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
            <span *ngIf="maxLengthError && !isDisplayAmountValidationMsg" class="error-message">Maximum amount allowed is {{buySellCurrRes.sign}}100,000,000</span>
          </div>
        </div>
      </div>
    </ng-container>
  </form>
  <div class="risk-options-prev-back">
    <!-- Step 1 -->
    <ng-container *ngIf="!isFormSubmit && !isDisplayAmountExplosure">
      <button class="back-to-previous" (click)="goToPrevious()" id="backToPrev__i1">Back</button>
      <button class="move-to-next" (click)="submitCashFlowExposureForm()" id="backToNext__i1">
        <span>Next</span> <img src="images/arrow-right-next.svg" alt="next"></button>
    </ng-container>
    <!-- Step 2 -->
    <ng-container *ngIf="isFormSubmit && !isDisplayAmountExplosure && isSelectedCurrency">
      <button class="back-to-previous" (click)="closeFormSubmit()" id="backToPrev__i2">Back</button>
      <button class="move-to-next" (click)="submitFormWithoutBuyORSell()" id="backToNext__i2">
      <!-- <button class="move-to-next" id="backToNext__i2"> -->
        <span>Next</span> <img src="images/arrow-right-next.svg" alt="next"></button>
    </ng-container>
    <!-- Step 3 -->
    <ng-container *ngIf="isDisplayAmountExplosure && isFormSubmit">
      <button class="back-to-previous" (click)="closeAmountExplosure()" id="backToPrev__i3">Back</button>
      <button class="move-to-next" (click)="sendAmountValue()" id="backToNext__i3">
        <span>Next</span> <img src="images/arrow-right-next.svg" alt="next"></button>
    </ng-container>
  </div>

  <div class="risk-exposure-loader text-center" [ngClass]="isCreateMonthlyTable ? 'show-loader' : ''">
    <img src="images/risk-loader.gif" alt="loader" />
    <div class="loader-text">
      <h3>Creating monthly exposure table</h3>
      <span>Please wait it will take a few seconds</span>
    </div>
  </div>
</section>