@import "../../../../../../assets/scss/variable";

::ng-deep {
  .set-convertion-container-step6 {
    display: flex;
    gap: 21px;
    height: calc(100vh - 48px);
    max-height: 918px;
    font-family: $he_heebo;

    @media screen and (max-width: 1440px) {
      max-height: calc(100vh - 50px);
    }

    @media screen and (min-width: 768px) and (orientation: portrait) {
      max-height: 46vh;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }

    .left-panel {
      display: flex;
      align-items: center;
      background: url(../../../../../../assets/images/fx-erp/fx-erp-step-left-bg.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      background-position: center;
      width: 100%;
      max-width: 484px;
      border-radius: 10px;

      @media screen and (max-width: 1199px) {
        max-width: 350px;
      }

      @media screen and (max-width: 991px) {
        max-width: 250px;
      }

      @media screen and (max-width: 767px) {
        max-width: 100%;
        max-height: max-content;
      }

      .info-sec {
        padding: 0 20px 0 89px;

        @media screen and (max-width: 1199px) {
          padding: 0 40px;
        }

        @media screen and (max-width: 991px) {
          padding: 0 30px;
        }

        @media screen and (max-width: 767px) {
          padding: 30px;
        }

        .title {
          color: #fff;
          font-size: 60px;
          font-weight: 700;
          line-height: 72px;
          letter-spacing: -1.2px;
          margin: 0;

          @media screen and (max-width:1440px) {
            font-size: 50px;
            line-height: 1.2;
          }

          @media screen and (max-width: 1199px) {
            font-size: 40px;
          }

          @media screen and (max-width:1024px) {
            font-size: 30px;
          }

          @media screen and (max-width:991px) {
            font-size: 25px;
          }

          @media screen and (max-width:767px) {
            font-size: 20px;

            br {
              display: none;
            }
          }

          @media screen and (max-width:580px) {
            font-size: 18px;
          }
        }

        .desc {
          color: #05F2F2;
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
          margin: 0;

          @media screen and (max-width: 1199px) {
            font-size: 18px;
            line-height: 1.2;
          }

          @media screen and (max-width:1024px) {
            font-size: 16px;
          }

          @media screen and (max-width:991px) {
            font-size: 14px;
          }

          @media screen and (max-width:767px) {
            font-size: 12px;

            br {
              display: none;
            }
          }
        }
      }
    }

    .right-panel {
      flex: 2;
      background-image: url(../../../../../../assets/images/fx-erp/fx-erp-step-right-bg1.svg);
      background-position: right bottom;
      padding: 38px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      overflow-y: auto;
      background-repeat: no-repeat;
      background-size: contain;
      overflow-y: auto;

      @media screen and (max-width: 1440px) {
        padding: 30px 10px;
      }

      @media screen and (max-width: 1199px) {
        padding: 20px 0;
      }

      @media screen and (max-width: 767px) {
        padding: 0;
        overflow-y: auto;
      }

      .top-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 106px;

        @media screen and (max-width:1440px) {
          gap: 50px;
        }

        @media screen and (max-width:991px) {
          gap: 20px;
        }

        .back-btn {
          color: #4b5563;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          padding: 12px 20px;

          @media screen and (max-width:1440px) {
            padding: 0;
          }

          @media screen and (max-width: 767px) {
            padding: 15px 0px;
          }
        }

        .stepper-steps {
          display: flex;
          align-items: center;
          gap: 20px;
          margin: 0;
          padding: 0;

          @media screen and (max-width:991px) {
            gap: 10px;
          }

          @media screen and (max-width: 767px) {
            margin: auto;
          }

          li {
            width: 99px;
            height: 6px;
            background-color: #ECECF3;

            &:first-child {
              border-top-left-radius: 2.5px;
              border-bottom-left-radius: 2.5px;
            }

            &:last-child {
              border-top-right-radius: 2.5px;
              border-bottom-right-radius: 2.5px;
            }

            &.active {
              background-color: #2320E6;
            }

            @media screen and (max-width:1440px) {
              width: 60px;
            }

            @media screen and (max-width:991px) {
              width: 50px;
            }

            @media screen and (max-width:767px) {
              width: 40px;
            }
          }
        }
      }

      .content {
        max-width: 573px;
        margin: 24px auto 20px 174px;
        width: 100%;

        @media screen and (max-width:1440px) {
          margin: 20px auto 20px 80px;
        }

        @media screen and (max-width:1199px) {
          margin: 20px auto;
        }

        @media screen and (max-width:767px) {
          margin: 0 auto;
        }

        .label-with-tooltip {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 0 0 4px;

          img {
            width: 20px;
          }

          span {
            color: #7687ab;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.5;
          }
        }

        .title {
          color: #111827;
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          margin: 0 0 21px;

          @media screen and (max-width:1440px) {
            font-size: 18px;
            line-height: 1.2;
            margin: 0 0 10px;
          }

          @media screen and (max-width:767px) {
            font-size: 16px;
          }
        }

        .automation-container {
          margin: 42px 0 0;

          @media screen and (max-width:1440px) {
            margin: 20px 0 0;
          }

          .title {
            color: #2320E6;
            font-size: 30px;
            font-weight: 700;
            line-height: 38px;
            text-align: center;
            margin: 0;

            @media screen and (max-width:1440px) {
              font-size: 20px;
              line-height: 1.2;
            }

            @media screen and (max-width:1024px) {
              font-size: 18px;
            }

            @media screen and (max-width:767px) {
              font-size: 16px;
            }
          }

          .subtitle {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            @media screen and (max-width:767px) {
              font-size: 12px;
            }
          }

          .form-section {
            margin: 36px 0 0;
            padding: 0 18px 0 22px;

            @media screen and (max-width:1440px) {
              margin: 20px 0 0;
              padding: 0 15px;
            }

            @media screen and (max-width:1024px) {
              margin: 10px 0 0;
              padding: 0;
            }

            .form-row {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .label {
                color: #000;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                display: flex;
                align-items: center;

                img {
                  margin: 0 16px 0 0;

                  @media screen and (max-width:1440px) {
                    margin: 0 10px 0 0;
                  }

                  @media screen and (max-width:1024px) {
                    margin: 0 5px 0 0;
                  }
                }

                .frequency-badge {
                  border-radius: 50px;
                  background: #16A34A;
                  color: #FFF;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 18px;
                  padding: 5px 10px;
                  margin: 0 0 0 5px;

                  @media screen and (max-width:767px) {
                    padding: 5px;
                    line-height: 1.2;
                    font-size: 10px;
                  }
                }
              }

              .dates {
                .date-label {
                  color: #2F2F2F;
                  text-align: right;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                }
              }

              .rate-condition {
                color: #2F2F2F;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
              }

              .enable-label {
                border-radius: 50px;
                background: #2320E6;
                color: #FFF;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                padding: 5px 10px;

                @media screen and (max-width:767px) {
                  padding: 5px;
                  line-height: 1.2;
                }
              }

              .mat-mdc-slide-toggle {
                .mdc-switch__track {
                  min-width: 40px;
                  height: 22px;
                  border-radius: 22px;

                  .mdc-switch__icons {
                    display: none;
                  }

                  .mdc-form-field {
                    .mdc-switch {
                      .mdc-switch__track {
                        &::before {
                          background: #3730F5 !important;
                        }
                      }
                    }
                  }

                  &::before {
                    background: #ccc !important;
                  }
                }

                .mdc-switch {
                  &.mdc-switch--selected {
                    &:enabled {
                      .mdc-switch__handle {
                        &::after {
                          background-color: $white !important;
                        }
                      }
                    }
                  }

                  &.mdc-switch--unselected {
                    &:enabled {
                      .mdc-switch__handle {
                        &::after {
                          background-color: $white !important;
                        }
                      }
                    }
                  }

                  &:enabled {
                    .mdc-switch__track {
                      &::after {
                        background: #3730F5 !important;
                      }
                    }
                  }

                  .mdc-switch__handle-track {
                    width: 17px !important;
                    left: 3px !important;

                    .mdc-switch__handle {
                      width: 17px !important;
                      height: 17px !important;

                      .mdc-switch__ripple,
                      .mdc-switch__shadow,
                      .mdc-switch__icons {
                        display: none;
                      }
                    }
                  }
                }
              }
            }

            hr {
              margin: 23px 0;
              border-top: 1px dashed #B7B7B7;

              @media screen and (max-width:1440px) {
                margin: 15px 0;
              }

              @media screen and (max-width:767px) {
                margin: 10px 0;
              }
            }
          }

          .set-tandc {
            padding: 13px 0 25px;
            border-bottom: 1px dashed #AAA;
            text-align: center;

            @media screen and (max-width:1440px) {
              padding: 5px 0 10px;
            }

            @media screen and (max-width:767px) {
              margin: 5px 0;
              text-align: left;
            }

            .mdc-checkbox {
              width: 16px;
              height: 16px;

              .mdc-checkbox__background {
                border-radius: 3px;
                width: 16px !important;
                height: 16px !important;

                .mdc-checkbox__checkmark-path {
                  stroke-width: 4px !important;
                }
              }
            }

            .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
              color: #fff !important;
            }

            .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
            .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
            .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
              background-color: #2947F2 !important;
              border-color: #2947F2 !important;
            }

            .mat-mdc-checkbox .mdc-form-field {
              align-items: center !important;
            }

            label {
              color: #6B7280;
              font-size: 12px;
              font-weight: 400;
              line-height: 24px;
              @media screen and (max-width:767px) {
                line-height: 1.2;
              }
              a {
                color: #1D4ED8;
                text-decoration: underline !important;
              }
            }

            &.error {
              .mdc-checkbox {
                .mdc-checkbox__background {
                  border-color: #DC2626 !important;
                }
              }
              label {
                color: #DC2626;
              }
            }
          }

          .start-btn {
            border-radius: 40px;
            background: #2320E6;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            width: 100%;
            padding: 10px;
            margin: 49px 0 0;

            @media screen and (max-width:1440px) {
              margin: 20px 0 0;
            }

            @media screen and (max-width:767px) {
              font-size: 14px;
            }

            &.err-btn {
              cursor: pointer;
              pointer-events: none;
            }
          }

          .info-list {
            border-radius: 10px;
            background:#F0FDF4;
            padding: 16px;
            margin: 21px 0 0;

            @media screen and (max-width:1440px) {
              margin: 15px 0 0;
            }

            @media screen and (max-width:767px) {
              margin: 10px 0 0;
              padding: 10px;
            }

            li {
              color: #374151;
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              list-style-type: disc;
              list-style-position: inside;
            }
          }
        }
      }
    }
  }

  .error-msgs {
    margin: 7px 0;
    display: block;
    color: #dc2626;
    font-family:$he_heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .err-image{
    margin-right: 5px;
  }
}