<div class="trade-view-wrapper-container">
    <h2 class="section-title">Last payment rate <span class="info-icon" htmlTooltip
        tooltipBody="Refers to the rate at which a payment was made. Monitoring the last payment rate can be essential for future payment and managing cash flow.">i</span>
    </h2>
    <mat-card class="box-card">
        <app-market-overview-chart [activeCurrency]="activeCurrency" [lastPaymentRateData]="lastPaymentRateData"></app-market-overview-chart>
    </mat-card>
</div>