@import "../../../../assets/scss/variable";
@import "../../../../assets/scss/mixins";

.trade-view-wrapper-container {
  max-width: 990px;

  @media screen and (max-width: 1440px) {
    max-width: 758px;
  }

  .section-title {
    @include flex(flex-start, flex-start, row);

    @media only screen and (max-width: 1440px) {
      font-size: $font-18;
    }

    font-size: $font-22;
    line-height: normal;
    font-weight: 700;
    color: $dialog-inner-heading-color;
    margin-bottom: 10px;

    .info-icon {
      @include flex(center, center, row);
      height: 16px;
      width: 16px;
      border: 1px solid $form-label;
      border-radius: 20px;
      font-size: $font-12;
      font-weight: bold;
    }
  }

  .box-card {
    box-shadow: none;
  }
}