$white: #ffffff;
$black: #000000;
$he_heebo: 'Heebo', sans-serif;
$color-blue: #2947F2;
$font-14: 14px;

// Primary theme colors conditional (non-max)
:root {
    --dark-blue-primary: #1E40AF; //done
    --light-blue-bg: #EEF3FC; //done
    --primary-blue: #1D4ED8; //done
    --brand-primary-color: #2947f2; //done
    --active-tab-border-color: #e7e7e7; //done
    --account-detail-header-bg-color: #2947f2; //done
    --light-blue: #2947F2; //done
    --cal-ev-blue: #2947F2; //done
    --calender-plush-icon-background: #0C41FF; //done
    --input-blue-border: #3B82F6; // done
    --pagination-btn-bg-color: #2F80ED; // done
    --light-blue-header-bg: #EFF6FF; // done 
    --content-wrapper-bg-color: #F5F7FA; // done
    --kyc-btn-color: #3F51B5; // done
    --color-blue-royal: #3F5AF3; // done
    --auth-input-color: #3F5AF3; // done
    --signature-hading-sub: #324ff3; // done
    --highlight-blue: #2563eb; // done
}