@import '../../../assets/scss/variable';
@import "../../../assets/scss/mixins";

::ng-deep .at {
    &__accordion {
        display        : flex;
        //--panel-w      : 45%;
        flex-direction : column;

        @include respond(lg) {
            flex-direction : column;
        }

        & > * {
            flex      : 0 0 var(--panel-w);
            max-width : var(--panel-w);

            @include respond(lg) {
                --panel-w : 100%;
            }
        }

        & > *:not(:last-child) {
            //margin-inline-end : 3rem;
            @include respond(lg) {
                margin-inline-end : 0;
            }
        }

        mat-expansion-panel {
            // height: 120px;
            //min-height    : 22rem;
            box-shadow: none !important;
            border-radius : 10px !important;
            @include respond(xl) {
                // min-height : 30rem;
            }
        }
        hr{
            border: 1px dashed #C5C5C5;
            margin:14px 19px 6px;
        }
        .mat-expansion-panel {
            padding:unset;
        }
        .mat-expansion-panel-spacing {
            margin-top    : 0;
            margin-bottom : 0;
        }

        .mat-expansion-panel-content {
            padding-left  : 0;
            padding-right : 0;
            height: inherit;
        }
      

        .mat-expansion-panel-header {
            
            height  : fit-content;
            padding : 1.25rem;

            & * {
                max-width : 100%;
            }

            &-title {
                margin-right : 0;
            }
            &.mat-expanded{
                height: auto;
            }

            .mat-radio-container {
                display : none;
            }

            .mat-radio-label-content {
                display         : flex;
                flex-direction  : column;
                align-items     : center;
                justify-content : center;
                max-width       : 100%;
                white-space     : initial;

                & > * {
                    max-width : 100%;
                    //text-align : center;

                    &:not(:last-child) {
                        margin-bottom : 2rem;
                    }
                }

           
            }

            .mat-expansion-indicator {
                display : none;
            }
        }
    }
}
.at-title {
    font-weight:700;
    font-size:18px;
    color: #000;
    @media screen and (max-width: 1440px) {
        font-size: 16px;
    }
    @media screen and (max-width: 1024px) {
        font-size: 14px;    
    }
}
.at-icon {
    margin-right:20px;
}
.at-description {
    font-weight: 300;
    font-size:16px;
    color:#111827;
    line-height: 26px;
    @media screen and (max-width: 1440px) {
        font-size: 14px;
    }
    @media screen and (max-width: 1024px) {
        font-size: 12px;    
    }
}
.continue-btn {
    background: #01031C;
    border-radius: 40px;
    font-size: 16px;
    // line-height: 22px;
    font-weight: 600;
    color: #fff;
    padding: 14px 0px;
    height: auto;
    transition: 0.3s;
    position: relative;
    width: 100% !important;
    margin: 26px 0 0;
    @media screen and (max-width: 1440px) {
        // height: 25px;
        width: 25px;
    }

    &.disabled {
        background: #f5f5fa !important;
        color: #c6c8cc !important;
        cursor: not-allowed;
    }

}
