<div class="connectors-stepper">
    <!-- <app-page-loader></app-page-loader> -->
    <mat-stepper #formStepper class="form-stepper">
        <mat-step>
            <ng-template matStepContent>
            <app-connectors-step1 *ngIf="formStepper.selectedIndex === 0"> </app-connectors-step1>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepContent>
                <app-connectors-step2 *ngIf="formStepper.selectedIndex === 1" [connectorForm]="connectorForm" [walletList]="walletList"> </app-connectors-step2>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepContent>
                <app-connectors-step3 *ngIf="formStepper.selectedIndex === 2" [connectorForm]="connectorForm" [walletList]="walletList" [erpCustomerSuppliersList]="erpCustomerSuppliersList"> </app-connectors-step3>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepContent>
                <app-connectors-step4 *ngIf="formStepper.selectedIndex === 3"> </app-connectors-step4>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepContent>
                <app-cf-endpoint-doc [fromAutoPilotCashflowComplete]="fromAutoPilotCashflowComplete" *ngIf="formStepper.selectedIndex === 4"> </app-cf-endpoint-doc>
            </ng-template>
        </mat-step>
    </mat-stepper>
</div>


