<div class="auto-pilot-container">
    <!-- Left Panel -->
    <div class="left-panel">
        <div class="info-sec">
            <h1 class="title">Meet Your Auto-Pilot</h1>
            <p class="desc">Your smart way to stop currency surprises.</p>
        </div>
    </div>

    <!-- Right Panel -->
    <div class="right-panel">
        <div class="inner-wrap">
            <div class="detail-wrap">
                <img src="images/fx-erp/sheild-icn.gif" alt="shield">
                <div class="info">
                    <h2 class="title">What is <span class="highlight">Auto-Pilot?</span></h2>
                    <p class="desc">
                        Okoora Auto-Pilot protects your business from currency moves — automatically. It locks your rates, tracks your flows, and keeps you safe without effort.
                    </p>
                </div>
            </div>

            <div class="benefits">
                <h3 class="title">Why it’s great for you?</h3>
                <ul class="benef-list">
                    <li><img src="images/fx-erp/erp-sheild-icn.svg"> No more rate guessing</li>
                    <li><img src="images/fx-erp/erp-clock-icn.svg"> You save time, we handle the risk
                    </li>
                    <li><img src="images/fx-erp/erp-work-icn.svg"> It works 24/7 — and you can pause
                        anytime</li>
                </ul>
            </div>

            <div class="activate-pilot-wrap">
                <p class="desc"><strong>Ready to activate protection?</strong><br>It takes one click. You stay in
                    control.</p>
                <div class="btn-wrap">
                    <button class="auto-pilot-btn" (click)="nextStep()">
                        <span>
                            <img src="images/fx-dashboard/sheild-icn.gif" alt="auto-pilot">
                            Activate <strong>Auto - Pilot</strong>
                        </span>
                    </button>
                </div>
                <p class="note"><img src="images/fx-erp/hint-icn.svg" alt="note"> Already active on 4,200+
                    businesses like yours</p>
            </div>
        </div>
    </div>
</div>