<div class="vola-chart-wrapper">
    <div class="chart-desc">
      <div class="chart-head">
        <h5 class="info-title">
          <img class="title-img" src="images/trending_down.svg" alt="Volatility" />
          Volatility
          <img src="images/annual-title-help-icon.svg" 
               [ngbTooltip]="volatilityTool"
               placement="top-left"
               tooltipClass="risk-step3-tooltip--rm" 
               class="title-tooltip" />

            <ng-template #volatilityTool>
                Implied volatility measures the degree<br> of price fluctuations over time,<br> indicating the level of risk or uncertainty in the market
            </ng-template>
        </h5>
      </div>
      <div class="desc">
        <p>In the next few months the market is expected to be 
          <span [ngStyle]="{'color': volatilityRank.toLowerCase() === 'volatile' ? '#EE0C0C' : (volatilityRank.toLowerCase() === 'moderate' ? '#DAA61F' : '#079455')}">
            {{volatilityRank}}
          </span>
        </p>
      </div>
    </div>
  
    <div class="vola-chart">
      <div class="chart-inner">
        <img class="chart-round" src="images/volatility-chart-img.svg" alt="volatility_chart" />
        
        <!-- Needle pointer with fixed rotation -->
        <div class="indicator-wrap" [style.transform]="'rotate(' + currentDegree + 'deg)'">
          <div class="pointer-wrap">
            <img class="pointer" src="images/volatility-pointer.svg" alt="volatility_chart" />
          </div>
         
          <div class="indicator-value">
            <p [style.transform]="'rotate(' + '-' + currentDegree + 'deg)'"> 
              Current <span class="value">{{currentIndicatorValue}}<span>%</span></span>
            </p>
          </div>
        </div>
      </div>
  
      <div class="chart-info">
        <div class="info">
          <p class="year-text">2 Years</p>
          <p class="year-text"><b>MIN</b> volatility</p>
          <p class="per-text">{{minVolatility == 0 ? 0 : minVolatility.toFixed(2) }}<span>%</span></p>
        </div>
        <div class="info right">
          <p class="year-text">2 Years</p>
          <p class="year-text"><b>MAX</b> volatility</p>
          <p class="per-text">{{minVolatility == 0 ? 0 : maxVolatility.toFixed(2) }}<span>%</span></p>
        </div>
      </div>
    </div>
  </div>
  