<div class="payments-wrap loader-wrapper">
    <!-- <app-page-loader id="loader" classes="bg-white section-loader" *ngIf="showLoader"></app-page-loader> -->

    <h3 class="pay-title" id="payTitle">Payments</h3>
    <div class="payments-option-wrap">
        <button [matMenuTriggerFor]="sendMenu" id="payOptionIcon">
            <span class="pay-option-icon poi-active">
                <img src="images/pay-plus-icon.svg" alt="pay plus icon" id="poiActive"/>
            </span>
            Send
        </button>

        <mat-menu #sendMenu="matMenu" class="action-menu sent-dropdown" id="sentDropdown">
            <button mat-menu-item (click)="createSinglePayment()" id="singlePaymentCreate">
                Single Payment
            </button>
            <button mat-menu-item  (click)="createMassPayment()" id="massPaymentCreate">Mass Payment
            </button>
        </mat-menu>

        <!-- <button (click)="createRequest()">
            <span class="pay-option-icon poi-active">
                <img src="images/pay-arrow-white-icon.svg" alt="pay arrow white icon">
            </span>
            Request
        </button> -->
        <button [matMenuTriggerFor]="exchangeMenu" id="exchangeMenu">
            <span class="pay-option-icon">
                <img src="images/pay-exchange-icon.svg" alt="pay exchange icon" id="pei"/>
            </span>
            Exchange
        </button>
        <mat-menu #exchangeMenu="matMenu" class="action-menu sent-dropdown" id="exchangeDropDown">
          <button mat-menu-item (click)="exchangeNow()" id="exchangeNowMenu">Exchange now</button>
          <ng-container>
            <button mat-menu-item (click)="exchangePlanConvert()" id="exchangePlanConvertMenu">Future exchange</button>
          </ng-container>
          <!-- <button mat-menu-item  >Plan your conversion</button> -->
        </mat-menu>
        <button (click)="CreateLockRateDialog()" id="lockRateDialogCreated">
            <span class="pay-option-icon" id="lockRateOptionIcon">
                <img src="images/pay-date-icon.svg" alt="pay date icon" id="payDateIconId">
            </span>
            Lock rate & Pay Later
        </button>
    </div>
    <div *ngIf="walletList">
        <app-payment-dashboard-transaction> </app-payment-dashboard-transaction>
    </div>
</div>



