.connected-traderoom-wrapper {
    .traderoom-connect-title {
        font-family: 'Epilogue';
        color: #2947F2;
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
        letter-spacing: 1.14px;

        @media screen and (max-width: 1440px) {
            font-size: 25px;
            line-height: 30px;
        }

        @media screen and (max-width: 540px) {
            font-size: 18px;
            line-height: 20px;    
        }
    }

    .subtext {
        font-family: "Manrope";
        color: #01031C;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0.54px;

        @media screen and (max-width: 540px) {
            font-size: 16px;
            line-height: 20px;    
        }

        span {
            white-space: pre;
        }
    }
}