@import "../../../../../../assets/scss/variable";

::ng-deep {
  .set-convertion-container-step5 {
    display: flex;
    gap: 21px;
    height: calc(100vh - 48px);
    max-height: 918px;
    font-family: $he_heebo;
    // overflow: hidden;

    @media screen and (max-width: 1440px) {
      max-height: calc(100vh - 50px);
    }

    @media screen and (min-width: 768px) and (orientation: portrait) {
      max-height: 46vh;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }

    .left-panel {
      display: flex;
      align-items: center;
      background: url(../../../../../../assets/images/fx-erp/fx-erp-step-left-bg.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      background-position: center;
      width: 100%;
      max-width: 484px;
      border-radius: 10px;

      @media screen and (max-width: 1199px) {
        max-width: 350px;
      }

      @media screen and (max-width: 991px) {
        max-width: 250px;
      }

      @media screen and (max-width: 767px) {
        max-width: 100%;
        max-height: max-content;
      }

      .info-sec {
        padding: 0 20px 0 89px;

        @media screen and (max-width: 1199px) {
          padding: 0 40px;
        }

        @media screen and (max-width: 991px) {
          padding: 0 30px;
        }

        @media screen and (max-width: 767px) {
          padding: 30px;
        }

        .title {
          color: #fff;
          font-size: 60px;
          font-weight: 700;
          line-height: 72px;
          letter-spacing: -1.2px;
          margin: 0;

          @media screen and (max-width:1440px) {
            font-size: 50px;
            line-height: 1.2;
          }

          @media screen and (max-width: 1199px) {
            font-size: 40px;
          }

          @media screen and (max-width:1024px) {
            font-size: 30px;
          }

          @media screen and (max-width:991px) {
            font-size: 25px;
          }

          @media screen and (max-width:767px) {
            font-size: 20px;

            br {
              display: none;
            }
          }

          @media screen and (max-width:580px) {
            font-size: 18px;
          }
        }

        .desc {
          color: #05F2F2;
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
          margin: 0;

          @media screen and (max-width: 1199px) {
            font-size: 18px;
            line-height: 1.2;
          }

          @media screen and (max-width:1024px) {
            font-size: 16px;
          }

          @media screen and (max-width:991px) {
            font-size: 14px;
          }

          @media screen and (max-width:767px) {
            font-size: 12px;

            br {
              display: none;
            }
          }
        }
      }
    }

    .right-panel {
      padding: 40px 16px;
      display: flex;
      flex-direction: column;
      position: relative;
      background: url(../../../../../../assets/images/fx-erp/fx-erp-step-right-bg1.svg);
      background-position: bottom;
      background-size: cover;
      width: 100%;
      overflow-y: auto;
      height: 100%;

      .top-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 106px;

        @media screen and (max-width:1440px) {
          gap: 50px;
        }

        @media screen and (max-width:991px) {
          gap: 20px;
        }

        .back-btn {
          color: #4b5563;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          padding: 12px 20px;

          @media screen and (max-width:1440px) {
            padding: 0;
          }

          @media screen and (max-width: 767px) {
            padding: 15px 0px;
          }
        }

        .stepper-steps {
          display: flex;
          align-items: center;
          gap: 20px;
          margin: 0;
          padding: 0;

          @media screen and (max-width:991px) {
            gap: 10px;
          }

          @media screen and (max-width: 767px) {
            margin: auto;
          }

          li {
            width: 99px;
            height: 6px;
            background-color: #ECECF3;

            &:first-child {
              border-top-left-radius: 2.5px;
              border-bottom-left-radius: 2.5px;
            }

            &:last-child {
              border-top-right-radius: 2.5px;
              border-bottom-right-radius: 2.5px;
            }

            &.active {
              background-color: #2320E6;
            }

            @media screen and (max-width:1440px) {
              width: 60px;
            }

            @media screen and (max-width:991px) {
              width: 50px;
            }

            @media screen and (max-width:767px) {
              width: 40px;
            }
          }
        }
      }

      @media screen and (max-width: 1440px) {
        padding: 30px 10px;
      }

      @media screen and (max-width: 1199px) {
        padding: 20px 0;
      }

      @media screen and (max-width: 767px) {
        padding: 0;
      }

      .content {
        max-width: 570px;
        margin: 24px auto 20px 174px;
        width: 100%;

        @media screen and (max-width:1440px) {
          margin: 20px auto 20px 80px;
        }

        @media screen and (max-width:1199px) {
          margin: 20px auto;
        }

        @media screen and (max-width:767px) {
          margin: 0 auto;
        }

        .label-with-tooltip {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #7687AB;
          font-size: 14px;
          font-weight: 700;
          line-height: 120%;
          margin: 0 0 4px;

          img {
            width: 20px;
          }

          @media screen and (max-width:1440px) {
            gap: 5px;
          }
        }

        .title {
          color: #111827;
          font-size: 24px;
          font-weight: 700;
          line-height: 120%;
          margin: 0 0 21px;

          @media screen and (max-width:1440px) {
            font-size: 18px;
            line-height: 1.2;
            margin: 0 0 10px;
          }

          @media screen and (max-width:767px) {
            font-size: 16px;
          }
        }

        .rule-form-wrap {
          .input-label {
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 0 5px;
          }

          .name-input {
            border-radius: 3px;
            border: 1px solid #2320E6;
            color: #000;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            padding: 15px 20px;
            width: 100%;
            
            &::placeholder {
              color: #696969;
            }

            &.validation-error {
              border: 1px solid #DC2626;
            }
            @media screen and (max-width:1440px) {
              padding: 10px 15px;
            }
            @media screen and (max-width:1024px) {
              padding: 10px;
            }
          }

          .note-text {
            color: #767676;
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
            margin: 4px 0 0;
          }

          .btn-finish {
            display: flex;
            width: 169px; 
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 40px;
            background: #2320E6;
            color: #FFFFFF;
            align-items: center;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin: 26px auto 0;

            @media screen and (max-width:1440px) {
              margin: 15px auto 0;
            }
            @media screen and (max-width:767px) {
              width: max-content;
              font-size: 14px;
            }

            &.validation-error {
              cursor: pointer;
              pointer-events: none;
            }
          }
        }
      }

    }

  }
  .error-msgs {
    margin: 7px 0;
    display: block;
    color: #dc2626;
    font-family:$he_heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .err-image{
    margin-right: 5px;
  }
}