<div class="loader-wrapper">
  <div class="dashboard-wallet-header-section">
    <app-wallet-list-general id="walletList" (onViewDetailClick)="openAddMoney()"
      [isDashboardBody]="true"></app-wallet-list-general>
  </div>
  <div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let item of dashboardItems">
      <div id="dashboardStatistics" *ngIf="item.index == 1" class="drag-item first-row" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <img src="images/drag-haldle.svg" alt="drag-haldle" id="deag-handle">
        </div>
        <div class="box-with-error-msg">
          <div class="summary-box free-balance">
            <div class="box-content">
              <span class="box-label" id="free-balance-label">Free Balance</span> 
              <span
                class="box-value box-value-clamp"><span class="currency-icon">{{activeCurrency?.wallet_Currency?.sign}}</span>{{activeCurrency?.wallet_Available
                | number:'1.2-2' }}</span>
            </div>
          </div>
        </div>
        <div class="box-with-error-msg">
          <div class="summary-box open-invoices loader-wrapper">
            <div class="box-content">
              <span class="box-label">Open Invoices</span>
              <span class="box-value box-value-clamp-open-invoices">{{dashboardpanelData?.openInvoices ?
                (dashboardpanelData?.openInvoices) : '-'}}</span>
            </div>
            <div class="invoices-status">
              <span class="status at-risk">At Risk({{dashboardpanelData?.invoicesAtRisk ?
                dashboardpanelData?.invoicesAtRisk : '-'}})</span>
              <span class="status at-opportunity">At Opportunity({{dashboardpanelData?.invoicesAtOpportunity ?
                dashboardpanelData?.invoicesAtOpportunity : '-'}})</span>
            </div>
          </div>
          <div class="error-msg-dashbord">
            <span class="errormsg" id="error-msg" *ngIf="errormsg">{{errormsg}}</span>
          </div>
        </div>
        <div class="box-with-error-msg" *ngIf="user?.afiiliate?.currency != 'EUR'">
          <div class="summary-box current-hedge">
            <div class="box-content">
              <span class="box-label">Current Hedge</span>
              <span class="box-value box-value-clamp-current-hedge">{{activeCurrency?.wallet_Hedging &&
                activeCurrency?.wallet_Hedging?.percentage != null && activeCurrency?.wallet_Hedging?.percentage ?
                ((activeCurrency?.wallet_Hedging?.percentage | number:'1.2-2') + '%') : '-'}}</span>
            </div>
            <div class="hedge-amount">
              <span class="total-amount">{{activeCurrency?.wallet_Hedging &&
                activeCurrency?.wallet_Hedging?.totalHedging != null && activeCurrency?.wallet_Hedging?.totalHedging ?
                (activeCurrency?.wallet_Currency?.sign + (activeCurrency?.wallet_Hedging?.totalHedging | number:'1.2-2')) : '-'}}</span>/
              <span class="available-amount">{{activeCurrency?.wallet_Hedging &&
                activeCurrency?.wallet_Hedging?.exposureAmount != null && activeCurrency?.wallet_Hedging?.exposureAmount
                ? (activeCurrency?.wallet_Currency?.sign + (activeCurrency?.wallet_Hedging?.exposureAmount | number:'1.2-2')) : '-'}}</span>
            </div>
          </div>
        </div>
        <div class="box-with-error-msg">
          <div class="summary-box risk-chart loader-wrapper">
            <app-market-risk-chart [marketRisk]="dashboardpanelData?.marketRisk"></app-market-risk-chart>
          </div>
          <div class="error-msg-dashbord">
            <span class="errormsg" id="error-msg" *ngIf="errormsg">{{errormsg}}</span>
          </div>
        </div>
      </div>
      <div *ngIf="item.index == 2" class="drag-item second-row" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <img src="images/drag-haldle.svg" alt="drag-haldle">
        </div>
        <mat-card class="calendar-box">
          <!-- <app-calendar [showTable]="showTable" (tableVisibilityChange)="changeTableVisibility($event)"
            [resourceId]="resourceId"></app-calendar> -->
        </mat-card>
        <mat-card class="side-tab-box">
          <app-side-tabs></app-side-tabs>
        </mat-card>
      </div>
      <div *ngIf="item.index == 3" class="drag-item third-row" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <img src="images/drag-haldle.svg" alt="drag-haldle">
        </div>
        <div id="tradingViewChart" class="trading-view-box">
          <h2 class="section-title">Last payment rate<span class="info-icon" htmlTooltip
              tooltipBody="Refers to the rate at which a payment was made. Monitoring the last payment rate can be essential for future payment and managing cash flow.">i</span>
          </h2>
          <mat-card class="box-card">
            <app-market-overview-chart [lastPaymentRateData]="lastPaymentRateData"></app-market-overview-chart>
          </mat-card>
        </div>
        <div class="lock-payment-box">
          <div class="section-title">
            <h2>Lock your next payment</h2>
            <div class="d-flex justify-content-between lock-payment-btns">
              <img class="prev-btn-swiper" [ngClass]="{
              'disable-btn-swiper': isFirstSlide,
              'next-btn-swiper': !isLastSlide && !isFirstSlide,
              'previous-btn-swiper': (!isLastSlide && !isFirstSlide) || isLastSlide}" (click)="goToPreviousSlide()" src="images/previous-slide-icon.svg" id="lockPayment-btns-prevslide"/>

              <img class="next-btn-swiper" [ngClass]="{ 'disable-btn-swiper': isLastSlide }" (click)="goToNextSlide()"
                src="images/next-slide-icon.svg" id="lockPayment-btns-nextslide"/>
            </div>
          </div>
          <mat-card class="box-card">
            <app-lock-next-payment [lastPaymentRateData]="lastPaymentRateData"></app-lock-next-payment>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <app-page-loader classes="bg-white section-loader top-new" *ngIf="Loader"></app-page-loader> -->
</div>
<app-footer></app-footer>