<div class="loader-wrapper">
  <div class="dashboard-wallet-header-section">
    <app-wallet-list-general id="walletList" (onViewDetailClick)="openAddMoney()"
      [isDashboardBody]="true"></app-wallet-list-general>
  </div>
  <div cdkDropList class="drag-list" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let item of dashboardItems">
      <div id="dashboardStatistics" *ngIf="item.index == 1" class="drag-item first-row" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <img src="images/drag-haldle.svg" alt="drag-haldle" id="deag-handle">
        </div>
        <div class="box-with-error-msg">
          <app-free-balance-box [activeCurrency]="activeCurrency"></app-free-balance-box>
        </div>
        <div class="box-with-error-msg">
          <app-open-invoices-box></app-open-invoices-box>
        </div>
        <div class="box-with-error-msg">
          <app-current-hedge-box [activeCurrency]="activeCurrency"></app-current-hedge-box>
        </div>
        <div class="box-with-error-msg">
          <app-market-risk-box></app-market-risk-box>
        </div>
      </div>
      <div *ngIf="item.index == 2" class="drag-item second-row" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <img src="images/drag-haldle.svg" alt="drag-haldle">
        </div>
        <mat-card class="calendar-box">
          <app-calendar [showTable]="showTable" (tableVisibilityChange)="changeTableVisibility($event)"
            [resourceId]="resourceId"></app-calendar>
        </mat-card>
        <mat-card class="side-tab-box">
          <app-side-tabs></app-side-tabs>
        </mat-card>
      </div>
      <div *ngIf="item.index == 3" class="drag-item third-row" cdkDrag>
        <div class="drag-handle" cdkDragHandle>
          <img src="images/drag-haldle.svg" alt="drag-haldle">
        </div>
        <!-- <app-trade-view-wrapper [lastPaymentRateData]="lastPaymentRateData"></app-trade-view-wrapper> -->
        <div id="tradingViewChart" class="trading-view-box">
          <!-- <h2 class="section-title">Last payment rate<span class="info-icon" htmlTooltip
              tooltipBody="Refers to the rate at which a payment was made. Monitoring the last payment rate can be essential for future payment and managing cash flow.">i</span>
          </h2>
          <mat-card class="box-card">
            <app-market-overview-chart [lastPaymentRateData]="lastPaymentRateData"></app-market-overview-chart>
          </mat-card> -->
          <app-trade-view-wrapper [lastPaymentRateData]="lastPaymentRateData"></app-trade-view-wrapper>
        </div> 
        <div class="lock-payment-box">
          <div class="section-title">
            <h2>Lock your next payment</h2>
            <div class="d-flex justify-content-between lock-payment-btns">
              <img class="prev-btn-swiper" [ngClass]="{
              'disable-btn-swiper': isFirstSlide,
              'next-btn-swiper': !isLastSlide && !isFirstSlide,
              'previous-btn-swiper': (!isLastSlide && !isFirstSlide) || isLastSlide}" (click)="goToPreviousSlide()" src="images/previous-slide-icon.svg" id="lockPayment-btns-prevslide"/>

              <img class="next-btn-swiper" [ngClass]="{ 'disable-btn-swiper': isLastSlide }" (click)="goToNextSlide()"
                src="images/next-slide-icon.svg" id="lockPayment-btns-nextslide"/>
            </div>
          </div>
          <mat-card class="box-card">
            <app-lock-next-payment [lastPaymentRateData]="lastPaymentRateData"></app-lock-next-payment>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- <app-page-loader classes="bg-white section-loader top-new" *ngIf="Loader"></app-page-loader> -->
</div>
<app-footer></app-footer>