@import "../../../../assets/scss/variable";

::ng-deep {
  .hedging-amount-ttp {
    cursor: pointer;
    --bs-tooltip-opacity: 1;

    .tooltip-inner {
      width: 100%;
      display: flex;
      max-width: max-content;
      min-width: 250px;
      height: 100%;
      border-radius: 7px;
      background: rgba(29, 41, 57, 0.90);
      box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
      opacity: 1;
      padding: 0 !important;
    }

    .amount-hedgetp-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8.5px;
      padding: 17px 15px 15px 16px;
      width: 100%;

      .values {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        &:not(.max-hedge) {
          .parent {
            color: $white;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }

          .subtext {
            color: $white;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
          }
        }

        &.max-hedge {

          .parent,
          .subtext {
            color: #F97066;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
          }
        }
      }
    }

    .tooltip-arrow {
      &::before {
        border-top-color: rgba(29, 41, 57, 0.90);
        border-top-width: 11px;
        border-right-width: 8px;
        border-left-width: 8px;
      }
    }

    &.w {
      &--s {
        width: 150px;
      }
    }

    & .underlined-content {
      text-decoration: underline !important;
      background-color: transparent !important;

      &:hover {
        background-color: transparent !important;
      }
    }
  }

  .saveToolWrap {
    .tooltip-inner {
      width: 100%;
      display: flex;
      max-width: max-content;
      min-width: 187px;
      height: 100%;
      border-radius: 8px;
      background: $white;
      box-shadow: 0px 8px 16px -2px rgba(27, 33, 44, 0.12);
      opacity: 1;
      padding: 12px !important;
      color:#1D2939;
      text-align: center;
      font-family:$he_heebo;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      align-items: center;
      gap: 5px;
    }
    .tooltip-arrow {
      &::before {
        border-top-color: $white;
        border-top-width: 11px;
        border-right-width: 8px;
        border-left-width: 8px;
      }
    }
  }

  .recommended-amount-ttp {
    bottom: 7px !important;

    .tooltip-arrow {
      &::before {
        border-top-color: rgba(29, 41, 57, 0.90);
        border-top-width: 11px;
        border-right-width: 8px;
        border-left-width: 8px;
      }
    }

    .tooltip-inner {
      border-radius: 7px;
      background: rgba(29, 41, 57, 0.90);
      box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
      padding: 11px 18px 11px 13px;
      color: $white;
      font-family: $he_heebo;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 100%;
      text-align: left;
      max-width: 231px;

      .recommended-shield-ttp {
        .amount {
          font-weight: 700;
        }
      }
    }
  }

  .hedge-proposal-container {
    max-width: 1193px;
    margin: auto;

    @media screen and (max-width:1440px) {
      max-width: max-content;
    }

    .hedge-header {
      .hedge-heading {
        color: var(--highlight-prime);
        font-family: $he_heebo;
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        margin: 0 0 26px;

        @media screen and (max-width: 1440px) {
          font-size: 25px;
          margin: 0 0 15px;
        }
      }
    }

    .hedge-details {
      width: 100%;
      max-width: 1189px;
      border-radius: 10px;
      opacity: 0.8;
      background: var(--light-blue);
      border: 1px solid #fff;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      @media screen and (max-width: 1440px) {
        max-width: 1080px;
      }

      .hedge-type-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        padding: 26px 0 16px 29px;

        .hedge-label {
          color: $white;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;

          @media screen and (max-width: 1024px) {
            font-size: 12px;
          }
        }

        .hedge-select {
          width: auto;
          min-width: 136px;
          height: 48px;
          border-radius: 100px;
          border: 1px solid #bdcdff;
          display: flex;
          align-items: center;
          padding: 10px 33px 10px 20px;

          @media screen and (max-width: 1440px) {
            height: 40px;
          }

          .mat-mdc-select-trigger {
            gap: 10px;

            .mat-mdc-select-value {
              color: #fff;
              text-align: center;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 700;
              line-height: 28px;

              &::after {
                position: absolute;
                content: "";
                background-image: url(../../../../assets/images/white-dropdown-arrow.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 10px;
                height: 6px;
                top: 11px;
                left: 75px;
              }
            }

            .mat-mdc-select-arrow-wrapper {
              display: none;
            }
          }
        }
      }

      .hedge-details-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // gap: 112px; 
        background-color: $white;
        border-radius: 10px;
        padding: 41px 44px 36px 48px;
        border: 1px solid #fff;
        box-shadow: 0px 20px 24px -4px rgba(41, 71, 242, 0.1);

        @media screen and (max-width: 1440px) {
          flex-wrap: wrap;
          padding: 35px 30px 35px 40px;
          // gap: 90px;
        }

        @media screen and (max-width: 1280px) {
          padding: 30px 30px 30px 35px;
          // gap: 105px;
        }

        @media screen and (max-width: 1180px) {
          // gap: 85px;
        }

        @media screen and (max-width: 1024px) {
          padding: 25px;
          justify-content: normal;
          gap: 20px;
          // gap: 42px;
        }

        @media screen and (max-width: 820px) {
          padding: 25px;
          // gap: 35px;
        }

        @media screen and (max-width: 768px) {
          // gap: 30px;
          padding: 20px;
        }


        .values-wrapper {

          &.hedge-total-section,
          &.hedge-rate-section,
          &.hedge-collateral-section {
            position: relative;
            border-right: 1px dashed #d0d5dd;
            padding-right: 45px;
            padding-left: 10px;
            min-height: 80px;
            height: 100%;
            max-height: 80px;

            @media screen and (max-width: 1024px) {
              padding-right: 20px;
            }

            // &::after {
            //   content: "";
            //   border-left: 1px dashed #d0d5dd;
            //   height: 100%;
            //   width: 0;
            //   position: absolute;
            //   height: 93px;
            //   top: 3px;
            // }

            // &.hedge-total-section::after {
            //   left: 200px;

            //   @media screen and (max-width: 1024px) {
            //     left: 145px;
            //   }

            //   @media screen and (max-width: 820px) {
            //     display: none;
            //   }
            // }

            // &.hedge-rate-section::after {
            //   left: 160px;

            //   @media screen and (max-width: 1440px) {
            //     left: 150px;
            //   }

            //   @media screen and (max-width: 1024px) {
            //     left: 110px;
            //   }

            //   @media screen and (max-width: 820px) {
            //     display: none;
            //   }
            // }

            // &.hedge-collateral-section::after {
            //   left: 180px;

            //   @media screen and (max-width: 1440px) {
            //     left: 165px;
            //   }

            //   @media screen and (max-width: 1024px) {
            //     left: 135px;
            //   }

            //   @media screen and (max-width: 820px) {
            //     display: none;
            //   }
            // }

            .hedge-label {
              margin-bottom: 4px;
              color: #667085;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
            }

            .currency-info {
              height: 30px;
            }

            .hedge-period {
              color: #98a2b3;
              font-family: $he_heebo;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;

              @media screen and (max-width: 1024px) {
                font-size: 13px;
              }
            }

            .hedge-currency {
              color: #111827;
              font-family: $he_heebo;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              align-self: flex-end;
            }

            .amount-wrapper {
              display: flex;
              align-items: center;
              height: 30px;

              .hedge-percentage {
                display: flex;
                color: #067647;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 400;
                line-height: 12px;
                border-radius: 30px;
                background: #dcfae6;
                padding: 7px 10px;
                margin-left: 5px;
              }
            }

            .hedge-total-amount,
            .hedge-rate,
            .hedge-collateral,
            .hedge-price {
              color: #111827;
              font-family: $he_heebo;
              font-size: 30px;
              font-weight: 400;

              @media screen and (max-width: 1440px) {
                font-size: 26px;
              }

              @media screen and (max-width: 1024px) {
                font-size: 18px;
              }
            }
          }

          .hedge-deposit-link {
            color: var(--highlight-prime);
            font-family: $he_heebo;
            font-size: 12px;
            font-weight: 600;
            line-height: 10px;
            cursor: pointer;
            margin-bottom: 0;
          }

          &.hedge-price-section {
            .hedge-label {
              margin-bottom: 4px;
              color: #667085;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;


            }

            .hedge-price {
              color: #111827;
              font-family: $he_heebo;
              font-size: 30px;
              font-weight: 400;

              @media screen and (max-width: 1440px) {
                font-size: 26px;
              }

              @media screen and (max-width: 1024px) {
                font-size: 18px;
              }
            }

            .hedge-currency {
              color: #111827;
              font-family: $he_heebo;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
            }
          }
        }

        .hedge-actions {
          display: flex;
          flex-direction: column;
          align-items: center;

          .hedge-all-button {
            border-radius: 50px;
            background: var(--highlight-prime);
            color: $white;
            font-family: $he_heebo;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            width: 188px;
            height: 58px !important;

            @media screen and (max-width: 1440px) {
              height: 48px !important;
              width: 160px;
            }

            @media screen and (max-width: 1024px) {
              height: 38px !important;
              width: 150px;
            }
          }

          .hedge-proposal-refresh {
            color: $black;
            text-align: center;
            font-family: $he_heebo;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0;
            margin-top: 6px;

            .refresh-timer {
              color: #d92d20;
              font-weight: 700;
            }
          }

          .error-month {
            color: #D92D20;
            text-align: center;
            font-family: $he_heebo;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            margin-top: 11px;
          }
        }
      }
    }

    .hedge-table-section {
      width: 100%;
      max-width: 1193px;
      overflow-y: auto;
      margin: 63px 0 0;

      @media screen and (max-width: 1440px) {
        max-width: 1080px;
        margin: 50px 0 0;
      }

      @media screen and (max-width:1024px) {
        margin: 40px 0 0;
      }

      .hedge-table {
        box-shadow: none;
        background: transparent !important;

        .err-status-two {
          color: #D92D20;
          font-family: $he_heebo;
          font-size: 15px;
          font-weight: 500;
          line-height: 20px;

          .weight {
            font-weight: 800;
          }
        }

        .mat-mdc-header-row {
          background-color: #EEF3FC;
          white-space: nowrap;
          position: relative;

          .mdc-data-table__header-cell {
            border-bottom-width: 0;
            color: #98A2B3;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;

            &:first-child {
              padding-left: 43px;
              padding-top: 9px;
            }
          }
        }

        .mdc-data-table__content {
          .mat-mdc-row {
            border-bottom: 7px solid #EEF3FC;
            height: 100px;
            background: #fafafe;
            position: relative;

            @media screen and (max-width: 1440px) {
              height: 85px;
            }

            .mat-mdc-cell:first-child {
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              padding-left: 43px;
            }

            .mat-mdc-cell:last-child {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }

            &.padding-for-error {
              .mdc-data-table__cell {
                padding: 20px 16px 60px 16px;
                &.mat-column-expiryDate{
                  padding: 20px 16px 60px 24px;
                }
                &:first-child {
                  padding: 20px 10px 60px 43px;
                }

                // &:last-child {
                //   padding: 20px 16px 60px 16px;
                // }
              }
            }
          }
        }

        .mat-column-expiryDate {
          color: #344054;
          font-family: $he_heebo;
          padding: 9px 24px;

          .date-expand {
            color: #344054;
            font-family: $he_heebo;
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;

            &.inactive-month {
              color: #F04438
            }

            mat-icon {
              vertical-align: bottom;
            }
          }

          .monthly-date {
            visibility: hidden !important;
            position: absolute;
          }
        }

        .mat-column-hedgeRate {
          color: #111827;
          font-family: $he_heebo;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
        }

        .mdc-data-table__cell {
          overflow: visible;
          white-space: nowrap;

          .hedge-btn {
            color: $white;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            border-radius: 50px;
            background: var(--highlight-prime);
            width: 112px;
            height: 37px;
          }

          .save-row-btn {
            color: var(--primary-blue);
            font-family: $he_heebo;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            padding: 8px 42px;
            border-radius: 9999px;
            border: 1px solid #D1D5DB;
            background-color: transparent;
            margin-right: 24px;
            visibility: hidden;

            &.save-activated {
              visibility: visible;
            }
          }

          .row-hedged {
            color: var(--highlight-prime);
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
          }

          .bookmark-btn {
            background: transparent;
          }

          .buying-price {
            display: flex;
            align-items: center;
            gap: 5px;

            .amount-text {
              color: var(--highlight-prime);
              font-family: $he_heebo;
              font-size: 16px;
              font-weight: 800;
              line-height: 20px;
            }

            .edit-exposer {
              background: transparent;
              border-radius: 34px;
              border: 1px dashed var(--Gray-300, #D0D5DD);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 28px;
              height: 28px;
            }
          }

          .edit-exposer-wrap {
            position: absolute;
            right: 0;
            background: #fff;
            top: 80px;
            z-index: 9;
            box-shadow: 0px 5px 64px -12px rgba(16, 24, 40, 0.20);
            height: auto;
            min-width: 414px;
            border-left: 3px solid #1570EF;
            padding: 16px 18px;

            &.with-error {
              padding: 16px 18px 6px 18px;

              .edit-inner {
                .input-wrap {
                  border-color: #D92D20;
                }
              }
            }

            .edit-inner {
              display: flex;
              justify-content: space-between;
              align-items: center;

              @media screen and (max-width: 540px) {
                gap: 15px;
              }

              .input-wrap {
                position: relative;
                border-radius: 6px;
                border: 1px solid var(--highlight-prime);

                .edit-price {
                  border: none;
                  background: transparent;
                  height: 52px;
                  padding: 16px 8px 16px 18px;
                  color: #475467;
                  font-family: $he_heebo;
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 20px;
                  width: 169px;

                  @media screen and (max-width: 1440px) {
                    height: 45px;
                  }
                }

                span {
                  position: relative;
                  left: 15px;

                  @media screen and (max-width: 1440px) {
                    font-size: 14px;
                  }
                }

                .clear-input {
                  position: relative; // it was absolute
                  right: 0;
                  top: 0;
                  bottom: 0;
                  background: transparent;
                  z-index: 2;
                }
              }

              .edit-e-option {
                .cancel-btn {
                  color: #475467;
                  font-family: $he_heebo;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  background-color: transparent;
                }

                .save-btn {
                  border-radius: 40px;
                  background: #1D2939;
                  color: $white;
                  font-family: $he_heebo;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  padding: 4px 15px;
                  margin: 0 0 0 5px;
                }
              }
            }

            &.error-input {
              padding: 16px 18px 7px 18px;

              .edit-inner {
                .input-wrap {
                  position: relative;
                  border-color: #D92D20;

                  .edit-price {
                    // border-color: #D92D20;
                  }

                  span {
                    position: relative;
                    left: 15px;
                  }
                }
              }
            }

            .warning-error {
              margin: 0;
              padding: 5px 0 0;
              color: #D92D20;
              font-family: $he_heebo;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
            }
          }
        }

        .filter-checkbox {
          &.select-all {
            margin-bottom: 10px;
          }

          &.mat-mdc-checkbox-disabled {
            &.mat-mdc-checkbox {
              .mdc-checkbox {
                .mdc-checkbox__background {
                  border: 1px solid #9B9B9D !important;
                }
              }
            }
          }

          &.mat-mdc-checkbox {
            .mdc-checkbox {
              padding: 0 !important;

              .mdc-checkbox__native-control {
                width: 20px !important;
                height: 20px !important;
              }

              .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
              .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
              .mdc-checkbox__native-control[data-indeterminate="true"]:enabled~.mdc-checkbox__background {
                border-color: var(--brand-primary-color) !important;
                background-color: var(--brand-primary-color) !important;
                border-radius: 6px !important;
              }

              .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
                color: #fff !important;
              }

              .mdc-checkbox__native-control:indeterminate~.mdc-checkbox__background .mdc-checkbox__mixedmark,
              .mdc-checkbox__native-control[data-indeterminate="true"]~.mdc-checkbox__background .mdc-checkbox__mixedmark {
                transform: scaleX(0.7) rotate(0deg);
              }

              .mdc-checkbox__background {
                width: 20px !important;
                height: 20px !important;
                border: 1px solid var(--brand-primary-color) !important;
                left: 0 !important;
                top: 0 !important;
                border-radius: 6px !important;

                .mdc-checkbox__checkmark {
                  width: 12px !important;
                  margin: auto !important;
                }

                .mdc-checkbox__checkmark-path {
                  stroke-width: 4px !important;
                }
              }
            }

            &.mat-accent {
              .mdc-checkbox--selected~.mdc-checkbox__ripple {
                background: var(--brand-primary-color) !important;
              }
            }

            .mat-mdc-focus-indicator,
            .mat-mdc-checkbox-touch-target,
            .mat-mdc-checkbox-ripple,
            .mdc-checkbox__ripple {
              display: none !important;
            }

            .mdc-form-field>label {
              font-family: $he_heebo;
              font-size: 14px;
              line-height: 20px;
              font-weight: 400;
              color: #000;
              padding-left: 9px !important;

              .msg {
                color: #808080;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                padding-left: 10px;

                @media screen and (max-width: 1440px) {
                  padding-left: 4px;
                }
              }
            }

            .mdc-form-field {
              align-items: flex-start !important;
            }
          }
        }

        .disabled-cell {
          filter: grayscale(1);
          opacity: 0.6;
          pointer-events: none;
        }

        .disabled-row {
          background: rgba(255, 255, 255, 0.60);

          .mat-column-select {
            filter: grayscale(1);
            opacity: 0.6;
            pointer-events: none;
          }
        }
      }

      .recommended-slider-marker {
        position: absolute;
        height: auto;
        transform: translateX(-50%);
      }

      .amount-hedge-slider {
        display: flex;
        align-items: center;
        position: relative;

        .sliders-inner {
          display: flex;
          align-items: center;

          .tool-tip-cs {
            margin-left: 10px;
            padding: 7px 0;
            cursor: pointer;
          }


          &.reset-applied {
            .amount-hedge-slider-inner {
              width: 262px; // it was 262px

              @media screen and (max-width:1440px) {
                width: 200px;
              }

              &.mdc-slider--disabled {
                cursor: pointer;
              }

              &.mat-primary {
                --mdc-slider-active-track-color: #2E90FA;
              }

              .mat-mdc-slider-visual-thumb {
                .mdc-slider__thumb-knob {
                  border-color: $white;
                  width: 30px;
                  height: 30px;
                  background-color: $white;
                  border-width: 8px;
                  outline: 3px solid rgba(245, 245, 245, .8);
                  box-shadow: 0px 4px 45px rgba(16, 24, 40, 0.30);

                  &::after {
                    position: absolute;
                    content: "";
                    width: 14px;
                    height: 10px;
                    top: 3px;
                    left: 0;
                    background-image: url(../../../../assets/images/slider-arrow-hedging-dark.svg);
                    background-repeat: no-repeat;
                    background-size: auto;
                  }
                }
              }
            }
          }

          .amount-hedge-slider-inner {
            width: 262px; // it was 262px

            @media screen and (max-width:1440px) {
              width: 200px;
            }

            &.mat-primary {
              --mdc-slider-inactive-track-color: #99B2FF;
              --mdc-slider-active-track-color: #2E90FA;
              --mat-mdc-slider-focus-ripple-color: none;
              --mat-mdc-slider-hover-ripple-color: none;
            }

            &.slider-input-disabled {
              filter: grayscale(1);
              opacity: 0.6;
              pointer-events: none;

              &.mdc-slider--disabled {
                opacity: 1;
              }

              &.mdc-slider--disabled .mdc-slider__track--active_fill {
                border-color: #2E90FA;
              }

              .mdc-slider__input {
                cursor: auto;
              }
            }

            .mat-mdc-slider-visual-thumb {
              z-index: 1;
              .mdc-slider__thumb-knob {
                border-color: var(--highlight-prime);
                width: 30px;
                height: 30px;
                background-color: var(--highlight-prime);
                border-width: 8px;
                outline: 6px solid rgba(217, 220, 241, .6);

                &::after {
                  position: absolute;
                  content: "";
                  width: 14px;
                  height: 10px;
                  top: 3px;
                  left: 0;
                  background-image: url(../../../../assets/images/slider-arrow-hedging.svg);
                  background-repeat: no-repeat;
                  background-size: auto;
                }
              }
            }
          }

          .reset-link {
            color: var(--highlight-prime);
            font-family: $he_heebo;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            text-decoration: underline !important;
            margin-left: 15px;
          }
        }
      }

      .transaction-unavailable-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid #FECDCA;
        background: #FEE4E2;
        position: absolute;
        bottom: 5px;
        width: calc(100% - 50px);
        left: 0;
        right: 0;
        margin: auto;
        content: "";
        z-index: 1;
        @media screen and (max-width:1440px) {
          width: calc(100% - 35px);
        }

        .transaction-unavailable-err {
          color: #D92D20;
          font-family: $he_heebo;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
          margin-bottom: 0;

          a {
            color: var(--highlight-prime);
            font-family: $he_heebo;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border-bottom: 1px solid var(--highlight-prime);
            cursor: pointer;
          }

          span {
            font-weight: 400;
          }
        }
      }


      .hedge-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;

        .hedge-all-button {
          border-radius: 50px;
          background: var(--highlight-prime);
          color: $white;
          font-family: $he_heebo;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          width: 188px;
          height: 58px !important;

          @media screen and (max-width: 1440px) {
            height: 48px !important;
            width: 160px;
          }

          @media screen and (max-width: 1024px) {
            height: 38px !important;
            width: 150px;
          }
        }

        .hedge-proposal-refresh {
          color: $black;
          text-align: center;
          font-family: $he_heebo;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 0;
          margin-top: 7px;

          .refresh-timer {
            color: #d92d20;
            font-weight: 700;
          }
        }
      }

    }

    .hedging-pagination-wrapper {
      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 0;
      }

      .total-transaction-text {
        font-weight: 700;
      }

      .page-item {
        margin-right: 5px;

        &:first-child,
        &:last-child {
          display: none;
        }

        &:nth-child(2) {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: #fff;
        }

        &:nth-last-child(2) {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: #fff;
        }

        .page-link {
          display: flex;
          width: 32px;
          height: 32px;
          padding: 10px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: $white;
          border: none;
          color: #333;
          font-family: "Heebo";
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &:focus {
            box-shadow: none;
          }
        }

        &.active {
          .page-link {
            border-radius: 8px;
            background: var(--pagination-btn-bg-color);
            display: flex;
            width: 32px;
            height: 32px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #fff;
            font-family: "Heebo";
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }

    .error-message {
      display: flex;
      align-items: center;
      color: #D92D20;
      font-family: $he_heebo;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      gap: 4px;
      margin-top: 9px;
    }

  }

  .cashflow-date-calendar-cd {
    position: relative;

    &.mat-calendar {
      width: 100% !important;
      max-width: 324px;
      min-width: 324px;
      height: 100% !important;

      .mat-calendar-header {
        pointer-events: none;
        padding: 18px 27px 0 10px;

        .mat-calendar-controls {
          margin: 0;

          .mat-calendar-previous-button,
          .mat-calendar-next-button {
            display: none;
          }
        }
      }

      .mat-calendar-header {
        .mat-calendar-period-button {
          text-transform: lowercase;
          font-weight: 600;
          color: #344054;
          font-family: $he_heebo;
          line-height: 24px;

          .mdc-button__label {
            span:first-letter {
              text-transform: uppercase;
            }
          }

          .mat-calendar-arrow {
            display: none;
          }
        }
      }

      .mat-calendar-header button.mat-calendar-period-button span:first-letter {
        text-transform: uppercase;
      }

      .mat-calendar-header button.mat-calendar-period-button .mat-calendar-arrow {
        display: none;
      }

      .mat-calendar-content {
        padding: 0 17px 13px 17px;

        .mat-calendar-table {
          .mat-calendar-table-header {
            color: #344054;
            font-family: $he_heebo;
            font-size: 12px;
            line-height: 18px;

            th {
              padding: 10px;
              font-weight: 400 !important;
            }

            .mat-calendar-table-header-divider {
              padding: 0;

              &::after {
                left: 0;
                right: 0;
              }
            }
          }
        }

        .mat-calendar-body {
          .mat-calendar-body-label {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            visibility: hidden;
          }

          .mat-calendar-body-cell-container {
            width: 40px !important;
            height: 40px !important;

            .mat-calendar-body-cell {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 10px;
              color: #344054;
              font-family: $he_heebo;
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;

              &:hover {
                .mat-calendar-body-cell-content {
                  border-radius: 5px;
                }
              }

              .mat-calendar-body-selected {
                border-radius: 5px;
                box-shadow: none;
                background-color: var(--shade-detail-prime) !important;
              }

              &.mat-calendar-body-active {
                .mat-calendar-body-cell-content {
                  background-color: var(--shade-detail-prime) !important;
                  color: $white !important;
                }
              }

              .mat-calendar-body-cell-content {
                border-width: 0;
                width: 100%;
                height: 100%;
                border-style: none;
                border-radius: 5px;
              }

              .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  .cashflow-date-calendar-cd+.mat-datepicker-actions {
    padding: 0 27px 26px 15px !important;
    justify-content: flex-end !important;

    .cancel-cdc {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #374151 !important;
      border: none !important;
      width: 72px !important;
      height: 35px;
      padding: 10px 20px;
      gap: 10px;
      font-family: $he_heebo !important;
      font-size: 12px !important;
      font-weight: 700 !important;
      line-height: 22px !important;
    }

    .set-cdc {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--shade-detail-prime) !important;
      color: #FFF !important;
      width: 72px !important;
      height: 35px;
      padding: 10px 20px;
      gap: 10px;
      border-radius: 40px;
      box-shadow: 0px 9px 24px 0px rgba(0, 62, 255, 0.40);
      font-family: $he_heebo;
      font-size: 12px !important;
      font-weight: 700 !important;
      line-height: 22px !important;
    }

    .close-cdc {
      position: absolute;
      top: 5px;
      right: 0;
      border: none !important;
      width: 100% !important;
      padding: 0 !important;
      max-width: 40px;
    }
  }

  .risk-proposal-hedge-sel {
    .mat-mdc-option {
      min-height: 40px;
      padding: 10px 10px 10px 14px;
      color: #1D2939;
      font-family: $he_heebo;
      font-size: 14px;

      font-weight: 400;
      line-height: 20px;
      border-radius: 0;
      margin: 2px 0;

      .mdc-list-item__primary-text {
        color: #1D2939;
      }

      &.mdc-list-item--selected,
      &.mat-mdc-option-active {
        background-color: #E5F4FF !important;

        .mdc-list-item__primary-text {
          color: var(--highlight-prime);
          font-weight: 700;
        }
      }

      &:hover {
        background-color: #EFF8FF;

        .mdc-list-item__primary-text {
          color: var(--highlight-prime);
          font-weight: 700;
        }
      }
    }
  }
}