<div class="sms-ver-wrapper">

    <!-- <form name="formSms" id="formSms" (ngSubmit)="fSms.form.valid && checkVerification()" #fSms="ngForm" novalidate> -->

        <div class="form-group mb-4">

            <div class="form-group form-group-input-wrapper d-flex justify-content-center">
                <input type="text" [(ngModel)]="digit1" name="digit1" class="form-control masked-input" #dOne
                    #digit1Txt="ngModel" (focus)="dOne.select()"
                    (input)="dOne.value ? dTwo.select() : dOne.focus();"
                    required (paste)="restrictSpecialCharacters($event)"
                    (keydown)="restrictSpecialCharacters($event)"
                >
                {{!digit1 ? dOne.focus() : null}}

                <input type="text" [(ngModel)]="digit2" name="digit2" class="form-control masked-input" #dTwo
                    #digit2Txt="ngModel" (focus)="dTwo.select()"
                    (input)="dTwo.value ? dThree.select() : dTwo.focus();"
                    (keydown.backspace)="dOne.select()"
                    required (paste)="restrictSpecialCharacters($event)"
            (keydown)="restrictSpecialCharacters($event)"
                >

                <input type="text" [(ngModel)]="digit3" name="digit3" class="form-control masked-input" #dThree
                    #digit3Txt="ngModel" (focus)="dThree.select()"
                    (input)="dThree.value ? dFour.select() : dThree.focus();"
                    (keydown.backspace)="dTwo.select()"
                    required (paste)="restrictSpecialCharacters($event)"
            (keydown)="restrictSpecialCharacters($event)"
                >

                <input type="text" [(ngModel)]="digit4" name="digit4" class="form-control masked-input" #dFour
                    #digit4Txt="ngModel" (focus)="dFour.select()"
                    (keydown.backspace)="dThree.select(); dFour.value = '';"
                    (input)="dFour.value ? dFour.blur() : dFour.focus();"
                    (blur)="checkVerification()"
                    required (paste)="restrictSpecialCharacters($event)"
            (keydown)="restrictSpecialCharacters($event)"
                >
            </div>

        </div>
        <div class="error-msg" *ngIf="refreshAPIError">
            <span>
                The code you have entered is invalid. Please try again.
            </span>
        </div>

        <!-- Code hasn't arrived -->
        <ng-container>
            <p class="disclaimer disclaimer--2">
                {{ 'KYC_Step_3.code_not_arrived' | translate }}
                <!-- user passed the limit of resend codes -->

                <!-- able to resend code -->
                <ng-container *ngIf="!timer.active">
                    <a class="resend-code action-anchor" (click)="onResend()">{{ 'KYC_Step_3.resend_code' | translate }}</a>
                </ng-container>
                <!-- waiting to resend code -->
                <ng-container *ngIf="timer.active">
                    <a
                        class="retry-in action-anchor"
                        [matTooltip]="timerTooltip"
                        matTooltipClass="custom-tooltip"
                        aria-label="Button that displays a tooltip that can be programmatically disabled"
                    >
                        {{ 'KYC_Step_3.you_can_retry' | translate }}
                        {{timer.minutes}}:{{timer.seconds}}
                    </a>
                </ng-container>
            </p>
        </ng-container><!-- # Code hasn't arrived -->

</div>
