<div class="upload-successful-modal">
  <div class="dialog-header">
    <button id="ifpc-dialog-close" mat-icon-button mat-dialog-close class="close-btn"></button>
  </div>

  <div class="modal-body">
    <div class="last-pay-title">
      <h4>Do you have an invoice for the future payment</h4>
      <!-- <p>You can see your last payment list, you can resend, edit the amount  or remove contacts</p> -->
    </div>
    <div class="upload-successful-btn-wrap">
      <button id="ifpc-conf-no" class="no-btn" (click)="onNoClick()">No</button>
      <button id="ifpc-conf-yes" class="yes-btn" (click)="onYesClick()">Yes</button>
    </div>
  </div>
</div>
