@import '../../../../../../assets/scss/variable';

::ng-deep {
  .hedge-sidebar-container {
    padding: 45px 66px 60px 57px;
    background: #F6F9FE;
    // box-shadow: 0px 0px 50px -12px rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px;

    @media screen and (max-width: 1440px) {
      padding: 30px 22px 60px 22px;
    }

    @media screen and (max-width: 1024px) {
      padding: 25px;
    }

    @media screen and (max-width: 540px) {
      padding: 20px;
    }
    .close-btn {
      position: absolute;
      right: 12px;
      top: 12px;
      background-color: transparent;
      cursor: pointer;
      width: max-content;

      img {
        width: 30px;
        height: 30px;
        filter: opacity(0.6);

        @media screen and (max-width: 1440px) {
          width: 25px;
          height: 25px;
        }
      }
    }

    .hedge-header {
      .hedge-title {
        color: #4b5563;
        font-family: $he_heebo;
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 10px;

        @media screen and (max-width: 1440px) {
          font-size: 26px;
        }
      }
    }

    .hedge-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 17px;
      .hedge-amount {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-family: $he_heebo;
        label {
          color: #4b5563;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }

        span {
          color: #0f1f3c;
          font-size: 28px;
          font-weight: 700;
          line-height: 22px;
        }
      }

      .forward-btn {
        color: var(--highlight-prime);
        text-align: center;
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        background-color: transparent;
        border-radius: 100px;
        border: 1px solid #668bff;
        width: 100%;
        max-width: 102px;
        height: 36px;
        margin-bottom: 4px;
      }
    }

    .hedging-allmonth-wrapper {
      margin-bottom: 34px;

      .dashed-line {
        border-bottom: 1px dashed #98A2B3;
        display: flex;
        margin-bottom: 25px;
      }
      .back-to-hedge {
        color: var(--highlight-prime);
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        background-color: transparent;
        text-decoration: underline;
        padding: 0;
        margin-bottom: 17px;
      }
      .heading-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7px;
        .col-title {
          color: #4b5563;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;

          &:last-child {
            // margin-right: 43px;
            margin-right: 23px;
          }
        }
      }

      .expirydate-hedge-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 100%;
        max-height: 300px;
        overflow-y: auto;
        .date-and-amount-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 7px;
          background: $white;
          padding: 20px 15px 20px 20px;
          height: 56px;
          gap: 4px;
          cursor: pointer;

          &.disabled {
            pointer-events: none;
            filter: grayscale(1);
            opacity: .6;
            user-select: none;
          }

          .bookmark-amount-section {
            display: flex;
            align-items: center;
            gap: 30px;

            .bookmark-btn {
              padding: 0;
              filter: opacity(0.7);
            }
          }

          .month-value,
          .hedge-amount, .action {
            color: #4b5563;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer;

            &.hedge-amount {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .action-link {
              color: var(--highlight-prime);
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              margin-left: 10px;
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-decoration-thickness: auto;
              text-underline-offset: auto;
            }

            .percent {
              display: flex;
              align-items: center;
              border-radius: 3px;
              background: #14ba6d;
              padding: 0px 5px;
              margin-left: 8px;
              color: $white;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
            }
          }
        }
      }
    }

    .specific-month-wrapper {
      margin-bottom: 34px;

      .dashed-line {
        border-bottom: 1px dashed #98A2B3;
        display: flex;
        margin-bottom: 25px;
      }
      .back-to-hedge {
        color: var(--highlight-prime);
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        background-color: transparent;
        text-decoration: underline;
        padding: 0;
        margin-bottom: 17px;
      }
      .month-title {
        padding: 16px 20px 15px 20px;
        background: $white;
        border-radius: 7px;
        margin-bottom: 8px;
        h4 {
          color: #4B5563;
          text-align: center;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          margin-bottom: 0;
        }
      }

      .month-info-wrapper {
        padding: 20px;
        border-radius: 7px;
        background: $white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .month-info {
          display: flex;
          justify-content: space-between;
          .row-title, .row-amount {
            color: #4B5563;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            .hedge-deposit-link {
              cursor: pointer;
            }
            &.row-amount {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .percent {
                display: flex;
                align-items: center;
                background: #14ba6d;
                border-radius: 3px;
                padding: 0px 5px;
                margin-left: 8px;
                color: $white;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
              }

              &.primary-value {
                color: #14BA6D;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
              }

              &.secondary-value {
                color: #F00;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
              }
            }
          }

          .collateral-content {
            .collateral-amount {
              display: flex;
              justify-content: flex-end;
              color: #14BA6D;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 700;
              line-height: 20px;
            }

            .sub-used {
              color: #C4C9D0;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;

              .sub-used-value {
                color: #F00;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .info-section {
      margin-bottom: 8px;
      .rate-update-spinner {
        width: 20px !important;
        height: 20px !important;

        .mdc-circular-progress__indeterminate-circle-graphic {
          stroke: var(--light-blue);  
        }
      }
      .info-wrapper {
        display: flex;
        flex-direction: column;
        border: 1px solid #e5e7eb;
        background: #fff;
        padding: 20px;
        border-radius: 7px;
        gap: 40px;
        
        @media screen and (max-width: 1440px) {
          padding: 16px;
          gap: 30px;
        }

        &.view-detail {
          padding: 10px;
          margin-bottom: 15px;
          margin-top: 15px;
          .hedge-all-details {
            color: var(--highlight-prime);
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            background-color: transparent;
            width: 100%;
            text-decoration-line: underline;
            text-align: center;
          }
        }

        .sub-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $he_heebo;
          position: relative;

          .rate-content {
            display: flex;
            align-items: center;
            gap: 24px;
          }

          &:first-of-type::after {
            content: "";
            position: absolute;
            border-bottom: 1px dashed #e4e4e4;
            width: 100%;
            top: 40px;

            @media screen and (max-width: 1440px) {
              top: 35px;
            }
          }

          label {
            color: #4b5563;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            align-items: center;
            gap: 5px;

            img {
              cursor: pointer;
            }
            .hedge-deposit-link {
              cursor: pointer;
            }
          }
          .info-title {
            color: #4b5563;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
          }

          .content {
            color: #1d2939;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;

            @media screen and (max-width: 1440px) {
              font-size: 14px;
            }

            &.primary-value {
              color: #14ba6d;
            }
          }
        }
      }
    }

    .conditions-section {
      width: 100%;
      max-height: 81px;
      overflow-y: auto;
      border: 1px solid #e4e7ec;
      padding: 10px 15px;
      border-radius: 3px;
      margin-top: 11px;

      .read-conditions {
        color: #667085;
        font-family: $he_heebo;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
      }
    }

    .action-footer {
      .tick-condition {
        color: #667085;
        font-family: $he_heebo;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 13px;

        &.not-confirmed {
          label {
            color: #D92D20 !important;
          }
        }

        .mdc-form-field > label {
          font-size: 12px;
          color: #667085;
          margin-left: 6px;
          line-height: 1;
          margin-top: 2px;
        }

        button {
          color: var(--highlight-prime);
          border: none;
          padding: 0;
          border-bottom: 1px solid var(--highlight-prime);
          background-color: transparent;
          cursor: pointer;
        }

        &.mat-mdc-checkbox {
          .mdc-checkbox {
            padding: 0 !important;
            .mdc-checkbox__native-control {
              width: 20px !important;
              height: 20px !important;
            }

            .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
            .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
            .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
              border-color: var(--brand-primary-color) !important;
              background-color: var(--brand-primary-color) !important;
              border-radius: 6px !important;
            }
            .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__checkmark {
              color: #fff !important;
            }
            .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate="true"]) ~ .mdc-checkbox__background {
              border-radius: 6px !important;
              border: 1px solid #c6c8cc;
            }
            .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background .mdc-checkbox__mixedmark,
            .mdc-checkbox__native-control[data-indeterminate="true"] ~ .mdc-checkbox__background .mdc-checkbox__mixedmark {
              transform: scaleX(0.7) rotate(0deg);
            }
            .mdc-checkbox__background {
              width: 20px !important;
              height: 20px !important;
              left: 0 !important;
              top: 0 !important;

              .mdc-checkbox__checkmark {
                width: 12px !important;
                margin: auto !important;
              }

              .mdc-checkbox__checkmark-path {
                stroke-width: 4px !important;
              }
            }
          }
          &.mat-accent {
            .mdc-checkbox--selected ~ .mdc-checkbox__ripple {
              background: var(--brand-primary-color) !important;
            }
          }
          .mat-mdc-focus-indicator,
          .mat-mdc-checkbox-touch-target,
          .mat-mdc-checkbox-ripple,
          .mdc-checkbox__ripple {
            display: none !important;
          }
        }
      }
      .hedge-now {
        background: var(--highlight-prime);
        box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.25);
        color: $white;
        font-family: $he_heebo;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding: 19px 0;
        border-radius: 50px;
        width: 100%;
        margin-top: 34px;
        margin-bottom: 19px;

        @media screen and (max-width: 1440px) {
          height: 45px;
          padding: 0;
        }

        &.disabled-hedge-btn {
          pointer-events: none;
        }
      }

      .refresh-in {
        color: $black;
        text-align: center;
        font-family: $he_heebo;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 4px;
        background: #FEF3F2;
        padding: 10px;

        span {
          color: #d92d20;
          font-weight: 400;
        }
      }

      .transaction-unavailable-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding: 5px 11px;
        border-radius: 10px;
        border: 1px solid #FECDCA;
        background: #FEE4E2;
        // margin-top: 23px;

        @media screen and (max-width: 1440px) {
          padding: 7px 10px 7px 8px;
        }

        .transaction-unavailable-err {
          color: #D92D20;
          font-family: $he_heebo;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
          margin-bottom: 0;

          a {
            color: var(--highlight-prime);
            font-family: $he_heebo;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border-bottom: 1px solid var(--highlight-prime);
          }

          span {
            font-weight: 400;
          }
        }
      }
    }



    .action-footer .tick-condition.not-confirmed.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background {
      border-color: #D92D20 !important;
    }
  }

  .collateral-amount-ttp {
    bottom: 7px !important;
    .tooltip-arrow {
      &::before {
        border-top-color: rgba(29, 41, 57, 0.90);
        border-top-width: 11px;
        border-right-width: 8px;
        border-left-width: 8px;
      }
    }
    .tooltip-inner {
      border-radius: 7px;
      background: rgba(29, 41, 57, 0.90);
      box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
      padding: 11px 18px 11px 13px;
      color: $white;
      font-family: $he_heebo;
      font-size: $font-14;
      font-weight: 400;
      line-height: 20px;
      width: 100%;
      text-align: left;
      max-width: 251px !important;

      .recommended-shield-ttp {
        .amount {
          font-weight: 700;
        }
      }
    }
  }
}
