.country-phone-code {
    max-width: 11rem;
    margin-inline-end: 0.8rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        & * {
            font-weight: 400;
        }
    }

    .country {
        max-width: 30rem;
        width: 100%;
    }
}
.kyc-phone {
    max-width: 70%;
    margin: 0 auto;
}
.kyc-phone-input {
    background-color: #fff;
    border: 1px solid #111827;
    border-radius: 15px;
    color: #111827;
    text-indent: 10px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    &::placeholder{
        opacity: 0.5;
    }
}
.mobile-num input {
    /* Add additional styles for the mobile-num input field */
    /* Example styles: */
    background-color: #fff;
    border: 1px solid #111827;
    border-radius: 15px;
    color: #111827;
    text-indent: 10px;
    min-height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
}

.continue-btn {
    background:#01031C;
    border-radius: 40px;
    font-size: 16px;
    // line-height: 22px;
    font-weight: 600;
    color: #fff;
    padding: 12px 0px;
    height: auto;
    transition: 0.3s;
    position: relative;
    width: 100% !important;
    @media screen and (max-width: 1440px) {
        // height: 25px;
        width: 25px;
    }

    &.disabled {
        background: #f5f5fa !important;
        color: #c6c8cc !important;
        cursor: not-allowed;
    }
}
