<div class="lock-rate-modal">
    <div class="lock-rate-close-btn">
        <button mat-dialog-close class="close-btn" (click)="closeDialog()">
            <img src="images/white-close.svg" *ngIf="hedgeStatus !== 6" alt="Close">
            <img src="images/grey-close-icon.svg" *ngIf="hedgeStatus === 6" alt="Close">
        </button>
    </div>

    <div class="lock-rate-modal-container" 
    [ngClass]="{'bg-blue': hedgeStatus === 7,'success-model': hedgeStatus === 6 }">
        <div class="lock-rate-modal-left-inner" [ngClass]="{'centered': hedgeStatus === 6}">
            <div class="lock-rate-new-body" [ngSwitch]="hedgeStatus">
                <div *ngSwitchCase="2">
                    <app-connecting-traderoom></app-connecting-traderoom>
                </div>

                <div *ngSwitchCase="3">
                    <app-connected-traderoom></app-connected-traderoom>
                </div>

                <div *ngSwitchCase="4">
                    <app-cancelled-traderoom></app-cancelled-traderoom>
                </div>

                <div *ngSwitchCase="6">
                    <div class="container active-protection-container">
                        <div class="column">
                            <p class="title traderoom-connect-title">Protection Amount</p>
                            <div class="content">
                                <p class="value price">$10,000.00</p>
                                <span><img height="25" src="/flags/usd-flag.svg" alt="notional" /></span>
                            </div>
                            <div class="divider"></div>
                        </div>

                        <div class="column">
                            <p class="title traderoom-connect-title">Collateral</p>
                            <div class="content">
                                <p class="value price">₪1,200.00</p>
                                <img height="25" src="/flags/ils-flag.svg" alt="collateral" />
                            </div>
                            <div class="divider"></div>
                        </div>

                        <div class="column">
                            <p class="title traderoom-connect-title">Fee</p>
                            <div class="content">
                                <p class="value price">₪0</p>
                                <span><img height="25" src="/flags/ils-flag.svg" alt="currency" /></span>
                            </div>
                            <div class="divider"></div>
                        </div>

                        <div class="column">
                            <p class="title traderoom-connect-title">Expiry Date</p>
                            <div class="content">
                                <p class="value">27/08/2023</p>
                                <img height="25" src="/images/calendar.svg" alt="calendar" />
                            </div>
                            <div class="divider"></div>
                        </div>

                        <div class="contacts-header">
                            <button class="back-to-dashboard" (click)="backToDashboard()">Back to dashboard</button>
                            <button class="continue-hedging" (click)="continueHedging()">Continue hedging</button>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="7">
                    <app-agents-busy-traderoom></app-agents-busy-traderoom>
                </div>                
            </div>
        </div>

        <!-- <div class="lock-rate-modal-right-inner" [ngClass]="{'success': hedgeStatus === 6 }" *ngIf="hedgeStatus !== 7">
            <picture *ngIf="hedgeStatus !== 6">
                <img src="/images/group-hedge-modal.svg" alt="group" />
            </picture>
            <div class="lock-rate-modal-purchase">
                <div class="img-wrapper">
                    
                    <div class="img-modal" *ngIf="hedgeStatus===6">
                        <img src="/images/clock-guard.svg" alt="clock" height="60px" />
                        <p class="traderoom-connect-title">Protection <br>is Active</p>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="lock-rate-modal-right-inner" [ngClass]="{'success': hedgeStatus ===6 }" *ngIf="hedgeStatus !== 7 ">
            <img class="img-hedge" *ngIf="hedgeStatus!==6" src="images/hedge-modal.svg" alt="close" />
            <div class="lock-rate-modal-purchase" *ngIf="hedgeStatus===6">
              <div class="img-wrapper">
                <picture>
                    <img src="images/group-hedge-modal.svg" alt="group" />
                  </picture>
                  <div class="img-modal">
                    <img src="/images/clock-guard.svg" alt="clock" height="60px" />
                    <p class="traderoom-connect-title">Protection <br>is Active</p>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>