@import "../login.component.scss";
.submit-btn {
  margin-top: 18px;

  &.send-sms-btn {
    margin-bottom: 15px;
  }
  &::ng-deep {
    .loader {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 0;
      left: 0;
      justify-content: center;
      border-radius: 20px;
    }
  }
}
