<a class="back-btn" (click)="gotoBack()" id="back_to_login">
  <mat-icon>chevron_left</mat-icon>
  <span>Back to login</span>
</a>
<ng-container *ngIf="!needVerification">
  <h3 class="heading">Forgot password</h3>
  <form #resetForm="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetForm.form.valid && (resetPasswordForm.value.newPassword == resetPasswordForm.value.confirmPassword) && resetPassword()">
    <div class="form-group">
      <label for="email">Enter the email address associated with your account</label>
      <input type="email" id="email" name="email" formControlName="email" email required id="associated_email_field">
      <span *ngIf="resetForm.submitted && resetPasswordForm.controls.email.hasError('required')"
        class="error-msg">required</span>
      <span *ngIf="resetForm.submitted && resetPasswordForm.controls.email.hasError('email')" class="error-msg">Please enter valid email</span>
      <span *ngIf="resetForm.submitted && invalidAccount" class="error-msg">Account does not exist</span>
      <!-- <span *ngIf="resetForm.submitted && userNotExist" class="error-msg">User does not exist</span> -->
    </div>
    <div class="password-instruction">
      <p class="message">Password must contain</p>
      <span class="detail">
        <mat-icon *ngIf="hasEight">check</mat-icon>
        <mat-icon *ngIf="!hasEight && resetPasswordForm.value.newPassword">close</mat-icon>
        <span>8 Letters</span>
      </span>
      <span class="detail">
        <mat-icon *ngIf="hasLower">check</mat-icon>
        <mat-icon *ngIf="!hasLower && resetPasswordForm.value.newPassword">close</mat-icon>
        <span>Lowercase</span>
      </span>
      <span class="detail">
        <mat-icon *ngIf="hasUpper">check</mat-icon>
        <mat-icon *ngIf="!hasUpper && resetPasswordForm.value.newPassword">close</mat-icon>
        <span>Uppercase</span>
      </span>
      <span class="detail">
        <mat-icon *ngIf="hasDigit">check</mat-icon>
        <mat-icon *ngIf="!hasDigit && resetPasswordForm.value.newPassword">close</mat-icon>
        <span>Number</span>
      </span>
      <span class="detail">
        <mat-icon *ngIf="hasSpecial && !resetPasswordForm.get('newPassword')?.hasError('invalidPassword')">check</mat-icon>
        <mat-icon *ngIf="((!hasSpecial || resetPasswordForm.get('newPassword')?.hasError('invalidPassword')) && resetPasswordForm.value.newPassword)">close</mat-icon>
        <span>Special letter</span>
      </span>
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <div class="input-wrapper">
        <input name="newPassword" class="form-control" [type]="hidePassword ? 'password' : 'text'" id="new_password"
          (keyup)="strongPasswordCheck()" formControlName="newPassword" required />
        <mat-icon class="eye-icon" matSuffix (click)="hidePassword = !hidePassword" id="show_hide_password">{{hidePassword ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </div>
      <span *ngIf="resetForm.submitted && resetPasswordForm.controls.newPassword.hasError('required')"
        class="error-msg">required</span>
      <span *ngIf="resetForm.submitted && !resetPasswordForm.controls.newPassword.hasError('required') && illegall"
        class="error-msg">
        Password is not valid
      </span>
      <span class="error-msg" *ngIf="hasSpecial && resetPasswordForm.get('newPassword')?.hasError('invalidPassword')">
        Special characters can be inserted !#$%^&*
      </span>
      <!-- <p *ngIf="illegall">Illegal character</p> -->
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <div class="input-wrapper">
        <input name="newPassword" class="form-control" [type]="hideConfPassword ? 'password' : 'text'"
          name="confirmPassword" formControlName="confirmPassword"
          id="confirm_password" required />
        <mat-icon class="eye-icon" id="confirm_show_password" matSuffix (click)="hideConfPassword = !hideConfPassword">{{hideConfPassword ? 'visibility_off' :
          'visibility'}}</mat-icon>
      </div>

      </div>
      <span *ngIf="resetForm.submitted && resetPasswordForm.controls.confirmPassword.hasError('required') && !error" class="error-msg">Confirm password</span>
      <span *ngIf="resetForm.submitted && (resetPasswordForm.value.confirmPassword != resetPasswordForm.value.newPassword) && resetPasswordForm.controls.confirmPassword.valid && !error" class="error-msg">Passwords do not match</span>
      <span *ngIf="!(resetForm.submitted && (resetPasswordForm.value.confirmPassword != resetPasswordForm.value.newPassword) && resetPasswordForm.controls.confirmPassword.valid) && error" class="error-msg">{{ 'AUTHENTICATION_SEND_VERIFICATION_ERRORS.' + error | translate }}</span>

    <button class="submit-btn" [class.disabled]="showLoader||error" [disabled]="showLoader" id="button_send_email">Send SMS
    </button>
  </form>
</ng-container>
<app-code-verification *ngIf="needVerification" [typeVerification]="typeVerification" [formData]="resetPasswordForm.value" type="forgot-password"
  (back)="needVerification = false"></app-code-verification>
