@import "../../../../assets/scss/variable.scss";

::ng-deep {
  .bank-account-sec {
    margin: 80px auto 0;
    max-width: 602px;

    .bank-info {
      text-align: center;
      margin: 0 0 23px;

      .title {
        color: #374151;
        font-family: $he_heebo;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
      }

      .desc {
        color: #6b7280;
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
      }
    }

    .bank-form-details {
      .form-group {
        margin: 0 0 24px;

        label {
          color: #1f2937;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;

          img {
            margin: 0 0 0 6px;
            padding: 5px 0;
            cursor: pointer;
          }
        }

        .form-control {
          height: 60px;
          border-radius: 4px;
          border: 1px solid #9ca3af;
          color: #1f2937;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          margin: 7px 0;
          padding: 16px;
          box-shadow: none;
          &::placeholder {
            color: #9ca3af;
          }

          &.validation-error {
            border-color: #dc2626;
          }
          &:focus {
            box-shadow: none;
          }
        }

        .check-box-sec {
          position: relative;

          input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            max-width: 408px;
            cursor: pointer;

            &:checked + label {
              &:before {
                background-color: #1b32b8;
                border-color: #1b32b8;
              }

              &:after {
                opacity: 1;
              }
            }
          }

          label {
            padding: 0 0 0 27px;
            color: #9ca3af;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            position: relative;

            &::before {
              width: 20px;
              height: 20px;
              position: absolute;
              top: 0;
              left: 0;
              border: 1px solid #d0d5dd;
              border-radius: 6px;
              content: "";
            }

            &:after {
              position: absolute;
              left: 3px;
              top: 3px;
              content: "";
              width: 14px;
              height: 14px;
              background-image: url(../../../../assets/images/radio-check.svg);
              background-repeat: no-repeat;
              opacity: 0;
              background-size: 100%;
              opacity: 0;
              transition: all 0.5s ease;
            }
          }
        }

        .beneficiary-country-flag-tag {
          display: flex;
          width: 100%;
          height: 60px;
          justify-content: flex-start;
          align-items: center;
          background: #f3f4f6;
          color: #374151;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          padding: 16px;
          margin: 7px 0;

          img {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            padding: 2px;
            margin: 0 10px 0 0;
          }
        }

        .iban-wrap {
          position: relative;
          .form-control {
            padding-right: 35px;
          }
          .badge-icon {
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            margin: auto;
            content: "";
            display: flex;
            gap: 5px;
            align-items: center;
          }

          .btn-check-no {
            position: absolute;
            right: -107px;
            top: 0;
            content: "";
            display: flex;
            width: 85px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background: #f3f4f6;
            color: #374151;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            height: 44px;
            bottom: 0;
            margin: auto;

            &:hover {
              background-color: #1d4ed8;
              color: $white;
            }
          }
        }
      }

      .country-dropdown {
        mat-select {
          display: flex;
          align-items: center;
          width: 100%;
          min-width: 320px;
          height: 60px;
          border-radius: 4px;
          border: 1px solid #9ca3af;
          background: #fff;

          &:focus {
            box-shadow: none;
          }

          &.validation-error {
            border-color: #dc2626;
          }

          .to-country-section {
            img {
              width: 29px;
              height: auto;
            }

            .country-code {
              color: #2c2c2e;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              margin-left: 18px;
              text-transform: capitalize;
            }
          }

          @media screen and (max-width: 1440px) {
            min-width: 260px;
            height: 45px;

            .to-country-section {
              .country-code {
                margin-left: 10px;
              }
            }
          }

          .mat-mdc-select-trigger {
            .mat-mdc-select-value {
              .mat-mdc-select-placeholder {
                color: #9ca3af;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;

                @media screen and (max-width: 1440px) {
                  line-height: 20px;
                  font-size: 14px;
                }
              }
            }
          }

          .mat-mdc-select-arrow-wrapper {
            .mat-mdc-select-arrow {
              width: 12px;
              height: 7px;
              background: url(../../../../assets/images/arrow-down-black.svg) center no-repeat;
              background-size: contain;

              svg {
                display: none;
              }
            }
          }
        }

        &.currency-dropdown {
          margin: 0 0 26px;
        }
      }
      .error-msg {
        color: #dc2626;
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
      }
    }

    .btn-next {
      display: flex;
      width: 100%;
      height: 50px;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background: var(--Brand-Brand-700, #1d4ed8);
      color: $white;
      font-family: $he_heebo;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      margin: 20px auto 0;
      // position: fixed;
      // bottom: 15px;
      // left: 0;
      // right: 0;
      max-width: 602px;
      &:hover {
        opacity: 0.9;
      }
    }
    @media screen and (max-width: 1440px) {
      margin: 0 auto;
      .bank-info {
        .title {
          font-size: 18px;
          line-height: 1.2;
        }
      }
      .bank-form-details {
        .form-group {
          margin: 0 0 15px;
          .form-control {
            height: 45px;
            padding: 10px;
            margin: 5px 0;
          }
          .beneficiary-country-flag-tag {
            margin: 5px 0;
            height: 45px;
            padding: 10px;
            img {
              margin: 0 5px 0 0;
            }
          }
        }
      }
      .btn-next {
        height: 45px;
      }
    }
    @media screen and (max-width: 1024px) {
      padding: 0 30px;
      .bank-info {
        margin: 0 0 15px;
        .title {
          font-size: 16px;
        }
        .desc {
          font-size: 12px;
          line-height: 1.5;
        }
      }
      .bank-form-details {
        .form-group {
          .iban-wrap {
            display: flex;
            gap: 15px;
            align-items: center;
            .badge-icon {
              right: 20px;
            }
            .btn-check-no {
              position: relative;
              right: 0;
              width: auto;
              height: auto;
              line-height: 1.2;
            }
          }
        }
      }
      // .btn-next{
      //   max-width: (calc(602px - 60px));
      // }
    }
    @media screen and (max-width: 767px) {
      .bank-form-details {
        .form-group {
          .check-box-sec {
            label {
              padding: 0 0 0 25px;
              &::before {
                width: 18px;
                height: 18px;
                top: 2px;
              }
              &:after {
                width: 12px;
                height: 12px;
                left: 3px;
                top: 5px;
              }
            }
          }
        }
      }
      .btn-next {
        // max-width:90%;
        height: 40px;
      }
    }
    @media screen and (max-width: 580px) {
      padding: 0 15px;
      .bank-info {
        .title {
          font-size: 14px;
        }
      }
      .bank-form-details {
        .form-group {
          margin: 0 0 10px;
          .iban-wrap {
            gap: 10px;
            // .badge-icon {
            //   right: 75px;
            // }
            .btn-check-no {
              font-size: 12px;
            }
          }
          .check-box-sec {
            input {
              max-width: 350px;
            }
            label {
              padding: 0 0 0 22px;
              font-size: 12px;
              line-height: 1.5;
              &::before {
                width: 16px;
                height: 16px;
                top: 1px;
              }
              &:after {
                width: 10px;
                height: 10px;
                left: 3px;
                top: 4px;
              }
            }
          }
        }
      }
      .btn-next {
        height: 35px;
      }
    }
  }
  .rm-country-dropdown.ils-branch-drop
    .search-inpt-popup
    .country-flag-list
    .mat-mdc-option
    {
    direction: rtl;
  }
  mat-select.ils-branch-rm {
    mat-select-trigger{
      .to-currency-section {
          direction: rtl;
          text-align: left;
      }
    }
  }
  .rm-country-dropdown {
    overflow: hidden !important;
    border-radius: 10px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

    .search-inpt-popup {
      padding: 21px 38px 0 31px;

      .search-input-wrapper {
        margin: 0 0 18px;

        .input-inner {
          display: flex;
          width: 100%;
          height: 60px;
          padding: 0 10px 0 20px;
          align-items: center;
          gap: 18px;
          border-radius: 7px;
          border: 1px solid #2947f2;
          background: #f9fafb;

          .filter-input {
            border: none;
            height: 100%;
            width: 100%;
            color: #5b5b66;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            background-color: transparent;
            padding: 0;
          }

          .clear-search {
            padding: 0;
            background-color: transparent;
            line-height: 0;
          }

          .country-search {
            padding: 0;
            background-color: transparent;
            line-height: 0;
          }

          &.validation-error {
            border-color: #dc2626;
          }
        }

        .error-msg {
          margin: 5px 0 0;
          display: block;
          color: #dc2626;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .country-flag-list {
        max-height: 200px;
        overflow-y: auto;
        .mat-mdc-option {
          padding: 0;
          min-height: 50px;
          &.error-msg{
            pointer-events: none !important;
            .select-item{
              .code-with-info{
                .info{
                  color: #dc2626;
                  font-weight: 500;
                }
              }
            }
            &:hover{
              background-color: transparent;
            }
          }
          .select-item {
            gap: 18px;
            .country-image {
              width: 100%;
              max-width: 30px;
              height: auto;
            }
            .code-with-info {
              .info {
                color: #2c2c2e;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-transform: capitalize;
              }
            }
          }
        }

        &.currency-info {
          .mat-mdc-option {
            .select-item {
              gap: 18px;

              .code-with-info {
                .code {
                  color: #2c2c2e;
                  font-family: $he_heebo;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 20px;
                  text-transform: uppercase;
                  display: block;
                }

                .info {
                  color: #9ca3af;
                  font-family: $he_heebo;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                  text-transform: capitalize;
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1440px) {
      .search-inpt-popup {
        padding: 10px 20px 0;
        .search-input-wrapper {
          margin: 0 0 10px;
          .input-inner {
            height: 45px;
            gap: 15px;
          }
        }

        .country-flag-list {
          .mat-mdc-option {
            min-height: 40px;

            .select-item {
              gap: 10px;
            }
          }

          &.currency-info {
            .mat-mdc-option {
              .select-item {
                .code-with-info {
                  .code {
                    font-size: 14px;
                    line-height: 1.2;
                  }

                  .info {
                    font-size: 12px;
                    line-height: 1.2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.disable-branch-number {
  opacity: 0.5;
  pointer-events: none;
}
