@import "../../../../../assets/scss/variable";
@import "../../../../../assets/scss/mixins";


::ng-deep {
    .single-payment {
        max-width: 890px;
        margin: 0 auto;
        height: calc(100vh - 70px);

        .sp-icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 46px;

            @media (max-width: 1440px) {
                margin-bottom: 20px;
            }

            @media (max-width: 479px) {
                margin-bottom: 15px;
            }

            button {
                width: 22px;
                height: 22px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &.mat-mdc-icon-button {
                    .mdc-icon-button__ripple,
                    .mat-mdc-button-ripple {
                        display: none;
                    }
                }

                img {
                    width: 14px;
                    height: 14px;

                    &.back-icon {
                        width: 18px;
                        height: 18px;
                    }
                }

                .mat-mdc-button-touch-target {
                    width: 18px !important;
                    height: 18px !important;
                }
            }
        }

        .single-payment-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 23px;
            border-bottom: 1px dashed #D1D5DB;

            @media (max-width: 1440px) {
                padding-bottom: 15px;
            }

            @media (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 10px;
            }

            .sph-title {
                display: flex;
                align-items: center;
                column-gap: 19px;

                @media (max-width: 991px) {
                    column-gap: 15px;
                }

                @media (max-width: 479px) {
                    column-gap: 10px;
                }

                .sph-icon {
                    width: 40px;
                    height: 40px;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 40px;
                    background-color: #DBEAFE;
                }

                h2 {
                    color: #111827;
                    font-family: 'Heebo';
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 38px;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    letter-spacing: normal;

                    @media (max-width: 991px) {
                        font-size: 22px;
                        line-height: 36px;
                    }

                    @media (max-width: 479px) {
                        font-size: 20px;
                        line-height: 34px;
                    }
                }
            }

            .sph-dropdown {
                .pay-option-dropdown {
                    border-radius: 40px;
                    background-color: var(--light-blue-header-bg);
                    padding: 10px 18px;
                    min-width: 170px;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    column-gap: 10px;

                    color: var(--primary-blue);
                    font-family: $he_heebo;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                }
            }
        }

        .single-payment-body {
            max-width: 515px;
            margin: 0 auto;
            padding-top: 78px;
            padding-bottom: 50px;

            @media (max-width: 1440px) {
                padding-top: 40px;
                padding-bottom: 30px;
            }

            @media (max-width: 991px) {
                padding-top: 30px;
            }

            @media (max-width: 767px) {
                padding-top: 25px;
                padding-bottom: 25px;
            }

            .recipient-dropdown {
                position: relative;

                .mat-mdc-form-field {
                    width: 100%;

                    &.ng-valid,
                    &.mat-focused {
                        .mat-mdc-form-field-infix {
                            .pay-dropdown-icon {
                                top: 11px;
                            }
                        }
                    }

                    .pay-dropdown-icon {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 12px;
                        margin: auto 0;
                        cursor: pointer;
                    }

                    .mat-mdc-form-field-infix {
                        background-color: #fff !important;
                    }

                    &:focus,
                    &:hover {

                        .mat-mdc-form-field-infix,
                        .mat-mdc-text-field-wrapper {
                            background-color: #fff !important;
                        }
                    }

                    &.ng-valid {
                        .mat-mdc-text-field-wrapper {
                            &.mdc-text-field--filled {
                                .mat-mdc-form-field-infix {
                                    &::before {
                                        top: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .mat-mdc-text-field-wrapper {
                        width: 100%;
                        padding: 0 !important;

                        &.mdc-text-field--filled:not(.mdc-text-field--disabled) {
                            &.mdc-line-ripple {
                                &::before {
                                    display: none;
                                }
                            }

                            .mat-mdc-form-field-infix {
                                padding: 0 !important;

                                .mdc-floating-label {
                                    margin-left: 12px;

                                    &.mdc-floating-label--float-above {
                                        color: var(--input-blue-border);
                                        font-family: Roboto, sans-serif;
                                        font-size: 12px;
                                        font-weight: 700;
                                        line-height: 16px;
                                        display: inline-block;
                                    }
                                }
                            }
                        }

                        &.mdc-text-field--filled:not(.mdc-text-field--disabled) {
                            .mdc-line-ripple {
                                display: none;
                            }
                        }

                        &.mdc-text-field--invalid:not(.mdc-text-field--disabled) {
                            .mdc-floating-label {
                                color: var(--input-blue-border);
                            }

                            .mdc-line-ripple {
                                display: none;
                            }
                        }

                        &.mdc-text-field--invalid {
                            .mdc-text-field__input {
                                caret-color: #000000;
                            }
                        }

                        &.mdc-text-field--focused {
                            .mat-mdc-form-field-infix {
                                &::before {
                                    top: 10px;
                                }
                            }
                        }
                    }

                    .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker) {
                        &::after {
                            display: none;
                        }
                    }
                }

                .add-reci {
                    color: #111827;
                    font-family: $he_heebo;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 16px;
                    display: block;
                    margin-bottom: 25px;
                    text-align: right;
                    cursor: pointer;

                    @media (max-width: 1440px) {
                        margin-bottom: 15px;
                    }
                }

                .recent-list-dropdown {
                    border-radius: 6px;
                    background-color: #FFF;
                    box-shadow: 0px 20px 25px -5px rgba(30, 64, 175, 0.20), 0px 8px 10px -6px rgba(30, 64, 175, 0.10);
                    padding-top: 14px;
                    padding-bottom: 16px;
                    padding: 14px 10px 16px 21px;
                    margin-top: -14px;

                    position: absolute;
                    width: 100%;
                    background: white;
                    z-index: 9;

                    @media (max-width: 576px) {
                        padding-left: 15px;
                    }

                    .recent-pay-iist {
                        padding-left: 0;
                        padding-right: 13px;
                        max-height: 364px;
                        overflow-y: auto;
                        margin-bottom: 20px;

                        @media screen and (max-width: 1440px) {
                            max-height: 300px;
                        }

                        @media screen and (max-width:1366px) {
                            max-height: 225px;
                        }

                        @media (max-width: 576px) {
                            padding-right: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            background: none !important;
                            box-shadow: none !important;
                        }

                        &::-webkit-scrollbar {
                            width: 6px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: rgba(0, 0, 0, 0.30);
                        }

                        .recent-pay-item {
                            padding-left: 25px;
                            padding-right: 25px;
                            border-bottom: none;
                            border-radius: 10px;
                            margin-bottom: 5px;

                            @media (max-width: 1440px) {
                                padding-left: 15px;
                                padding-right: 15px;
                            }

                            @media (max-width: 576px) {
                                padding-left: 10px;
                                padding-right: 10px;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:hover,
                            &.beneficiarySelected {
                                background-color: var(--light-blue-header-bg);

                                .profile-data {
                                    p {
                                        color: var(--primary-blue);
                                    }
                                }
                            }
                        }
                    }

                    .pay-select-btn {
                        padding: 14px 32px;
                        min-height: 50px;
                        width: 158px;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: #4B4B55;
                        text-align: center;
                        font-family: $manrope;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;

                        border-radius: 40px;
                        background-color: var(--content-wrapper-bg-color);

                        @media (max-width: 1440px) {
                            padding: 10px 25px;
                            min-height: 42px;
                        }

                        &.clickedSelect {
                            color: #fff;
                            background-color: var(--primary-blue);
                        }
                    }
                }

                .recipient-field {
                    color: #111827;
                    font-family: $he_heebo;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    display: block;
                    margin-bottom: 6px;
                }

                input {
                    min-height: 60px;
                    border-radius: 4px;
                    border: 1px solid var(--input-blue-border);

                    color: #9CA3AF;
                    font-family: $he_heebo;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;

                    padding: 12px 12px 0px 16px;
                }
            }

            .recent-pay-data {
                .recent-pay-title {
                    color: #111827;
                    font-family: 'Heebo';
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 38px;
                    display: inline-block;
                    margin-bottom: 6px;
                    letter-spacing: normal;
                }

                .recent-pay-iist {
                    max-height: 380px;
                    overflow-y: auto;

                    @media screen and (max-width: 1440px) {
                        max-height: 250px;
                    }

                    @media screen and (max-width: 1366px) {
                        max-height: 200px;
                    }
                }
            }

            .recent-pay-iist {
                padding-left: 0;
                margin-bottom: 0;

                .recent-pay-item {
                    min-height: 90px;
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    padding: 20px 25px 20px 0;
                    margin-bottom: 5px;

                    border-bottom: 1px dashed #9CA3AF;
                    background-color: #FFF;

                    @media (max-width: 1440px) {
                        padding: 10px 15px 10px 0;
                        min-height: 70px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .profile-img {
                        padding-right: 8px;
                        padding-bottom: 8px;
                        position: relative;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 35px;
                            height: 35px;
                            padding: 5px;
                            border-radius: 35px;
                            background-color: #DBEAFE;

                            color: var(--dark-blue-primary);
                            font-family: $inter;
                            font-size: 12px;
                            font-weight: 700;
                            line-height: normal;
                        }

                        img {
                            width: 18px;
                            height: 18px;
                            border-radius: 16px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }

                    .profile-data {
                        p {
                            color: #1F2937;
                            font-family: 'Heebo';
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 35px;
                            margin-bottom: 0;

                            @media (max-width: 1440px) {
                                line-height: 25px;
                            }
                        }

                        .pd-bottom {
                            display: flex;
                            align-items: center;

                            color: rgb(107 114 128 / 70%);
                            font-family: $inter;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: normal;

                            .currancy-name {
                                font-weight: 700;
                                display: inline-block;
                                margin-right: 17px;
                                position: relative;

                                &::before {
                                    content: "";
                                    width: 1px;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: -9px;
                                    border-right: 1px solid rgb(107 114 128 / 70%);
                                }
                            }
                        }
                    }
                }
            }

            .you-send-wrap {
                margin-bottom: 18px;
                position: relative;

                .send-feild {
                    color: #111827;
                    font-family: $he_heebo;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    display: block;
                    margin-bottom: 5px;

                    span {
                        color: var(--highlight-blue);
                    }

                    .change-beneficiary-list-name {
                        color: var(--highlight-blue);

                        &::after {
                            content: url('../../../../../assets/images/arrow-down-gary.svg');
                            margin-left: 8px;
                            vertical-align: middle;
                            position: absolute;
                            bottom: 70px;

                            @media screen and (max-width: 1440px) {
                                bottom: 62px;
                            }

                            @media screen and (max-width: 1280px) {
                                position: relative;
                                bottom: 0;
                            }
                        }
                    }
                }

                .you-send-text-feild {
                    border-radius: 4px;
                    border: 1px solid var(--input-blue-border) !important;
                    height: 64px;
                    width: 100%;
                    position: relative;
                    padding: 10px 10px 10px 14px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 7px;
                    transition: all 0.3s linear;
                    margin-bottom: 48px;

                    @media (max-width: 1440px) {
                        height: 55px;
                        padding: 5px 10px 5px 10px;
                    }

                    .currancy-amoutn-left {
                        flex-grow: 1;

                        .error-msg-custom {
                            color: #DC2626;
                            font-family: 'Roboto';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }

                        .default-set-amount {
                            color: var(--highlight-blue);
                            font-family: 'Roboto';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }

                    &:has(.send-amout-feild > input:focus) {
                        background-color: #F5F5F5;
                        border-color: #F5F5F5;

                        strong {
                            color: #374151;
                        }
                    }

                    &:has(.send-amout-feild > input.inputClickedFlag) {
                        border-color: #B91C1C;

                        // strong{
                        //     color: #374151;
                        // }
                    }

                    strong {
                        color: var(--primary-blue);
                        font-family: $he_heebo;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        display: block;
                        margin-bottom: 5px;
                    }

                    .send-amout-feild {
                        color: #6B7280;
                        font-family: $inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        background-color: transparent;
                        transition: all 0.3s linear;
                        display: flex;
                        align-items: center;
                        column-gap: 2px;

                        @media (max-width: 1440px) {
                            font-size: 16px;
                            line-height: 20px;
                        }

                        input {
                            border: none;
                            outline: none;
                            background: none;
                            transition: all 0.3s linear;
                            flex-grow: 1;

                            color: #1F2937;
                            font-family: $inter;
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 24px;

                            @media (max-width: 1440px) {
                                font-size: 16px;
                                line-height: 20px;
                            }

                            @media (max-width: 375px) {
                                width: 200px;
                            }

                            @media (max-width: 359px) {
                                width: 165px;
                            }

                            &:focus {
                                background-color: #F5F5F5;
                            }
                        }

                        input::placeholder {
                            color: #D1D5DB
                        }
                    }

                    .currancy-img-right {
                        min-width: 90px;
                        display: flex;
                        align-items: center;
                        column-gap: 9px;

                        color: #000;
                        font-family: $manrope;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: normal;
                        padding-left: 15px;

                        img {
                            width: 21px;
                            height: 21px;
                            border-radius: 21px;
                        }
                    }

                    .alert-amount-msg {
                        color: #DC2626;
                        font-family: 'Roboto';
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;

                        position: absolute;
                        left: 0;
                        bottom: -22px;

                        @media (max-width: 576px) {
                            width: 300px;
                            bottom: -43px;
                        }

                        @media (max-width: 479px) {
                            width: 200px;
                            bottom: -37px;
                            font-size: 12px;
                            line-height: 16px
                        }
                    }
                }
            }

            .wallet-currency-btn {
                min-width: 218px;
                min-height: 50px;
                margin: 0 auto 68px;
                border-radius: 54px;
                border: 1px solid var(--input-blue-border);
                background-color: var(--light-blue-header-bg);

                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 7px;

                color: #111827;
                font-family: $he_heebo;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                padding: 10px 15px;

                @media (max-width: 767px) {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    min-height: 45px;
                    margin-bottom: 40px;
                }

                strong {
                    font-weight: 700;
                }
            }

            .info-tooltip-wrap {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 2px;
                position: absolute;
                bottom: -32px;
                right: 0;

                .info-tooltip-text {
                    color: #16A34A;
                    text-align: right;
                    font-family: $he_heebo;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: center;
                    padding: 3px 10px;

                    border-radius: 30px;
                    background-color: #DCFCE7;
                    min-width: max-content;
                    min-height: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .info-icon {
                    cursor: pointer;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .successfully-alert-wrap {
                .sent-success-img {
                    width: 330px;
                    height: 330px;
                    margin: 0 auto 10px;

                    @media (max-width: 1440px) {
                        width: 250px;
                        height: 250px;
                    }

                    @media (max-width: 991px) {
                        width: 220px;
                        height: 220px;
                    }

                    @media (max-width: 767px) {
                        width: 180px;
                        height: 180px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }

                h2 {
                    color: #000;
                    text-align: center;
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 32px;
                    text-align: center;
                    margin-bottom: 47px;

                    @media (max-width: 1440px) {
                        margin-bottom: 20px;
                    }

                    @media (max-width: 479px) {
                        font-size: 14px;
                        line-height: 28px;
                        margin-bottom: 15px;
                    }

                    strong {
                        color: #000;
                        font-family: $inter;
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 32px;
                        display: block;

                        @media (max-width: 1440px) {
                            font-size: 28px;
                            line-height: 30px;
                        }

                        @media (max-width: 991px) {
                            font-size: 26px;
                            line-height: 28px;
                        }

                        @media (max-width: 767px) {
                            font-size: 24px;
                            line-height: 26px;
                        }

                        @media (max-width: 479px) {
                            font-size: 22px;
                            line-height: 24px;
                        }
                    }
                }

                .pay-details-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 22px;
                    width: 100%;
                    min-height: 48px;
                    border-radius: 45px;
                    background-color: #FAFAFA;

                    color: #1F2937;
                    font-family: $he_heebo;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;

                    @media (max-width: 1440px) {
                        font-size: 16px;
                        line-height: 24px;
                        min-height: 45px;
                    }

                    @media (max-width: 767px) {
                        min-height: 40px;
                    }
                }
            }

            .error-msg {
                text-align: center;
                color: #B91C1C;
                font-family: $he_heebo;
                font-size: 14px;
                line-height: 20px;
                margin-top: 7px;
                margin-bottom: 7px;
            }

            .refresh-quote-timer {
                @include flex(center, center, row);
                font-size: $font-14;
                line-height: 16px;
                font-weight: 500;
                color: #4B5563;
                font-family: $he_heebo;
                margin-top: 47px;
                text-align: center;

                .count-down {
                    background-color: #FEE2E2;
                    color: #DC2626;
                    padding: 2px 10px;
                    border-radius: 50px;
                    margin-left: 4px;
                }

                @media screen and (max-width: 1440px) {
                    margin-top: 36px;
                }
            }
        }


        .pay-next-btn {
            width: 515px;
            min-height: 48px;
            margin: 13px auto;
            max-width: 100%;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 65px;
            background-color: var(--primary-blue);
            transition: all 0.3s linear;
            color: #fff;
            font-family: $he_heebo;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;

            @media (max-width: 1440px) {
                font-size: 16px;
                line-height: 24px;
                min-height: 40px;
            }

            &.disabled {
                cursor: not-allowed;
                color: #000;
                background-color: #F3F4F6;
                opacity: 1;
            }
        }
    }

    .sent-dropdown {
        &.other-payment {
            margin-left: -64px;
            min-width: 233px;

            @media (max-width: 1024px) {
                margin-left: 0;
                min-width: 100%;
            }
        }
    }

    .price-tooltip {
        width: 459px;
        max-width: 100% !important;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 20px 25px -5px rgba(30, 64, 175, 0.20), 0px 8px 10px -6px rgba(30, 64, 175, 0.10) !important;

        @media (max-width: 576px) {
            width: 100%;
        }

        .mat-mdc-menu-content {
            padding: 25px 20px !important;

            ul {
                border-radius: 5px;
                background-color: #F9FAFB;
                padding-left: 0;
                margin-bottom: 0;

                li {
                    color: #374151;
                    font-family: $inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    padding: 15px 20px;
                    background-color: #F9FAFB;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 10px;

                    span {
                        color: #111827;
                        text-align: right;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .beneficiary-list-items-menu {
        width: 100%;
        max-width: 397px !important;
        min-width: 397px !important;
        height: auto;
        border-radius: 6px;
        box-shadow: 0px 20px 25px -5px rgba(30, 64, 175, 0.20), 0px 8px 10px -6px rgba(30, 64, 175, 0.10);

        @media screen and (max-width: 1440px) {
            max-width: 355px !important;
            min-width: 355px !important;
        }

        .mat-mdc-menu-content {
            padding: 21px 26px 20px 26px !important;

            @media screen and (max-width: 1440px) {
                padding: 20px 20px 15px 20px !important;
            }
        }

        .change-beneficiary-list {
            display: block !important;

            input {
                display: flex;
                width: 343px;
                height: 60px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1px solid var(--input-blue-border);
                padding: 18px 16px;
                color: #9CA3AF;
                font-family: 'Heebo';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                opacity: 0.8;

                @media screen and (max-width: 1440px) {
                    width: 315px;
                    height: 50px;
                    font-size: 13px;
                }
            }

            .add-recipients {
                display: flex;
                justify-content: end;
                color: var(--brand-primary-color);
                font-family: 'Heebo';
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin: 10px 0;
                cursor: pointer;
            }

            .search-icon {
                position: absolute;
                top: 42px;
                right: 45px;
                filter: brightness(0.5);

                @media screen and (max-width: 1440px) {
                    top: 36px;
                    right: 36px;
                }
            }

            .recent-pay-iist {
                max-height: 300px;
                min-height: auto;
                height: 100%;
                padding-left: 0;
                overflow: auto;

                @media screen and (max-width: 1440px) {
                    max-height: 205px;
                }

                .recent-pay-item {
                    display: flex;
                    gap: 20px;
                    width: 100%;
                    padding: 5px 12px;
                    align-items: center;

                    @media screen and (max-width: 1440px) {
                        padding: 2px 10px;
                        gap: 15px;
                    }

                    &:hover {
                        background-color: var(--light-blue-header-bg);
                        border-radius: 10px;
                    }

                    &.beneficiarySelected {
                        background-color: var(--light-blue-header-bg);
                        border-radius: 10px;
                    }

                    .profile-img {
                        padding-top: 12px;

                        span {
                            color: #FFF;
                            font-family: 'Heebo';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            display: flex;
                            width: 35px;
                            height: 35px;
                            padding: 10px;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 6px;
                            background: #60A5FA;
                            flex-shrink: 0;
                        }

                        .beneficiary-currency-img {
                            margin-top: -30px;
                            margin-left: 24px;
                        }
                    }

                    .profile-data {
                        .beneficiary-identity {
                            color: #111827;
                            font-family: 'Heebo';
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            // line-height: 35px;
                            margin-bottom: 0;
                        }

                        .beneficiary-country {
                            color: #6B7280;
                            font-family: 'Heebo';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            opacity: 0.7;
                        }

                        .beneficiary-moreinfo {
                            opacity: 0.7;
                            color: #6B7280;
                            font-family: 'Heebo';
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .pay-select-btn {
                padding: 14px 32px;
                min-height: 50px;
                width: 158px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                line-height: normal;
                border-radius: 40px;
                background-color: #E5E7EB;
                color: #9CA3AF;
                text-align: center;
                font-family: 'Heebo';
                font-size: 14px;
                font-style: normal;
                line-height: 20px;
                padding: 15px;

                @media screen and (max-width: 1440px) {
                    padding: 15px 25px;
                    min-height: 42px;
                }

                &.clickedSelectChange {
                    color: #fff;
                    background-color: var(--primary-blue);
                    padding: 15px;
                }
            }
        }
    }
}

.error-msg-custom {
    color: red !important;
}