<div class="risk-disclosure-container">
    <button class="close-btn" aria-label="Close" (click)="cancelConfirmation()">
      <img src="images/close-btn-cashflow.svg" alt="Close" />
    </button>
  
    <h3 class="disclosure-title">Disclosure of Risks in the Execution of Foreign Exchange, Financial Asset Transactions, and Protection Terms</h3>
    <div class="disclosure-content-wrapper" (scroll)="onScroll($event)">
      <div class="disclosure-body" [innerHTML]="disclosureContent"></div> 
    </div>
    <div class="popup-footer">
      <p class="error-msg"><span *ngIf="showErrorMsg">Please review all details before confirming</span></p>
      <div class="actions-wrapper">
        <button class="cancel-action" (click)="cancelConfirmation()">Cancel</button>
        <button class="confirm-action" [ngClass]="{'scrolled-to-end': isScrolledToEnd}" (click)="takeConfirmAction()">I confirm</button>
      </div>
    </div>
  </div>
  