@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variable";
::ng-deep {
    .ui-disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .identification-toggle-custom .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after,.identification-toggle-custom .mdc-switch:enabled .mdc-switch__track::after {
        background: #0052b4 !important;
    }
    
    .identification-toggle-custom .mdc-switch:enabled .mdc-switch__track::before, .identification-toggle-custom .mdc-switch .mdc-switch__handle::before, .identification-toggle-custom .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after{
        background: #0052b4 !important;
    }
    
   
}

.continue-btn {
    // max-width: 33rem;
    margin-top: 3rem;
    margin-bottom: 5rem;

    @include respond(lg) {
        max-width: 100%;
    }
}
.form-group {
    position: relative;
}
.upload-btn {
    display: block !important;
}
.custom-input-icon {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 10px;
    // pointer-events: none;
}
.icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: rgb(112, 110, 110);
    }
}
.blue-button {
    color: rgb(6, 102, 235);
}
.modal-container {
    height: 600px;
    width: 800px;
}
.row {
    padding-bottom: 15px;
}
.continue-btn {
    background: linear-gradient(111.05deg, #444444 2.91%, #000000 96.88%);
    border-radius: 40px;
    font-size: 16px;
    // line-height: 22px;
    margin: auto;
    font-weight: 600;
    color: #fff;
    padding: 12px 0px;
    height: auto;
    transition: 0.3s;
    position: relative;
    width: 100% !important;
    @media screen and (max-width: 1440px) {
        // height: 25px;
        width: 25px;
    }

    &.disabled {
        background: #f5f5fa !important;
        color: #c6c8cc !important;
        cursor: not-allowed;
    }
}
.calender-contain {
    position: relative;
  }
  
  .calender-contain .form-control {
    padding-right: 30px; /* Adjust the value to create space for the icon */
  }
  
  .calender-contain .custom-input-icon {
    position: absolute;
    top: 50%;
    right: 8px; /* Adjust the value to position the icon */
    transform: translateY(-50%);
    cursor: pointer;
  }
.file-drag-drop {
    border           : 2px dashed lightgray;
    border-radius    : 5px;
    min-height       : 6rem;

    position         : relative;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    text-align       : center;
    transition       : 0.4s;
    background-color : white;

    &.face_recognition {
        cursor : pointer;
    }

    &:hover {
        //background-color : #1cbc95;
        background-color : #EEFCF9;
    }

    &.hover-effect {
        background-color : #EEFCF9;
    }

    .input-tag {
        position   : absolute;
        margin     : 0;
        padding    : 0;
        width      : 100%;
        height     : 100%;
        outline    : none;
        opacity    : 0;
        cursor     : pointer;
        transition : 0.4s;
    }

    .spinner-loader {
        width    : 40px;
        height   : 40px;
        position : absolute;
        top      : 1rem;
        right    : 1rem;
    }
}

.upload-success {
    max-width: 2rem;
}
.file-drag-drop {
    button {
        background-color: unset;
    }
}
.input-icon {
    position: relative;
    background-color: unset;
}

.inside-input {
    position: absolute;
    right: 8px;
}

.drop-zone {
    margin: auto !important;
    width: min-content;
}
.face_recognition-fig-p--1 {
    font-size: 0.8rem;

}