<div class="auto-pilot-final-container">
  <div class="left-panel">
    <div class="info-sec">
      <h2 class="title">Auto-Pilot<br />is On</h2>
      <p class="desc">Protected. Running. On your side.</p>
    </div>
  </div>

  <div class="right-panel">
    <div class="content">
      <img src="images/fx-erp/rocket.gif" alt="Rocket Icon" class="icon" />
      <h3 class="headline">Auto-Pilot is Live</h3>
      <p class="desc">You're all set — your transactions are now protected automatically.</p>
      <p class="desc">You can pause, edit or cancel anytime from your dashboard.</p>
    </div>
    <button class="primary-btn" (click)="redirectToFxDashboard()">Open exposure table</button>
  </div>
</div>
