@import "../../../assets/scss/mixins";
@import '../../../assets/scss/variable';
.row {
    align-items: center;
}
label,
span {
    color: #7e8088 !important;
    font-size: 12px;
    font-weight: 400;
    display: block;
    min-height: 16px;
    text-align: left;
    width: auto;
}
/* Add any additional styles to the button as needed */
.btn {
    width: 40px;
    height: 40px;
}

/* You may need to adjust the button size and other styles to fit your design */
.input-group-append {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.success-icon {
    padding-right: 0;
    height: 9px;
    width: auto !important;
}
.error-msg {
    color: red !important;
}
.form-group {
    margin-bottom: 26px;
    .success {
        span {
            color: var(--brand-primary-color) !important;
        }
    }

    @media screen and (max-width: 1440px) {
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 580px) {
        margin-bottom: 15px;
    }
}
.continue-btn {
    background: #01031C;
    border-radius: 40px;
    font-size: 16px;
    // line-height: 22px;
    font-weight: 600;
    color: #fff;
    padding: 12px 0px;
    height: auto;
    transition: 0.3s;
    position: relative;
    width: 100% !important;
    @media screen and (max-width: 1440px) {
        // height: 25px;
        width: 25px;
    }

    &.disabled {
        background: #f5f5fa !important;
        color: #c6c8cc !important;
        cursor: not-allowed;
    }
}
