<ng-container [formGroup]="parentFormGroup">
  <ng-container [formGroup]="step_6_passwords">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="password">Password: *</label>
          <div class="input-group">
            <input cdkOverlayOrigin (paste)="restrictPaste($event)" type="text" (ngModelChange)="checkStrength()" (keydown)="restrictSpecialCharacters($event)" [type]="hidePassword ? 'password' : 'text'"
              class="form-control" name="password" formControlName="password" id="confirm-password-inp--1">
            <div class="input-group-append" *ngIf="getPasswordControl()?.value?.length">
              <button class="btn " type="button" (click)="togglePasswordVisibility()">
                <img [src]="hidePassword ? '/images/show-password.svg' : '/images/hide-password.svg'"
                  alt="Toggle Password">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <div class="col-12 indication">
            <div class="row" [ngClass]="{ 'success': hasEight, 'failed': !hasEight }">
              <img *ngIf="!hasEight" class="success-icon" src="/images/unSuccess.svg" alt="check">
              <img *ngIf="hasEight" class="success-icon" src="/images/successIcon.svg" alt="check">
              <span> 8 or more characters</span>
            </div>
            <div class="row" [ngClass]="{ 'success': hasDigit, 'failed': !hasDigit }">
              <img *ngIf="!hasDigit" class="success-icon" src="/images/unSuccess.svg" alt="check">
              <img *ngIf="hasDigit" class="success-icon" src="/images/successIcon.svg" alt="check">
              <span>Numbers</span>
            </div>
            <div class="row" [ngClass]="{ 'success': hasLower, 'failed': !hasLower }">
              <img *ngIf="!hasLower" class="success-icon" src="/images/unSuccess.svg" alt="check">
              <img *ngIf="hasLower" class="success-icon" src="/images/successIcon.svg" alt="check">
              <span>A minimum of 1 <b>lower case</b> (a-z)</span>
            </div>
            <div class="row" [ngClass]="{ 'success': hasUpper, 'failed': !hasUpper }">
              <img *ngIf="!hasUpper" class="success-icon" src="/images/unSuccess.svg" alt="check">
              <img *ngIf="hasUpper" class="success-icon" src="/images/successIcon.svg" alt="check">
              <span>A minimum of 1 <b>upper case</b> (A-Z)</span>
            </div>
            <div class="row" [ngClass]="{ 'success': hasSpecial, 'failed': !hasSpecial }">
              <img *ngIf="!hasSpecial" class="success-icon" src="/images/unSuccess.svg" alt="check">
              <img *ngIf="hasSpecial" class="success-icon" src="/images/successIcon.svg" alt="check">
              <span>Special characters</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group" *ngIf="getPasswordControl()?.value?.length && !illegally">
          <label for="password">Confirm password: *</label>
          <div class="input-group" *ngIf="getPasswordControl()?.value?.length">
            <input type="text" (paste)="restrictPaste($event)" (ngModelChange)="checkStrength()" (keydown)="restrictSpecialCharacters($event)" [type]="hideConfirmPassword ? 'password' : 'text'"
              class=" form-control" name="confirmPassword" formControlName="confirmPassword" id="confirm-password-inp--2">
            <div class="input-group-append" *ngIf="getConfirmPasswordControl()?.value?.length">
              <button class="btn " type="button" (click)="toggleConfirmPasswordVisibility()">
                <img [src]="hideConfirmPassword ? '/images/show-password.svg' : '/images/hide-password.svg'"
                  alt="Toggle Password">
              </button>
            </div>
          </div>
          <span *ngIf="kycForm.get('step_6').get('passwords').hasError('passwordMismatch')" class="error-msg">Password
            not
            equivalent</span>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button [class.disabled]="!kycForm.get('step_6')?.valid || illegally || loading"
        [disabled]="!kycForm.get('step_6')?.valid || illegally || loading" type="button" mat-raised-button
        color="primary" class="continue-btn mx-auto" (click)="handleNextStep()" id="confirm-password-btn--3">
        {{ (isFromIsrael ? 'KYC.ContinueLogin' : 'KYC.createAccount') | translate }}
      </button>
      </div>
    </div>
  </ng-container>
</ng-container>