<div class="risk-dashboard">
    <app-breadcrumb-wallet></app-breadcrumb-wallet>
    <div class="dashboard-sections">
        <div class="left-sec">
            <app-annual-exposure-details></app-annual-exposure-details>
            <app-charts-tabs (toggleView)="onToggleView($event)"></app-charts-tabs>

            <div class="left-two-part">
                <div class="left-haft-part">
                    <app-trade-view-chart></app-trade-view-chart>
                </div>
                <div class="left-haft-part">
                    <app-volatility-chart></app-volatility-chart>
                </div>
            </div>
        </div>
        <div class="right-sec">
            <app-risk-estimate-chart></app-risk-estimate-chart>
            <app-momentum-indicator-chart></app-momentum-indicator-chart>
        </div>
    </div>
    <div class="dashboard-instruction">
        <p>The FX hedging services provided by Okoora do not constitute investment advice. Our recommendations are
            based on the information provided by the client, and it is the client's responsibility to ensure that
            all information provided to Okoora is accurate and complete. Okoora is not responsible for any losses or
            damages arising from reliance on our recommendations, especially if based on incomplete or incorrect
            information.</p>
        <p>All decisions regarding the use of hedging strategies are made at your discretion. Clients should
            evaluate their own financial situation and seek independent advice before implementing any hedging
            strategies. Past performance is not indicative of future results, and all investments carry risk,
            including potential loss.</p>
        <p>By using Okoora's FX hedging services, you agree to this disclaimer.</p>
    </div>
</div>
