.cancelled-traderoom-wrapper {
    img {
        margin-bottom: 20px;
    }

    .traderoom-connect-title {
        font-family: 'Epilogue';
        color: #2947F2;
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
        letter-spacing: 1.14px;
    }

    .subtext {
        font-family: "Manrope";
        color: #01031C;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.54px;

        span {
            white-space: pre;
        }
    }
}