<div class="exposer-chart">
    <!-- Tooltip Container -->
    <div id="custom-tooltip" class="monthly-exposer-tooltip" style="display: none;"></div>
    <div class="legends-rm-exposure">
      <label class="title"> <div class="legends-exposure"></div> Exposure</label>
      <label class="title"> <div class="recommended-hedging"></div>Recommended hedging</label>
      <label class="title"> <div class="actual-hedging"></div> Actual hedging</label>
    </div>
    <!-- ApexCharts Component -->
    <div class="chart-wrapper">
      <apx-chart
       *ngIf="paginatedSeries?.length"
        [series]="paginatedSeries"
        [chart]="chartOptions"
        [xaxis]="xAxisOptions"
        [yaxis]="yAxisOptions"
        [stroke]="strokeOptions"
        [dataLabels]="dataLabelsOptions"
        [legend]="legendOptions"
        [tooltip]="tooltipOptions"
        [plotOptions]="plotOptions"
        [fill]="fillOptions">
      </apx-chart>
      <div class="pagination-wrap" *ngIf="chartSeries[1].data.length > 12">
        <mat-paginator id="paginationMonthlyExposureChart" [pageSize]="12" [length]="chartSeries[1].data.length" (page)="onPageChange($event)" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
  