<div class="layout" [ngClass]="{'not-dashboard': isAuthRoute}">
    <ng-container *ngIf="!isSignUpRoute && !isLoginRoute && !isForgotPasswordRoute && !isChangePasswordRoute && !isCodeVerificationRoute">
        <app-new-header (openSidebar)="openSidebar()"></app-new-header>
        <app-sidebar></app-sidebar>
    </ng-container>
    
    <div class="content-wrapper" [ngClass]="{'risk-manager': isRiskManagerRoute, 'authenticate-user': isLoggedInUser === 'true' }">
        <router-outlet />
    </div>
</div>