<div class="secure-connection-container">
  <!-- Left Panel -->
  <div class="left-panel">
    <div class="info-sec">
      <h1 class="title">Secure <br>connection</h1>
      <p class="desc">We only read invoice data — never touch or change anything.</p>
    </div>
  </div>

  <!-- Right Panel -->
  <div class="right-panel">
    <!-- Top Section -->
    <div class="top-header">
      <h3 class="title">Set your automation rules</h3>
      <p class="desc">
        Tell us what to protect — we’ll take care of the rest. Pick invoice types, currencies,
        ranges, and timelines. All fully adjustable later.
      </p>
      <p class="desc">
        We only read invoice data needed to protect you. Nothing is changed on your system.
      </p>
    </div>

  </div>

</div>