@import "../../assets/scss/variable";
@import "../../assets/scss/mixins";

::ng-deep {
  .add-money-container {
    margin: 0 -65px 0 -61px;
    @media screen and (max-width: 1440px) {
      margin: 0 -32px 0 -32px;
    }
    .title-main {
      padding-left: 65px;
      padding-right: 61px;

      @media screen and (max-width: 1440px) {
        padding-left: 32px;
        padding-right: 32px;
      }
      .add-money-title {
        font-family: "Inter";
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        color: #6b7280;
        margin-bottom: 10px;
        line-height: 16px;

        @media screen and (max-width: 1440px) {
          font-size: 20px;
          margin-bottom: 0;
        }

        @media screen and (max-width: 479px) {
          font-size: 18px;
        }
      }

      .add-money-subtitle {
        font-family: "Heebo";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #4B5563;
        line-height: 20px;

        @media screen and (max-width: 1440px) {
          font-size: 12px;
        }
      }
    }

    .other-currency-wrapper {
      &.eu-account {
        margin-top: 44px;
        @media screen and (max-width: 1440px) {
          margin-top: 28px;
        }
      }
    }

    .sidetab-group {
      margin-top: 33px;

      .mat-mdc-tab-header {
        .mat-mdc-tab{
          padding: 0;
        }
        .mdc-tab.mdc-tab--active {
          border-radius: 27px;
          background: var(--dark-blue-primary);
          box-shadow: 0px 20px 25px -5px rgba(30, 64, 175, 0.20), 0px 8px 10px -6px rgba(30, 64, 175, 0.10);
        }

        .mat-mdc-tab-labels {
          background: #f3f4f6;
          border-radius: 27px;
        }

        .mat-mdc-tab-header-pagination {
          display: none;
        }

        .mat-mdc-tab-labels {
          gap: 0;
          margin: 0 60px 50px 60px;

          @media screen and (max-width: 1440px) {
            margin: 0 32px 32px 32px;
          }
        }

        .mdc-tab--active .mdc-tab__text-label {
          padding: 15px 50px;
          font-family: "Inter";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          color: $white;

          @media screen and (max-width: 1440px) {
            font-size: 12px;
            padding: 10px;
          }
        }

        .mdc-tab__text-label {
          padding: 15px 50px;
          font-family: "Inter";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          color: #6b7280;
          letter-spacing: 0;

          @media screen and (max-width: 1440px) {
            font-size: 12px;
            padding: 10px;
          }
        }

        .mdc-tab-indicator {
          display: none;
        }
      }

      .mat-mdc-tab-body-content {
        overflow: hidden;
      }
    }
  }
}

.back-deposit {
  .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 50px;

    @media screen and (max-width: 479px) {
      width: 50px;
    }
  }
}
