@import '../../../../../../assets/scss/variable';

::ng-deep {
    .trading-view-chart-container {
      width: 100%;
      height: 100%;
      max-height: 278px;
      border-radius: 10px;
      border: 1px solid #f1f1f1;
      background: #fff;
      padding: 16px 24px 5px 24px;
      #tradeViewChart {
        width: 100%;
        & > div {
          width: 100% !important;
          height: auto !important;
  
          & > iframe {
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
  
      .tradeview-details {
        width: 100%;
        .pair-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            color: #000;
            font-family: "Heebo";
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            margin: 0;
          }
  
          .month-selector {
            width: auto;
            .mat-mdc-select-placeholder,.mat-mdc-select-value{
              color:$black;
              text-align: right;
              font-family:$he_heebo;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; 
            }
            .mat-mdc-select-arrow-wrapper{
              height: auto;
              margin: 0 0 0 10px;
              .mat-mdc-select-arrow {
                width:8px;
                height:5px;
                background: url(../../../../../../assets/images/arrow-down-black.svg) center no-repeat;
                background-size: contain;
                svg {
                  display: none;
                }
              }
            }
          }
        }
  
        h2 {
          color: #1d2939;
          font-family: "Heebo";
          font-size: 36px;
          font-weight: 700;
          line-height: 44px;
          margin: 0;
  
          span {
            font-size: 16px;
          }
        }
      }
      @media screen and (max-width:1199px) {
        padding:20px 20px 5px;
        .tradeview-details{
          h2 {
            font-size: 24px;
            line-height: 1;
          }
        }
      }
      @media screen and (max-width:640px) {
        .tradeview-details{
          h2 {
            font-size:22px;
            margin: 0 0 5px;
            line-height: 1;
          }
        }
      }
    }
  
    .trading-view-chart-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .mdc-menu-surface.mat-mdc-select-panel.trading-view-chart-ddl{
      border-radius: 5px;
      padding:0 6px!important;
      box-shadow: 0px 5px 64px -12px rgba(16, 24, 40, 0.20);
      background-color: $white;
      min-width: 140px;
      .mat-mdc-option{
        min-height:38px;
        padding: 10px 18px 8px;
        color:#1D2939;
        font-family:$he_heebo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-radius: 0;
        margin:0;
        border-bottom: 1px dashed #D6D6D6;
        &.mdc-list-item--selected,&.mat-mdc-option-active{
          background-color: #E5F4FF !important;
          color:#3538CD;
        }
        &:hover {
          background-color: #EFF8FF;
        }
        &:last-child{
          border: none;
        }
      }
      @media screen and (max-width:1440px) {
        min-width: max-content;
      }
    }
    #tradingViewScript{
      max-height:200px;
      .tv-widget-chart--with-border{
        border: none;
      }
      @media screen and (max-width:1800px) {
        max-height:135px;
      }
      @media screen and (max-width:1440px) {
        max-height:114px;
      }
      @media screen and (max-width:640px) {
        max-height:max-content;
      }
    }
   
  }