.connecting-traderoom-wrapper {
    .okoora-logo-wrapper {
        margin-bottom: 32px;
    }

    .traderoom-connect-title {
        font-family: 'Epilogue';
        color: #2947F2;
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
        letter-spacing: 1.14px;
    }
}