<div class="risk-manager-final-step" id="riskManagerFinalStep">
    <div class="cash-flow-wrapper">
        <h2 class="cash-title">
            <div class="img-wrapper">
                <img src="images/money-bag-cashflow.svg" alt="money-bag" class="bag-img" />
            </div> Cash flow exposure
        </h2>
        <div class="hedging-wrap">
            <button class="hedging-btn">How our hedging works? <img container="body" [ngbTooltip]="sellingToolTip" placement="top-right"
                tooltipClass="risk-step3-tooltip--rm"
                    src="images/hedging-info.svg"></button>
            <ng-template #sellingToolTip>
                You are at risk when {{monthlyExposureObject.toCurrency}} goes down because you will get fewer
                {{monthlyExposureObject.baseCurrency}} when
                converting {{monthlyExposureObject.toCurrency}}, reducing your income
            </ng-template>
            <ng-template #cashflowDate>
                You can select in which day you want the your monthly exposure will be expired
            </ng-template>
            <ng-template #total>
                Total is calculated by subtracting buying from selling
            </ng-template>
            <ng-template #disableMonth>
                You can select if you want to set disable this month, and it will be set to 0
            </ng-template>
        </div>
    </div>
    <div class="risk-exposer-wrap">
        <app-monthly-exposure-details [monthlyExposureObject]="monthlyExposureObject" [monthlyPeriod]="monthlyPeriod"></app-monthly-exposure-details>
        <div class="exposer-table-wrap">
            <div class="exposer-table">
                <div class="overlay-wrap">
                    <table mat-table [dataSource]="cashflowExposureRows" class="mat-elevation-z8">
                        <ng-container matColumnDef="Month" class="exposer-month">
                            <th mat-header-cell *matHeaderCellDef> Cashflow date <img
                                src="images/help-circle-icon-black.svg" [ngbTooltip]="cashflowDate"
                                placement="top-left" tooltipClass="risk-step3-tooltip--rm">
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="position: relative;"
                                [class.disabledColumn]="element.disabledColumn">
                                <span class="date-and-expand" (click)="chooseCashflowDate(i, element?.year, element?.month, element?.cashflowDate)">
                                    <span>{{element?.cashflowDate}} <b>{{element?.month}}</b> {{element?.year}}</span>
                                    <mat-icon>expand_more</mat-icon>
                                    <span class="m-date-tooltip-wrap" *ngIf="i === 0" id="cashflowDateColumn"
                                        #cashflowDateColumn [ngbTooltip]="cashflowDateTooltip" [autoClose]="false"
                                        #riskAlert="ngbTooltip" tooltipClass="cash-flow-date-tooltip"
                                        placement="top-left" triggers="manual">
                                        <ng-template #cashflowDateTooltip>
                                            <div id="riskPopup" class="cash-flow-date-wrapper">
                                                <div class="info-container">
                                                    <div class="info-container-items">
                                                        <div class="title">Set cash flow dates</div>
                                                        <div class="desc">You can edit the day of the exposure of each month</div>
                                                        <div class="try-btn d-flex">
                                                            <span class="step-of">Step 1 of 4</span>
                                                            <button class="try-btn-text" (click)="chooseCashflowDate(i, element?.year, element?.month, element?.cashflowDate)">Edit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </span>

                                    <mat-form-field class="monthly-date">
                                        <input matInput [matDatepicker]="datepicker" [(ngModel)]="element.date" />
                                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker panelClass="cashflow-date-calendar-cd">
                                          <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel class="cancel-cdc">Cancel</button>
                                            <button mat-raised-button matDatepickerApply class="set-cdc" (click)="setMonthlyDate(i,element)">Set</button>
                                            <button mat-button matDatepickerCancel class="close-cdc"><img src="images/close-btn-cashflow.svg"></button>
                                          </mat-datepicker-actions>
                                        </mat-datepicker>
                                    </mat-form-field>
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Selling" class="exposer-selling">
                            <th mat-header-cell *matHeaderCellDef> Selling </th>
                            <td mat-cell *matCellDef="let element; let i = index"
                                [class.disabledColumn]="element.disabledColumn">
                                <div class="buying-price" (click)="editSelling(element , i)">
                                    {{monthlyExposureObject.sign}}{{valueWithComma(element?.selling, 2)}}
                                </div>
                                <button (click)="editSelling(element , i)" class="edit-exposer">
                                    <img src="images/edit-exposer-icon.svg"></button>
                                <div *ngIf="element?.openEditForSelling && openEditSellingIndex === i"
                                    class="edit-exposer-wrap"
                                    [ngClass]="element?.errMsgForsellingFlag ? 'error-input' : ''">
                                    <div class="edit-inner">
                                        <div class="input-wrap">
                                            <span>{{monthlyExposureObject.sign}}</span>
                                            <input type="text" id="sellEdit__price{{i}}"
                                                [(ngModel)]="sellingValueForedit"
                                                class="edit-price" appOnlyNumbers
                                                [maxLength]="14"
                                                (click)="clearSellingZeroValue(element,i)"
                                                (input)="formatValue($event, 'sellingValueForedit')"
                                                (keypress)="restrictLength($event)"
                                                (keydown)="preventDecimalValue($event)">
                                                
                                            <button class="clear-input" (click)="clearInput(2)"
                                                id="clearSellEdit__btn{{i}}"><img
                                                    src="images/clear_input.svg"></button>
                                        </div>
                                        <div class="edit-e-option">
                                            <button class="cancel-btn" id="cancelSellEdit__btn{{i}}"
                                            (click)="cancelEditSelling(element , i)"> Cancel </button>
                                            <button class="save-btn" id="saveSellEdit__btn{{i}}"
                                            (click)="saveEditSelling(element , i)"> Save </button>
                                        </div>
                                    </div>
                                    <div class="warning-error" *ngIf="element?.errMsgForsellingFlag"><img
                                            src="images/warning-circle-icon.svg"> {{errrMsgForBuyingAndSelling}}
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Buying" class="exposer-buying">
                            <th mat-header-cell *matHeaderCellDef> Buying </th>
                            <td mat-cell *matCellDef="let element; let i = index" class="buying-cell"
                                [class.disabledColumn]="element.disabledColumn">
                                <div class="buying-price" (click)="editBuying(element , i)">
                                    {{monthlyExposureObject.sign}}{{ valueWithComma(element?.buying, 2) }}
                                </div>
                                <button class="edit-exposer" (click)="editBuying(element , i)"
                                    [ngbTooltip]="editBuyAmountCashflowTooltip" [autoClose]="false"
                                    #riskAlert="ngbTooltip" tooltipClass="risk-tooltip" placement="top-left"
                                    triggers="manual"><img src="images/edit-exposer-icon.svg"></button>

                                <ng-template #editBuyAmountCashflowTooltip>
                                    <div id="riskPopup" class="risk-manager-wrapper">
                                        <button class="close_tooltip"></button>
                                        <div class="info-container">
                                            <div class="info-container-items">
                                                <div class="title">Cash flow amounts</div>
                                                <div class="desc">You can edit both buying & selling amounts
                                                </div>
                                                <div class="try-btn d-flex" style="justify-content: space-between;">
                                                    <span class="step-of">Step 2 of 4</span>
                                                    <button class="try-btn-text" (click)="chooseCashflowDate(i, element?.year, element?.month, element?.cashflowDate)">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <div *ngIf="element?.openEditForBuying && openEditBuyingIndex === i"
                                    class="edit-exposer-wrap"
                                    [ngClass]="element?.errMsgForbuyingFlag ? 'error-input' : ''">
                                    <div class="edit-inner">
                                        <div class="input-wrap">
                                            <span>{{monthlyExposureObject.sign}}</span>
                                            <input type="text" id="buyEdit__price{{i}}"
                                                class="edit-price" appOnlyNumbers [maxLength]="14"
                                                [(ngModel)]="buyingValueForedit"
                                                (click)="ClearBuyingZeroValue(element,i)"
                                                (input)="formatValue($event, 'buyingValueForedit')"
                                                (keypress)="restrictLength($event)"
                                                (keydown)="preventDecimalValue($event)"
                                            >
                                            <button class="clear-input" (click)="clearInput(1)"
                                                id="clearBuyEdit__btn{{i}}"><img
                                                    src="images/clear_input.svg"></button>
                                        </div>
                                        <div class="edit-e-option">
                                            <button class="cancel-btn" id="cancelBuyEdit__btn{{i}}"
                                            (click)="cancelEditBuying(element , i)"> Cancel </button>
                                            <button class="save-btn" id="saveBuyEdit__btn{{i}}"
                                            (click)="saveEditBuying(element , i)"> Save </button>
                                        </div>
                                    </div>
                                    <div *ngIf="element?.errMsgForbuyingFlag" class="warning-error"><img
                                            src="images/warning-circle-icon.svg"> {{errrMsgForBuyingAndSelling}}
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="TotalNet" class="total-net">
                            <th mat-header-cell *matHeaderCellDef> Total <img
                                    src="images/help-circle-icon-black.svg" [ngbTooltip]="total"
                                    placement="top-left" tooltipClass="risk-step3-tooltip--rm"></th>
                            <td mat-cell *matCellDef="let element" class="total-price"
                                [class.disabledColumn]="element.disabledColumn"> 
                                <span [ngClass]="element?.totalNetValue?.toString().includes('-') ? 'negative-total' : 'positive-total'">
                                    {{ element?.totalNetValue?.toString().includes('-') ? '-' : '+'}}{{monthlyExposureObject.sign}}{{valueWithComma(element?.totalNetValue?.toString().replace('-', ''), 2)}}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="DisableMonth" class="postpone">
                            <th mat-header-cell *matHeaderCellDef>Disable month <img
                                    src="images/help-circle-icon-black.svg" [ngbTooltip]="disableMonth"
                                    placement="top-right" tooltipClass="risk-step3-tooltip--rm"></th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <mat-slide-toggle (change)="onSwitchToggle($event,element, i)">
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
                            [ngClass]="((row.postPoneFlag) || (row.openEditForBuying) || (row.openEditForSelling) ? 'active' : '') || (i === row.blinkRowIndex ? 'blink-row' : '')">
                        </tr>
                    </table>
                </div>
            </div>
            <div class="add-rows-wrap">
                <button class="add-btn six-month" id="plusMonthExposureBtn__i0"
                    *ngIf="monthlyPeriod == 6" (click)="addSixMonth()"><i class="plus-icon"></i>Next
                    6
                    months</button>
                <button class="add-btn" (click)="addOneMore()" id="plusMonthExposureBtn__i1"
                    *ngIf="monthlyPeriod < 24 && monthlyPeriod > 6"><i class="plus-icon"></i></button>
                <span class="error-message limit-reached" *ngIf="monthlyPeriod > 23">You have reached the limit</span>
            </div>
            <span *ngIf="maxLengthError" class="error-message"> Maximum amount allowed is
                {{monthlyExposureObject.sign}}100,000,000 </span>
            <div class="exposer-btns">
                <button class="back-btn" (click)="backToPrevious()" id="backStep3Btn__i4"> Back
                </button>
                <button (click)="exposureDetailsNextStep()" class="continue-btn"> Save & continue <img src="images/next-btn-arrow.svg"></button>
            </div>
        </div>
    </div>
</div>