.agents-busy-wrapper {
    picture {
        img {
            width: 100%;
            height: 100%;
            max-width: 107px;
            max-height: 93px;
            margin-bottom: 61px;
        }
    }

    .traderoom-connect-title {
        font-family: 'Epilogue';
        color: #FFF !important;
        font-size: 38px !important;
        font-weight: 800;
        line-height: 44px !important;
        letter-spacing: 1.14px;
    }
}