<div class="well-done-screen-main">
    <div class="well-done-screen-header">
        <img class="form-img" src="images/star-icon.svg" alt="star-icon">
    </div>
    <div class="well-done-screen-center">
        <div class="well-done-screen-title" *ngIf="showWelldone">
            <h6>Well done</h6>
        </div>
        <div class="well-done-screen-title" *ngIf="showText">
            <p>Your action was successful made</p>
        </div>
    </div>

    <div class="well-done-screen-footer">
        <button id="wdndc-back-btn" (click)="closeAlldialog()">{{ (paymentFromDashboard) ? 'Back to Dashboard' : (paymentFromPayments ? 'Back to my payments' : 'Back to my wallet') }}
        </button>
    </div>
</div>
