@import "../../../../assets/scss/variable";

.set-rules-container {
  display: flex;
  height: 100vh;
  font-family: $he_heebo;
  max-height: 918px;
  gap: 21px;
  align-items: center;
 
  @media screen and (min-width: 768px) and (orientation: portrait) {
    max-height: 46vh;
  }

  @media screen and (max-width: 1440px) {
    max-height: calc(100vh - 50px);
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 10px;
  }

  .snackbar-container {
    padding: 18px 17px 18px 11px;
    display: flex;
    width: 100%;
    max-width: 352px;
    align-items: center;
    justify-content: space-between;
    gap: 11px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 214px 60px 0px rgba(0, 0, 0, 0.00), 0px 137px 55px 0px rgba(0, 0, 0, 0.01), 0px 77px 46px 0px rgba(0, 0, 0, 0.05), 0px 34px 34px 0px rgba(0, 0, 0, 0.09), 0px 9px 19px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 90px;
    right: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 9;

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 11px;

      .title {
        color: #000;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        margin: 0;
      }

      .message {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin: 0;
      }
    }

    @media screen and (max-width:1440px) {
      right: 20px;
    }
    @media screen and (max-width:767px) {
      max-width: max-content;
    }
  }

  .left-panel {
    display: flex;
    align-items: center;
    background: url(../../../../assets/images/fx-erp/fx-erp-step-left-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    width: 100%;
    max-width: 484px;
    border-radius: 10px;

    @media screen and (max-width: 1199px) {
      max-width: 350px;
    }

    @media screen and (max-width: 991px) {
      max-width: 250px;
    }

    @media screen and (max-width: 767px) {
      max-width: 100%;
      max-height: max-content;
    }

    .info-sec {
      padding: 0 64px 0 89px;

      @media screen and (max-width: 1199px) {
        padding: 0 40px;
      }

      @media screen and (max-width: 991px) {
        padding: 0 30px;
      }

      @media screen and (max-width: 767px) {
        padding: 30px;
      }

      .title {
        color: #fff;
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -1.2px;
        margin: 0;

        @media screen and (max-width:1440px) {
          font-size: 50px;
          line-height: 1.2;
        }

        @media screen and (max-width: 1199px) {
          font-size: 40px;
        }

        @media screen and (max-width:1024px) {
          font-size: 30px;
        }

        @media screen and (max-width:991px) {
          font-size: 25px;
        }

        @media screen and (max-width:767px) {
          font-size: 20px;

          br {
            display: none;
          }
        }

        @media screen and (max-width:580px) {
          font-size: 18px;
        }
      }

      .desc {
        color: #05f2f2;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;

        @media screen and (max-width: 1199px) {
          font-size: 18px;
          line-height: 1.2;
        }

        @media screen and (max-width:1024px) {
          font-size: 16px;
        }

        @media screen and (max-width:991px) {
          font-size: 14px;
        }

        @media screen and (max-width:767px) {
          font-size: 12px;
        }
      }
    }
  }

  .right-panel {
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    background: url(../../../../assets/images/fx-erp/fx-erp-step-right-bg1.svg);
    background-position: bottom;
    background-size: cover;
    align-items: flex-start;
    overflow-y: auto;
    @media screen and (max-width: 1440px) {
      padding: 30px 10px;
    }

    @media screen and (max-width: 1199px) {
      padding: 20px 0;
    }

    @media screen and (max-width: 767px) {
      padding: 0;
    }

    .back-btn {
      padding: 10px 20px;
      color: #4B5563;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;

      @media screen and (max-width:1440px) {
        margin: 0;
        padding: 0;
      }

      @media screen and (max-width: 767px) {
        padding: 15px 0px;
        margin-bottom: 0;
      }
    }

    .content {
      margin: 26px auto 20px 174px;

      @media screen and (max-width: 1440px) {
        margin: 20px auto 0;
      }

      @media screen and (max-width:767px) {
        margin: 0 auto;
      }

      .label-with-tooltip {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 0 2px;

        img {
          width: 20px;
        }

        color: #7687AB;
        font-size: 14px;
        font-weight: 700;
        line-height: 120%;
      }

      .heading {
        color: #111827;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
        margin: 0;

        @media screen and (max-width:1440px) {
          font-size: 18px;
          line-height: 1.2;
        }

        @media screen and (max-width:767px) {
          font-size: 16px;
        }
      }

      .erp-preview {
        width: 100%;
        max-width: 100%;
        border-radius: 8px;
        margin: 20px 0 35px;

        @media screen and (max-width:1440px) {
          margin: 10px 0;
        }
      }

      .steps {
        ul {
          padding: 0 0 0 20px;
          margin: 0;

          li {
            margin: 0 0 22px;
            color: #6B7280;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;

            span {
              color: #374151;
              font-weight: 600;
            }
          }

          @media screen and (max-width:1440px) {
            padding: 0 0 0 10px;

            li {
              margin: 0 0 10px;
              line-height: 1.2;
            }
          }

          @media screen and (max-width:767px) {
            li {
              font-size: 14px;
              margin: 0 0 5px;
            }
          }
        }

        .step-title {
          color: #2320E6;
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          margin: 0 0 21px;

          @media screen and (max-width:1440px) {
            font-size: 16px;
            line-height: 1.2;
            margin: 0 0 15px;
          }

          @media screen and (max-width:767px) {
            font-size: 14px;
            margin: 0 0 10px;
          }
        }
      }

      .connect-btn {
        display: flex;
        width: 176px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 40px;
        background: #2320E6;
        color: #FFFFFF;
        align-items: center;
        margin: 42px 0 0 auto;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        @media screen and (max-width:1440px) {
          margin: 30px 0 0 auto;
        }

        @media screen and (max-width:767px) {
          font-size: 14px;
          margin: 20px 0 0 auto;
          width: max-content;
        }
      }
    }
  }
}