@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/scss/bootstrap";
@import "assets/scss/variable";
@import "assets/scss/fonts";
// @import '~swiper/swiper-bundle.css';
@import "@mobiscroll/angular/dist/css/mobiscroll.scss";
@import '~swiper/swiper-bundle.css';
@import "~@mobiscroll/angular/dist/css/mobiscroll.min.css";

// slim-scroll-scss
::-webkit-scrollbar {
  @media screen and (min-width: 1440px) {
    width: 10px;
    height: 5px;
  }
  @media screen and (min-width: 1025px) {
    width: 8px;
    height: 5px;
  }
}

::-webkit-scrollbar-track {
  @media screen and (min-width: 1025px) {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

::-webkit-scrollbar-thumb {
  @media screen and (min-width: 1025px) {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

::-webkit-scrollbar-thumb:window-inactive {
  @media screen and (min-width: 1025px) {
    background: rgba(255, 255, 255, 0.3);
  }
}
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; font-family: $he_heebo;touch-action: manipulation;}
body,p,h1,h2,h3,h4,h5,ul { margin: 0; font-family: $he_heebo; letter-spacing: 0;}
a{text-decoration: none;}
ul, li {
  list-style-type: none;
}
input:focus-visible{
  outline: none;
}
.mat-mdc-option .mat-pseudo-checkbox-minimal{
  display: none;
}
button{
  background-color: transparent;
  border: none;
}
.sb-show-main.sb-main-padded{
    padding: 0;
}
.mat-icon {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: var(--brand-primary-color) !important;
  background-color: transparent !important;
}

.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled
  ~ .mdc-checkbox__background
  .mdc-checkbox__checkmark {
  color: var(--brand-primary-color) !important;
}


.custom-tooltip {
  &.message-wrapper {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 294px;
    background-color: #01031c;
    border-radius: 13px;
    color: #fff;
    font-size: $font-14;
    font-weight: 400;
    line-height: normal;
    z-index: 9;
    .tooltip-message {
      position: relative;
      height: 100%;
      width: 100%;
      display: inline-block;
      padding: 18px 10px 18px 24px;
      &::before {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        background-color: #01031c;
        top: -4px;
        bottom: auto;
        left: 0;
        right: 0;
        transform: rotate(45deg);
        margin: auto;
      }
      &.top {
        &::before {
          top: auto;
          bottom: -4px;
        }
      }
      &.left {
        &::before {
          top: 0;
          bottom: 0;
          left: -4px;
          right: auto;
        }
      }
      &.right {
        &::before {
          top: 0;
          bottom: 0;
          left: auto;
          right: -4px;
        }
      }
    }
  }
}
