@import "../../../assets/scss/variable";
@import "../../../assets/scss/mixins";

::ng-deep {
  .other-currency-container {
    padding-left: 65px;
    padding-right: 59px;
    max-width: 579px;
    width: 100%;
    position: relative;

    @media screen and (max-width: 1440px) {
      padding-left: 32px;
      padding-right: 32px;
      max-width: 434px;
    }

    @media (max-width: 479px) {
      max-width: 95vw;
    }

    .global-selection {
      .title-label {
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .selected-currency {
        height: 62px;
        padding: 21px 25px;
        background-color: #f9fafb;

        @media screen and (max-width: 1440px) {
          height: 50px;
        }

        .selected-currency-name {
          font-family: "Inter";
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          color: #4b5563;
        }
      }
    }

    .copied-snackbar {
      border-radius: 5px;
      background: rgba(17, 24, 39, 0.5);
      padding: 16px 30px 16px 50px;
      margin: 0 70px;
      align-items: center;
      gap: 8px;
      position: absolute;
      top: 42%;

      @media screen and (max-width: 1440px) {
        padding: 8px 8px 8px 8px;
        margin: 0 48px;
      }

      .copied-msg {
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: #fff;
      }
    }

    .account-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;

      .title {
        color: #111827;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
      }
    }

    .details-container {
      padding: 15px 25px;
      border: 1px solid #e5e7eb;
      border-radius: 5px;
      margin-bottom: 12px;

      @media screen and (max-width: 1440px) {
        padding: 15px 20px;
      }

      label {
        color: #9ca3af;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 3px;

        @media screen and (max-width: 1440px) {
          font-size: 12px;
        }

        @media screen and (max-width: 479px) {
          font-size: 10px;
        }
      }

      .detail-title {
        color: #6b7280;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;

        @media screen and (max-width: 1440px) {
          font-size: 12px;
        }

        @media screen and (max-width: 479px) {
          font-size: 10px;
        }
      }

      img {
        @media screen and (max-width: 1440px) {
          width: 15px;
          height: 15px;
        }
      }
    }

    .details-alignment {
      margin: 12px 0 20px 0;
    }

    .capabilities-details {
      display: flex;
      gap: 80px;

      @media screen and (max-width: 1440px) {
        gap: 40px;
      }

      .title {
        h5 {
          font-family: "Inter";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          color: #9ca3af;

          @media screen and (max-width: 1440px) {
            font-size: 12px;
          }
        }

        .gapping {
          gap: 11px;
          line-height: 22px;
        }

        label {
          font-family: "Inter";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          color: #1f2937;

          @media screen and (max-width: 1440px) {
            font-size: 12px;
          }
        }
      }
    }

    .account-accordian {
      box-shadow: none;

      mat-expansion-panel-header {
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #1f2937;
        border-radius: 5px;
        background: #fafcff;
      }

      .mat-expansion-panel-body {
        background: #fafcff;
        padding: 0 24px 40px;
      }

      .acc-panel-open {
        font-weight: 700;
      }
    }

    .account-status {
      background-color: #fafcff;
      border-radius: 5px;
      padding: 17px 12px 17px 24px;
      margin-top: 14px;

      .title {
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #1f2937;
        margin-bottom: 0;
      }

      .status {
        font-family: "Inter";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        padding: 4px 13px;
        border-radius: 50px;
        background-color: #22c55e;
      }
    }

    .content-options {
      display: flex;
      align-items: center;
      gap: 18px;

      @media screen and (max-width: 1440px) {
        gap: 12px;
      }

      .generate-pdf {
        background-image: url(../../../assets/images/export-account-details.svg);
        background-repeat: no-repeat;
        background-position: center left 30px;
        border-radius: 65px;
        width: 100%;
        padding: 21px 0 21px 21px;
        color: var(--primary-blue);
        font-family: 'Heebo';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 15.22px;
        border: 1px solid var(--primary-blue);
        background-color: var(--light-blue-header-bg);

        @media screen and (max-width: 1440px) {
          padding: 15px 0px 15px 23px;
          background-position: center left 15px;
        }
      }

      .copy-details {
        background-image: url(../../../assets/images/copy-account-detail.svg);
        background-repeat: no-repeat;
        background-position: center left 50px;
        border-radius: 65px;
        width: 100%;
        padding: 21px 0 21px 21px;
        color: #374151;
        font-family: 'Heebo';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 15.22px;
        border: 1px solid #D6DAE0;
        background-color: #FFF;

        @media screen and (max-width: 1440px) {
          padding: 15px 0px 15px 23px;
          background-position: center left 30px;
        }
      }
    }

    .receiving-payments {
      margin: 40px 0 60px 0;
      text-align: center;

      a {
        font-family: "Heebo";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        color: var(--primary-blue);
        border-bottom: 1px dashed #111827;
      }
    }

    .wallet-limit-popup {
      margin-top: 116px;
      text-align: center;
      background-color: var(--light-blue-header-bg);
      border-radius: 10px;
      padding: 45px 45px 40px 45px;

      @media screen and (max-width: 1440px) {
        margin-top: 35px;
        padding: 25px 16px 20px 16px;
      }

      .limit-info {
        h3 {
          color: #4b5563;
          font-family: "Heebo";
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          margin-bottom: 22px;

          @media screen and (max-width: 1440px) {
            font-size: 15px;
          }
        }

        .plan-upgrade-btn {
          border-radius: 60px;
          border: 1px solid #e5e7eb;
          background: #fff;
          color: #4b5563;
          font-family: "Heebo";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          width: 160px;
          padding: 12px;

          @media screen and (max-width: 1440px) {
            width: 130px;
            font-size: 12px;
          }

          @media screen and (max-width: 479px) {
            width: 100px;
            font-size: 10px;
          }
        }

        .buy-wallet-btn {
          border-radius: 60px;
          border: 1px solid #e5e7eb;
          background: var(--primary-blue);
          color: #fff;
          font-family: "Heebo";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          width: 186px;
          padding: 12px;

          @media screen and (max-width: 1440px) {
            font-size: 12px;
            width: 170px;
          }

          @media screen and (max-width: 479px) {
            font-size: 10px;
            width: 125px;

          }
        }

        .start-plan-btn {
          border-radius: 60px;
          border: 1px solid #e5e7eb;
          background: var(--primary-blue);
          color: #fff;
          font-family: "Heebo";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          width: 292px;
          padding: 12px;

          @media screen and (max-width: 1440px) {
            font-size: 12px;
            height: 40px;
            padding: 0;
          }

          @media screen and (max-width: 479px) {
            width: 145px;
          }
        }

        .limit-options {
          display: flex;
          justify-content: center;
          gap: 10px;

          @media screen and (max-width: 1440px) {
            gap: 5px;
          }

          @media screen and (max-width: 479px) {
            gap: 3px;
          }

          &.single-btn {

            .plan-upgrade,
            .plan-upgrade .plan-upgrade-btn {
              width: 100%;
            }
          }
        }

        .msg-wallet {
          text-align: center;

          span {
            font-family: "Heebo";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: #6b7280;

            @media screen and (max-width: 1440px) {
              font-size: 10px;
            }

            @media screen and (max-width: 479px) {
              font-size: 9px;
            }

            @media screen and (max-width: 360px) {
              font-size: 8px;
            }
          }
        }
      }

      .alert-limit-icon {
        img {
          padding: 17px;
          margin-top: -110px;
          background: #fff;
          border-radius: 50px;

          @media screen and (max-width: 1440px) {
            padding: 12px;
            margin-top: -80px;
          }
        }
      }
    }

    .wallet-type-section {
      .wt-back {
        background-image: url(../../../assets/images/back-deposit-icon.svg);
        background-position: center left;
        background-repeat: no-repeat;
        color: #4B5563;
        font-family: 'Heebo';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        padding-left: 16px;
        margin-top: 25px;
        margin-bottom: 18px;

        @media screen and (max-width: 1440px) {
          margin-top: 21px;
          margin-bottom: 14px;
        }
      }

      .wt-heading {
        color: #4B5563;
        font-family: 'Heebo';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 0;

        @media screen and (max-width: 1440px) {
          font-size: 18px;
          line-height: 28px;
        }

        @media screen and (max-width: 480px) {
          font-size: 16px;
        }

        @media screen and (max-width: 360px) {
          font-size: 14px;
        }
      }

      .wt-detail {
        color: #6B7280;
        font-family: 'Heebo';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 27px;

        @media screen and (max-width: 1440px) {
          font-size: 13px;
          margin-bottom: 24px;
        }

        @media screen and (max-width: 480px) {
          line-height: 20px;
        }

        span {
          font-weight: 700;
        }
      }

      .wt-label {
        color: #6B7280;
        font-family: 'Heebo';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 18px;

        @media screen and (max-width: 1440px) {
          font-size: 14px;
          margin-bottom: 14px;
        }
      }

      .wt-types-container {
        display: flex;
        flex-direction: column;
        row-gap: 16.8px;
        width: 100%;

        @media screen and (max-width: 1440px) {
          row-gap: 14px;
        }

        #paidWallet,
        #freeWallet {
          min-height: 20px;
          min-width: 20px;
          accent-color: var(--primary-blue);
          margin-top: 3px;

          @media screen and (max-width: 1440px) {
            min-height: 17px;
            min-width: 17px;
            margin-top: 6px;
          }

          @media screen and (max-width: 480px) {
            min-height: 15px;
            min-width: 15px;
            margin-top: 6px;
          }
        }

        .free-wallet-type:has(#freeWallet:checked) {
          border: 1px solid var(--primary-blue);
          background: var(--light-blue-bg);

          .wt-info {
            .radio-label {
              .heading {
                color: var(--primary-blue);
              }
            }
          }
        }

        .paid-wallet-type:has(#paidWallet:checked) {
          border: 1px solid var(--primary-blue);
          background: var(--light-blue-bg);

          .wt-info {
            .radio-label {
              .heading {
                color: var(--primary-blue);
              }
            }
          }
        }

        .free-wallet-type,
        .paid-wallet-type {
          display: flex;
          align-items: flex-start;
          gap: 18px;
          padding: 28px 18px 28px 27px;
          border-radius: 10px;
          border: 1px solid #E1E1E1;
          width: 100%;

          @media screen and (max-width: 1440px) {
            padding: 16px;
            border-radius: 8px;
            gap: 12px;
          }

          .wt-info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 22px;

            @media screen and (max-width: 1440px) {
              gap: 16px;
            }

            .radio-label {
              width: 100%;
              max-width: 313px;
              min-width: 313px;

              @media screen and (max-width: 1440px) {
                max-width: 100%;
                min-width: auto;
              }

              .heading {
                color: #374151;
                font-family: 'Heebo';
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                display: block;

                @media screen and (max-width: 1440px) {
                  font-size: 15px;
                }
              }

              .description {
                width: 100%;
                color: #1F2937;
                font-family: 'Heebo';
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                margin-top: 8px;
                margin-bottom: 0;

                @media screen and (max-width: 1440px) {
                  font-size: 13px;
                  margin-top: 6px;
                }
              }
            }

            .wallet-flag {
              img {
                width: 29px;
                height: 29px;

                @media screen and (max-width: 1440px) {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }

      .wallet-select-btn {
        border-radius: 60px;
        color: #FFF;
        font-family: 'Heebo';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        width: 100%;
        background: var(--primary-blue);
        padding: 10px 0;
        margin-top: 34px;

        @media screen and (max-width: 1440px) {
          margin-top: 24px;
          line-height: 24px;
          font-size: 14px;
        }
      }
    }

    .buy-wallet-success {
      .success-animation {
        text-align: center;

        img {
          width: 100%;
          max-width: 330px;
          height: auto;

          @media screen and (max-width: 1440px) {
            max-width: 185px;
          }
        }
      }

      .success-text {
        color: #000;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        line-height: 32px;
        margin-bottom: 0;

        &.congrats-label {
          font-size: 16px;
          font-weight: 600;

          @media screen and (max-width: 1440px) {
            font-size: 15px;
          }
        }

        &.success-message {
          font-size: 30px;
          font-weight: 700;
          margin-top: -3px;
          margin-bottom: 42px;

          @media screen and (max-width: 1440px) {
            font-size: 22px;
            margin-top: -8px;
            margin-bottom: 22px;
          }
        }
      }

      .btns-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .view-details {
          width: 100%;
          height: 53px;
          border-radius: 45px;
          background: var(--brand-primary-color);
          padding: 10px;
          color: #FFF;
          font-family: 'Heebo';
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;

          @media screen and (max-width: 1440px) {
            font-size: 14px;
            height: 43px;
          }
        }

        .copy-detail {
          background-image: url(../../../assets/images/copy-details.svg);
          background-position: center;
          background-repeat: no-repeat;
          padding: 14.5px;
          width: 100%;
          max-width: 53px;
          height: 53px;
          border: 2px solid #9CA3AF;
          border-radius: 45px;

          @media screen and (max-width: 1440px) {
            height: 43px;
            max-width: 43px;
          }

          &:hover {
            background-image: url(../../../assets/images/copy-details-blue.svg);
            background-color: rgba(41, 71, 242, 0.10);
            border: none;
          }
        }
      }
    }
  }
}


::ng-deep {
  .position-relative {
    position: relative;

    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;

      &.footer-auto {
        @media screen and (max-width:1920px) {
          position: fixed;
        }

        @media screen and (max-height:950px) {
          position: absolute;
          bottom: auto;
        }
      }

      &.footer-fix {
        position: fixed;
        bottom: 0;
      }

      &.footer-relative {
        position: relative;
      }

      .footer-text {
        color: #707070;
        font-family: $he_heebo;
        font-size: 11px;
        font-weight: 400;
        line-height: 15.22px;
        margin: 0;
        padding: 20px 0;
        text-align: center;

        a {
          text-decoration: underline !important;
        }
      }
    }
  }

  .currency-select-menu {
    @include flex(flex-start, center, row);
    height: 49px;
    width: 72px;
    border-radius: 8px;
    // border: 1px solid $general-border-color;
    background-color: $disable-button-bg;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 0;

    .flag-group {
      @include flex(flex-start, center, row);
      position: relative;

      img {
        width: 32px;
        height: 32px;
        margin-left: -10px;
        border: 2px solid #fff;
      }

      .more-flags {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 0;
        font-size: 9px;
        font-weight: 600;
        color: $black;
        background-color: $white;
        border-radius: 20px;
        height: 14px;
        width: 14px;
      }
    }

    img {
      width: 24px;
      height: 24px;
      border-radius: 50px;

      &.all-currency {
        width: 44px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border-left: 2px solid $dark-gray-border-color;
      border-top: 2px solid $dark-gray-border-color;
      transform: rotate(225deg);
      top: 0;
      bottom: 0;
      right: 25px;
      margin: auto;

      @media screen and (max-width: 1440px) {
        width: 8px;
        height: 8px;
      }
    }
  }

  .currency-select-panel {
    &.mat-mdc-menu-panel.mat-mdc-menu-panel {
      min-width: 451px;
      width: auto;
      border-radius: 10px;
      background: $white;

      @media screen and (max-width: 1440px) {
        min-width: 380px;
      }

      @media (max-width: 479px) {
        min-width: 320px;
      }

      @media (max-width: 359px) {
        min-width: 100%;
      }

      .mat-mdc-menu-content {
        padding: 0 !important;
      }
    }

    .menu-wrapper {
      padding: 26px 24px;

      @media (max-width: 479px) {
        padding: 18px 18px;
      }

      @media (max-width: 359px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      &:hover {
        background-color: $white !important;
      }

      span.mdc-list-item__primary-text {
        width: 100%;
      }

      .menu-heading {
        font-size: $font-14;
        line-height: normal;
        font-weight: 400;
        font-family: "Heebo";
        color: $blue-black;
        padding-bottom: 13px;
        border-bottom: 1px dotted $general-border-color;
        margin-bottom: 17px;

        @media screen and (max-width: 1440px) {
          margin-bottom: 0;
        }
      }

      .search-input {
        height: 50px;
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
        font-family: "Manrope";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        border-bottom: 1px solid var(--light-blue);
        padding: 10px 20px;
        border-radius: 0;
        box-shadow: none;

        @media (max-width: 479px) {
          height: 40px;
          padding: 7px 15px;
        }
      }

      .currencies-list {
        margin-top: 13px;
        margin-bottom: 16px;
        padding-left: 0;
        max-height: 250px;
        overflow-y: auto;

        @media screen and (max-width: 1440px) {
          margin-bottom: 0;
          margin-top: 0;
          max-height: 200px;
        }

        .list-item {
          border-radius: 10px;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }

          &.active {
            background-color: $selected-list-item-color;
          }

          &.mdc-list-item.mdc-list-item--with-one-line {
            padding: 10px 10px !important;
            height: 65px !important;
            max-height: 65px !important;
            border-bottom: 1px dashed #d9dadd;
            border-radius: 8px;

            @media screen and (max-width: 1440px) {
              height: 55px !important;
              max-height: 55px !important;
            }

            @media screen and (max-width: 479px) {
              height: 45px !important;
              max-height: 45px !important;
            }
          }

          .mdc-list-item__primary-text {
            @include flex(space-between, center, row);
          }

          .currency-wrapper {
            @include flex(flex-start, center, row);

            .currency-flag {
              height: 29px;
              width: 29px;
              border-radius: 50px;

              img {
                width: 100%;
                height: 100%;
              }
            }

            .all-currency-flag {
              height: 38px;
              width: auto;
            }

            .currency-texts {
              @include flex(flex-start, flex-start, column);
              margin-left: 17px;
              margin-right: 14px;

              .all-currency {
                font-size: $font-16;
                line-height: normal;
                font-weight: 700;
                color: $blue-black;
              }

              .balance-label {
                font-size: $font-16;
                line-height: normal;
                font-weight: 400;
                color: $blue-black;
                font-family: "Inter";

                @media screen and (max-width: 1440px) {
                  font-size: $font-14;
                }

                @media screen and (max-width: 479px) {
                  font-size: $font-12;
                }
              }

              .balance {
                font-family: "Inter";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #6b7280;

                @media (max-width: 479px) {
                  font-size: $font-10;
                }

                .balance-currency {
                  font-size: $font-14;
                  line-height: 35px;
                  font-weight: 400;
                  color: $blue-black;
                }
              }
            }
          }

          .switch {
            position: relative;
            height: 30px;
            width: 50px;
            border-radius: 50px;
            background-color: rgba(120, 120, 128, 0.16);

            @media (max-width: 479px) {
              height: 22px;
              width: 40px;
              min-width: 40px;
            }

            &::before {
              content: "";
              position: absolute;
              background-color: $white;
              border-radius: 50px;
              width: 26px;
              height: 26px;
              top: 0;
              bottom: 0;
              left: 2px;
              right: auto;
              margin: auto 0;

              @media (max-width: 479px) {
                width: 18px;
                height: 18px;
              }
            }
          }

          &[aria-selected="true"] {
            .switch {
              background-color: var(--brand-primary-color);

              &::before {
                right: 2px;
                left: auto;
                background-color: $white;
              }
            }
          }
        }
      }

      .btn-wrapper {
        text-align: center;

        .switch-btn {
          height: 50px;
          padding: 14px 60px;
          font-size: $font-16;
          line-height: normal;
          font-weight: 600;
          color: $white;
          background-color: var(--light-blue);
          border-radius: 100px;

          @media screen and (max-width: 1440px) {
            height: 40px;
            padding: 0 60px;
            font-size: $font-14;
          }

          @media (max-width: 479px) {
            height: 40px;
            padding: 8px 20px;
            min-width: 100px;
          }

          &:disabled {
            color: #4b4b55;
            background-color: var(--content-wrapper-bg-color);
            cursor: not-allowed;
          }
        }
      }
    }
  }

  .copy-content {
    .tooltip-inner {
      background-color: var(--primary-blue);
      color: #fff;
      padding: 12px;
      font-size: 12px;
      text-align: center;
      font-family: "Heebo";
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      border-radius: 8px;
    }

    .tooltip-arrow {
      &:before {
        border-top-color: var(--primary-blue);
      }
    }
  }
  
  .copy-btn {
    cursor: pointer;
  }
}
