@import "../../../../../../assets/scss/variable";

::ng-deep {
    .monthly-exposer-wrap {
        border-radius: 10px;
        background: #f8fafe;
        padding: 42px 40px 43px 51px;
        border: 2px solid $white;
        margin: 0 0 11px;
        letter-spacing: 0;

        .exposer-desc-wrap {
            display: flex;
            margin: 0 0 40px;
            align-items: center;
            justify-content: space-between;

            .exposer-img {
                margin: 0 15px 0 0;
            }

            .desc {
                h3 {
                    color: var(--brand-primary-color);
                    font-family: $he_heebo;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    margin: 0;
                }

                p {
                    color: #7C8DA6;
                    font-family: $he_heebo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                }
            }

            .progress-container {
                display: flex;
                align-items: center;
                gap: 8px;

                .stepper-progressbar {
                    max-width: 98px;
                    min-width: 98px;
                    width: 100%;
                    height: 12px;
                    border-radius: 20px;
                    overflow: hidden;

                    .mdc-linear-progress__bar-inner {
                        border-width: 12px;
                        border-radius: 20px;
                        border-color: var(--highlight-prime);

                        @media screen and (max-width: 1440px) {
                            border-width: 9px;
                        }

                        @media screen and (max-width: 1024px) {
                            border-width: 12px;
                        }
                    }

                    @media screen and (max-width: 1440px) {
                        height: 9px;
                    }

                    @media screen and (max-width: 1024px) {
                        height: 12px;
                    }

                    @media screen and (max-width:480px) {
                        max-width: 60px;
                        min-width: 60px;
                        height: 9px;
                    }
                }

                .progress-count {
                    color: #000;
                    font-family: $he_heebo;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 20px;
                }
            }
        }

        .currency-wrap {
            display: flex;
            margin-left: 58px;

            @media screen and (max-width: 1440px) {
                margin-left: 50px;
            }

            @media screen and (max-width: 580px) {
                margin-left: 10px;
            }

            .exposer-item {
                .expo-head {
                    color: #344054;
                    font-family: $he_heebo;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;

                    span {
                        color: $white;
                        font-family: $he_heebo;
                        background-color: var(--highlight-prime);
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 18px;
                        padding: 3px 10px;
                        border-radius: 40px;
                        position: relative;
                        top: -10px;

                        @media screen and (max-width:767px) {
                            font-size: 10px;
                        }
                    }
                }

                .desc {
                    color: #1D2939;
                    font-family: $he_heebo;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;

                    span {
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 400;
                    }
                }

                &.exposer-period {
                    padding: 0 72px 0 59px;
                    border-left: 1px dashed #98A2B3;
                    margin: 0 50px;
                    border-right: 1px dashed #98A2B3;
                }
            }
        }
    }
}