<div class="adv-policy-wrapper loader-wrapper">
    <h3 class="heading">Advanced Policy</h3>
    <form [formGroup]="form" (ngSubmit)="nextStep()">
      <div class="step1-wrapper">
        <div class="step-form-wrap">
          <div class="progress-container">
            <mat-progress-bar #formStepperProgress class="stepper-progressbar" mode="determinate" value="12"></mat-progress-bar>
            <span class="progress-count">1/6</span>
          </div>
          <div class="anual-head">
            <p class="sub-text">Annual budget rate</p>
            <h2 class="title">Do you have an annual budget exchange rate?</h2>
            <p class="desc">Set an annual budget rate, if you don’t have any please generate one</p>
          </div>
          <div class="rate-wrap">
            <div class="inner-wrap">
              <div class="form-wrap" [class.errorInput]="errorMessage" id="budget-rate-input-wrap">
                <span class="rate-label">Set Rate</span>
                <div class="flag-wrap" id="budget-rate-input">
                  <img [src]="fromCurrency" class="base-currency" [class.no-data]="!fromCurrency" />
                  <img [src]="toCurrency" class="from-currency" [class.no-data]="!toCurrency" />
                </div>
                <input
                  placeholder="Example - 3.75"
                  class="rate-input"
                  formControlName="rate"
                  (focus)="rate?.markAsTouched()"
                  (input)="validateInput($event)"
                  (keydown)="preventInvalidInput($event)"
                  (blur)="checkBudgetRateRange($event)"
                />
                <button type="button" class="clear-btn" (click)="clearValue()"><img src="images/clear-rate.svg" /></button>
              </div>
              <button type="button" class="btn-generateRate" id="generate-me-btn" (click)="generateBudgetRate()">Generate Me</button>
            </div>
            <!-- <p class="generate-desc">
              If you don't have <span><a href="javascript:void(0)">Generate one</a></span>
            </p> -->
            <p class="error-msg-wrap" *ngIf="errorMessage">
              <!-- <span *ngIf="rate?.errors?.['required']">Rate is required. Please enter a value</span> -->
              <!-- <span *ngIf="rate?.errors?.['pattern']">Only numbers and upto four decimal points are allowed.</span> -->
              <!-- <span *ngIf="rate?.errors?.['min'] || rate?.errors?.['max']">Value must be between 0.0000 and 99.9999.</span>  -->
              <span *ngIf="errorMessage">{{ errorMessage }}</span>
            </p>
          </div>
          <div class="rate-info">
            <p>For instance, if your company's future financial planning is based on a rate of {{midSpotRate ? midSpotRate.toFixed(2) : 1.1}} {{exposerData?.pair || getFromLocalStorage('pair')}}, please specify this rate.</p>
          </div>
        </div>
        <div class="btn-wrap">
          <button type="button" class="btn-policy" id="budget-rate-dashboard-btn" (click)="backTodashboard()">Dashboard</button>
          <div class="right-btn">
            <!-- <button type="button" class="btn-back" (click)="backTodashboard()">Back</button> -->
            <button type="submit" class="btn-next" id="budget-rate-next-btn" (click)="submitForm()">
              <span>Next</span><img src="images/arrow-right-next.svg" alt="next" />
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  