<div class="event-drawer calendar-add-alert-wrapper">
  <div class="create-an-alert-upper" *ngIf="visible">
    <div class="create-an-alert-title">
      <h3>Create a Rate Alert</h3>
    </div>
    <div class="currency-payment-rate slider-alert">
      <div class="currency-payment-rate-head">
        <div class="chart-header">
          <div class="exchange-rate-currencies">
            <div class="img-group">
              <img [src]="currencyOfUser" alt="currency" class="active_currency_flag" />
              <img [src]="activeCurrency?.wallet_Flag" alt="currency" class="user_currency_flag" />
            </div>
            <div class="label-group">
              <h2 class="cpr-title">
                {{ activeCurrency?.wallet_Currency?.code }}
                /{{ activeCurrency?.wallet_Hedging?.exposureBaseCurrency }}
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div #marketChart1 id="marketChart1"></div>
    </div>
  </div>
  <app-alert-exchange-rate-form [isMenu]="false" [drawer]="drawer"
    [selectedCalendarDate]="selectedCalendarDate"></app-alert-exchange-rate-form>

</div>