<div class="create-an-alert-upper" *ngIf="visible">
  <div class="create-an-alert-title">
    <h3>Create a Rate Alert</h3>
  </div>
  <!-- <div class="create-an-alert-graph-main">
        <div class="graph-img-bottom">
            <div class="create-an-alert-graph">
                <div id="marketChart1"></div>
            </div>
        </div>
    </div> -->
  <div class="currency-payment-rate slider-alert">
    <!-- <app-page-loader classes="bg-white section-loader" *ngIf=""></app-page-loader> -->
    <div class="currency-payment-rate-head">
      <div class="chart-header">
        <div class="exchange-rate-currencies">
          <div class="img-group">
            <img [src]="currencyOfUser" alt="currency" class="active_currency_flag" />
            <img [src]="activeCurrency?.wallet_Flag" alt="currency" class="user_currency_flag" />
          </div>
          <div class="label-group">
            <h2 class="cpr-title">
              {{ activeCurrency?.wallet_Currency?.code }}
              /{{ activeCurrency?.wallet_Hedging?.exposureBaseCurrency }}
            </h2>
          </div>
        </div>
      </div>

      <!-- <div *ngIf="lastPaymentRateData" class="currency-payment-rate-data">
        <label class="previous-payment-rate">
          Previous payment rate
          <span [ngClass]="{
                  percentageRed: lastPaymentRateData?.direction == Directions?.Down,
                  percentageGreen: lastPaymentRateData?.direction == Directions?.Up
                }">{{
            lastPaymentRateData?.previousPaymentRate | number : "1.0-3"
            }}</span>
        </label>

        <div class="cpr-right-wrap">
          <strong class="cpr-info-text"> {{lastPaymentRateData?.percentages ? "Current rate is higher by" : "Current rate is"}} </strong>
          <span class="last-pay-perc" [ngClass]="{
                  percentageRed: lastPaymentRateData?.direction == Directions?.Down,
                  percentageGreen: lastPaymentRateData?.direction == Directions?.Up
                }">{{ lastPaymentRateData?.percentages }} %
          </span>

          <label [ngClass]="{
                  amountBackgroundRed: lastPaymentRateData?.direction == Directions?.Down,
                  amountBackgroundGreen: lastPaymentRateData?.direction == Directions?.Up
                }">
            {{ lastPaymentRateData?.currentPaymentRate | number : "1.0-3" }}
          </label>
        </div>
      </div> -->
    </div>
    <div #marketChart1 id="marketChart1"></div>
  </div>
</div> 
<app-alert-exchange-rate-form [isMenu]="false" [drawer]="drawer" [selectedCalendarDate]="selectedCalendarDate"></app-alert-exchange-rate-form>
