@import "../../../../assets/scss/variable";

::ng-deep {
    .fx-rules-container {
        font-family: $he_heebo;

        .card-wrap {
            overflow-y: auto;
            max-height: 250px;
            margin: 14px 0 0;
            .rule-card {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 23px 0 25px 10px;
                border-bottom: 1px dashed #E5E7EB;
                white-space: nowrap;

                @media screen and (max-width:1440px) {
                    padding: 10px;
                    gap: 10px;
                }

                .rule-icon {
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 9px;
                    background: #EAEDFE;

                    &.disable {
                        filter: grayscale(.7);

                        img {
                            filter: opacity(.7);
                        }
                    }

                    &.expired {
                        background-color: #FEF2F2;
                    }

                    &.pending {
                        background-color: #FEFCE8;
                    }

                    @media screen and (max-width:1440px) {
                        padding: 12px;
                    }

                    @media screen and (max-width:1024px) {
                        padding: 10px;
                    }
                }

                .rule-content {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    gap: 20px;

                    @media screen and (max-width:1440px) {
                        gap: 15px;
                    }

                    .rule-inner {
                        .rule-title {
                            color: #2947F2;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 15.22px;
                            margin: 0 0 13px;

                            .pending-tag {
                                color: #CA8A04;
                                font-size: 11px;
                                font-weight: 700;
                                line-height: 20px;
                                border-radius: 40px;
                                border: 1px solid #EAB308;
                                background: #FEFCE8;
                                padding:3px 8px;
                                margin: 0 0 0 5px;
                            }

                            .expired-tag {
                                color: #DC2626;
                                font-size: 11px;
                                font-weight: 700;
                                line-height: 20px;
                                border-radius: 40px;
                                border: 1px solid #F87171;
                                background:#FEF2F2;
                                padding: 3px 8px;
                                margin: 0 0 0 5px;
                            }

                            @media screen and (max-width:1440px) {
                                margin: 0 0 8px;
                            }

                            @media screen and (max-width:1024px) {
                                font-size: 14px;
                                line-height: 1;
                                margin: 0 0 5px;
                            }

                            .title-name {
                                max-width: 400px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: inline-block;

                                @media screen and (max-width: 1440px) {
                                    max-width: 300px;
                                }

                                @media screen and (max-width: 1024px) {
                                    max-width: 250px;
                                }

                                @media screen and (max-width: 1024px) {
                                    max-width: 250px;
                                }

                                @media screen and (max-width: 540px) {
                                    max-width: 200px;
                                }
                            }
                        }

                        &.disable, &.expired {
                            user-select: none;
                            .title-name{
                                opacity: 0.4;
                                filter: grayscale(1);
                            }
                            .detail-wrap{
                                opacity: 0.4;
                                filter: grayscale(1);
                            }
                        }

                        .detail-wrap {
                            display: flex;
                            align-items: flex-start;
                            gap: 32px;
                            justify-content: flex-start;

                            @media screen and (max-width:1440px) {
                                gap: 10px;
                            }

                            .rule-detail {
                                color: #374151;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 20px;

                                strong {
                                    display: block;
                                }

                                .tag {
                                    border-radius: 40px;
                                    background: #EFF6FF;
                                    padding: 3px 4px;
                                    color: #6B7280;
                                    font-size: 10px;
                                    font-weight: 700;
                                    line-height: 15.22px;
                                }

                                .amount-sec {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }

                                .ctag {
                                    color: #2320E6;
                                    font-size: 11px;
                                    font-weight: 700;
                                    line-height: 20px;
                                    border-radius: 40px;
                                    border: 1px solid #2320E6;
                                    background: #F1F1FD;
                                    padding: 0px 8px;
                                }
                            }
                        }
                    }

                    .rule-actions {
                        display: flex;
                        gap: 8px;
                        align-items: center;

                        @media screen and (max-width:1440px) {
                            gap: 5px;
                        }

                        .action-btn {
                            width: 34px;
                            height: 34px;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &.pending, &.expired, &.automation--expired {
                                opacity: 0.4;
                                pointer-events: none;
                            }
                            img {
                                width: 100%;
                            }

                            @media screen and (max-width:1440px) {
                                width: 30px;
                                height: auto;
                            }
                        }
                    }
                }

                &.convert-card {
                    .rule-content {
                        .rule-inner {
                            .detail-wrap {
                                gap: 32px;

                                @media screen and (max-width: 1440px) {
                                    gap: 14px;
                                }

                                .rule-detail {
                                    +.rule-detail {
                                        border-left: 1px dashed #C7C7C7;
                                        padding-left: 30px;

                                        @media screen and (max-width:1440px) {
                                            padding-left: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .fx-rules-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            .auto-switch {
                display: flex;
                gap: 10px;
                align-items: center;
                position: absolute;
                top: 6px;
                right: 0;
                z-index: 9;

                .mat-mdc-slide-toggle {
                    .mdc-switch__track {
                        min-width: 40px;
                        height: 22px;
                        border-radius: 22px;

                        .mdc-switch__icons {
                            display: none;
                        }

                        .mdc-form-field {
                            .mdc-switch {
                                .mdc-switch__track {
                                    &::before {
                                        background: var(--primary-blue) !important;
                                    }
                                }
                            }
                        }

                        &::before {
                            background: #DC2626 !important;
                        }
                    }

                    .mdc-switch {
                        &.mdc-switch--selected {
                            &:enabled {
                                .mdc-switch__handle {
                                    &::after {
                                        background-color: $white !important;
                                    }
                                }
                            }
                        }

                        &.mdc-switch--unselected {
                            &:enabled {
                                .mdc-switch__handle {
                                    &::after {
                                        background-color: $white !important;
                                    }
                                }
                            }
                        }

                        &:enabled {
                            .mdc-switch__track {
                                &::after {
                                    background: var(--primary-blue) !important;
                                }
                            }
                        }

                        .mdc-switch__handle-track {
                            width: 17px !important;
                            left: 3px !important;

                            .mdc-switch__handle {
                                width: 17px !important;
                                height: 17px !important;

                                .mdc-switch__ripple,
                                .mdc-switch__shadow,
                                .mdc-switch__icons {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .auto-label {
                    color: #111827;
                    font-family: $he_heebo;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px;
                    white-space: nowrap;
                }

                @media screen and (max-width:1199px) {
                    gap: 5px;
                }

                @media screen and (max-width:767px) {
                    .auto-label {
                        font-size: 12px;
                    }
                }
            }

            .mat-mdc-tab-group {
                width: 100%;

                .mat-mdc-tab-labels {
                    column-gap: 12px;
                    padding: 0 0 0 10px;

                    @media screen and (max-width:767px) {
                        column-gap: 5px;
                    }

                    .mat-mdc-tab.mdc-tab {
                        height: auto !important;
                        padding: 10px 20px !important;
                        max-width: max-content;
                        letter-spacing: 0;
                        .mdc-tab__text-label {
                            color: #2F2F2F;
                            text-align: center;
                            font-family: $he_heebo;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                        }

                        &:not(.mat-mdc-tab-disabled).mdc-tab--active {
                            .mdc-tab__text-label {
                                color: #111827;
                                font-weight: 700;
                            }
                            .mdc-tab-indicator{
                                .mdc-tab-indicator__content--underline{
                                    border-top-width:2px;
                                    border-top-color:#2320E6;
                                }
                            } 
                        }
                        @media screen and (max-width:767px) {
                            padding: 10px 5px !important;
                        }
                    }
                }
            }

            @media screen and (max-width:480px) {
                flex-direction: column;
            }
        }

        .add-btn {
            margin: 55px auto 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 2px;
            width: 100%;
            max-width: 109px;
            color: #2320E6;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            border-radius: 60px;
            border: 1px solid rgba(188, 207, 240, 0.40);
            background: rgba(236, 235, 252, 0.50);

            @media screen and (max-width:1024px) {
                margin: 30px auto 10px;
                padding: 8px;
            }
        }
    }
}