@import "../../../../assets/scss/variable.scss";
@import "../../../../assets/scss/mixins";

::ng-deep {
  .beneficiary-tooltip--rm {
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 307px;

    .tooltip-inner {
      background-color: $black;
      color: $white;
      padding: 12px;
      font-size: 12px;
      text-align: center;
      font-family: $inter;
      font-weight: 500;
      line-height: 18px;
      border-radius: 8px;
      min-width: 307px;
    }

    @media screen and (max-width: 767px) {
      --bs-tooltip-max-width: 250px;

      .tooltip-inner {
        padding: 10px;
        min-width: 250px;
      }
    }
  }

  .bank-account-wrap {
    max-width: 602px;
    margin: 29px auto;
    letter-spacing: 0;
    &.loader-wrapper .loader.section-loader {
      position: fixed;
    }

    .account-info {
      text-align: center;
      .title {
        color: #1f2937;
        font-family: $he_heebo;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin: 0 0 4px;
      }

      .sub-info {
        color: #6b7280;
        font-family: $he_heebo;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin: 0;

        .btn-upload-doc {
          color: var(--primary-blue);
          display: inline-block;
          padding: 0;
        }
      }

      @media screen and (max-width: 1440px) {
        .title {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }

    .beneficiary-input-list {
      margin: 36px 0 0;

      .country-dropdown {
        margin: 0 0 31px;

        .benef-label {
          color: #1f2937;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          margin: 0 0 7px;

          img {
            display: inline-block;
            margin: 0 0 0 8px;
            cursor: pointer;
            padding: 5px 0;
          }

          &.validation-error {
            color: #dc2626;
          }
        }

        mat-select {
          display: flex;
          align-items: center;
          width: 100%;
          min-width: 320px;
          height: 60px;
          border-radius: 4px;
          border: 1px solid #9ca3af;
          background: #fff;

          &:focus {
            box-shadow: none;
          }

          &.validation-error {
            border-color: #dc2626;
          }

          .to-country-section {
            img {
              width: 29px;
              height: auto;
            }

            .country-code {
              color: #2c2c2e;
              font-family: $he_heebo;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
              margin-left: 18px;
              text-transform: capitalize;
            }
          }

          @media screen and (max-width: 1440px) {
            min-width: 260px;
            height: 45px;

            .to-country-section {
              .country-code {
                margin-left: 10px;
              }
            }
          }

          .mat-mdc-select-trigger {
            .mat-mdc-select-value {
              .mat-mdc-select-placeholder {
                color: #9ca3af;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0;

                @media screen and (max-width: 1440px) {
                  line-height: 20px;
                  font-size: 14px;
                }
              }
            }
          }

          .mat-mdc-select-arrow-wrapper {
            .mat-mdc-select-arrow {
              width: 12px;
              height: 7px;
              background: url(../../../../assets/images/arrow-down-black.svg) center no-repeat;
              background-size: contain;

              svg {
                display: none;
              }
            }
          }
        }

        &.currency-dropdown {
          margin: 0 0 26px;
        }
      }

      .category-desc {
        &.disable {
          pointer-events: none;
          opacity: 0.5;
        }
        margin: 64px 0 0;
        .cat-inner {
          display: flex;
          align-items: center;
          padding: 16px 16px 26px;
          border-radius: 10px;
          border: 1px solid #dbeafe;
          background: #eff6ff;
          gap: 19px;

          .info-sec {
            max-width: 420px;

            .title {
              color: #374151;
              font-family: $he_heebo;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              margin: 0 0 7px;
            }

            .desc {
              color: #6b7280;
              font-family: $he_heebo;
              font-size: 12px;
              font-weight: 400;
              line-height: 19px;
            }
          }

          .radio-group {
            display: flex;
            align-items: center;
            gap: 23px;
            margin: 10px 0 0;

            .box-radio {
              input {
                opacity: 0;
                position: absolute;

                &:checked + label {
                  font-weight: 500;

                  &:before {
                    border-color: var(--primary-blue);
                  }

                  &:after {
                    opacity: 1;
                  }
                }
              }

              label {
                color: #2c2c2e;
                font-family: $he_heebo;
                font-size: 12px;
                font-weight: 400;
                line-height: 1;
                text-transform: capitalize;
                padding: 0 0 0 28px;
                position: relative;
                cursor: pointer;

                &:before {
                  width: 20px;
                  height: 20px;
                  border: 1px solid #787887;
                  border-radius: 50%;
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }

                &:after {
                  width: 10px;
                  height: 10px;
                  position: absolute;
                  top: 1px;
                  left: 5px;
                  background-color: var(--primary-blue);
                  border-radius: 50%;
                  content: "";
                  opacity: 0;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
        &.validation-error {
          .cat-inner {
            border-color: #dc2626;
          }
        }
      }

      .beneficary-type-sec {
        margin: 0;

        .type-label {
          color: #1f2937;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          margin: 0 0 21px;

          img {
            display: inline-block;
            margin: 0 0 0 10px;
            padding: 5px 0;
            cursor: pointer;
          }
        }

        .beneficiary-type-option {
          display: flex;
          align-items: center;
          gap: 28px;

          .item-type {
            display: flex;
            width: 50%;
            height: 75px;
            border-radius: 8px;
            position: relative;
            &.disable {
              pointer-events: none;
              opacity: 0.5;
            }

            input {
              position: absolute;
              opacity: 0;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              cursor: pointer;
              z-index: 1;

              &:checked + label {
                background-color: #eaefff;
                border-color: #b5c8fc;

                .type-inner {
                  img {
                    &.main-img {
                      display: none;
                    }

                    &.hover-img {
                      display: block;
                    }
                  }

                  &:before {
                    background-color: var(--primary-blue);
                  }

                  &:after {
                    opacity: 1;
                  }
                }
              }
            }

            .radio-label {
              width: 100%;
              position: relative;
              padding: 16px 16px 16px 26px;
              border: 1px solid #eaecf0;
              transition: all 0.5s ease;
              border-radius: 8px;

              .type-inner {
                display: flex;
                align-items: center;
                gap: 12px;
                position: relative;

                img {
                  display: inline-block;
                  width: 32px;

                  &.main-img {
                    display: block;
                  }

                  &.hover-img {
                    display: none;
                  }
                }

                .type-info {
                  .info {
                    color: #374151;
                    font-family: "Inter";
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                  }
                  .desc {
                    color: #374151;
                    font-family: "Inter";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0;
                  }
                }

                &:before {
                  position: absolute;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  content: "";
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                  border: 1px solid #d0d5dd;
                }

                &:after {
                  position: absolute;
                  right: 3px;
                  top: 3px;
                  bottom: 0;
                  margin: auto;
                  content: "";
                  width: 10px;
                  height: 10px;
                  background-image: url(../../../../assets/images/radio-check.svg);
                  background-repeat: no-repeat;
                  opacity: 0;
                }
              }
            }
          }
        }
      }

      .btn-next {
        display: flex;
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: var(--primary-blue);
        color: $white;
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin: 68px 0 0;
        &:hover {
          opacity: 0.9;
        }
      }

      @media screen and (max-width: 1440px) {
        margin: 20px 0 0;

        .country-dropdown {
          margin: 0 0 20px;

          &.currency-dropdown {
            margin: 0 0 20px;
          }
        }

        .category-desc {
          margin: 20px 0 0;
          .cat-inner {
            padding: 15px;
            gap: 10px;
            .radio-group {
              margin: 0;
              gap: 15px;
            }
          }
        }

        .beneficary-type-sec {
          .type-label {
            margin: 0 0 7px;
          }
          .beneficiary-type-option {
            gap: 15px;
            .item-type {
              height: 100%;
              .radio-label {
                padding: 10px;
              }
            }
          }
        }
        .btn-next {
          height: 40px;
          margin: 20px 0 0;
        }
      }
      @media screen and (max-width: 580px) {
        .beneficary-type-sec {
          .beneficiary-type-option {
            .item-type {
              height: 100%;
              .radio-label {
                padding: 10px;
                .type-inner {
                  gap: 5px;
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 460px) {
        .category-desc {
          .cat-inner {
            padding: 10px;
            flex-direction: column;
            .info-sec {
              .title {
                line-height: 1.2;
                font-size: 14px;
              }
              .desc {
                line-height: 1.5;
              }
            }
            .radio-group {
              margin: 0;
              gap: 15px;
              .box-radio {
                label {
                  padding: 0 0 0 20px;
                  &::before {
                    width: 16px;
                    height: 16px;
                  }
                  &::after {
                    width: 8px;
                    height: 8px;
                    top: 2px;
                    left: 4px;
                  }
                }
              }
            }
          }
        }
        .beneficary-type-sec {
          .beneficiary-type-option {
            flex-direction: column;
            .item-type {
              width: 100%;
            }
          }
        }
      }
    }

    .error-msg {
      margin: 7px 0 0;
      display: block;
      color: #dc2626;
      font-family: $he_heebo;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }

    @media screen and (max-width: 1440px) {
      max-width: 550px;
    }
    @media screen and (max-width: 580px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 460px) {
      .account-info {
        .title {
          font-size: 14px;
          line-height: 1.2;
        }
        .sub-info {
          font-size: 12px;
          line-height: 1.5;
        }
      }
    }
  }

  .rm-country-dropdown {
    overflow: hidden !important;
    border-radius: 10px !important; 
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
    padding: 0 !important;
    max-height: max-content !important;
    .search-inpt-popup {
      padding: 21px 38px 0 31px;

      .search-input-wrapper {
        margin: 0 0 18px;

        .input-inner {
          display: flex;
          width: 100%;
          height: 60px;
          padding: 0 10px 0 20px;
          align-items: center;
          gap: 18px;
          border-radius: 7px;
          border: 1px solid var(--light-blue);
          background: #f9fafb;

          .filter-input {
            border: none;
            height: 100%;
            width: 100%;
            color: #5b5b66;
            font-family: $he_heebo;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            background-color: transparent;
            padding: 0;
          }

          .clear-search {
            padding: 0;
            background-color: transparent;
            line-height: 0;
          }

          .country-search {
            padding: 0;
            background-color: transparent;
            line-height: 0;
          }

          &.validation-error {
            border-color: #dc2626;
          }
        }

        .error-msg {
          margin: 5px 0 0;
          display: block;
          color: #dc2626;
          font-family: $he_heebo;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
        }
      }

      .country-flag-list {
        max-height: 200px;
        overflow-y: auto;
        .mat-mdc-option {
          padding: 0;
          min-height: 50px;
          &.error-msg{
            pointer-events: none !important;
            .select-item{
              .code-with-info{
                .info{
                  color: #dc2626;
                  font-weight: 500;
                }
              }
            }
            &:hover{
              background-color: transparent;
            }
          }
          .select-item {
            gap: 18px;
            .country-image {
              width: 100%;
              max-width: 30px;
              height: auto;
            }
            .code-with-info {
              .info {
                color: #2c2c2e;
                font-family: $he_heebo;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-transform: capitalize;
              }
            }
          }
        }

        &.currency-info {
          .mat-mdc-option {
            .select-item {
              gap: 18px;

              .code-with-info {
                .code {
                  color: #2c2c2e;
                  font-family: $he_heebo;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 20px;
                  text-transform: uppercase;
                  display: block;
                }

                .info {
                  color: #9ca3af;
                  font-family: $he_heebo;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                  text-transform: capitalize;
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1440px) {
      .search-inpt-popup {
        padding: 10px 20px 0;
        .search-input-wrapper {
          margin: 0 0 10px;
          .input-inner {
            height: 45px;
            gap: 15px;
          }
        }

        .country-flag-list {
          .mat-mdc-option {
            min-height: 40px;

            .select-item {
              gap: 10px;
            }
          }

          &.currency-info {
            .mat-mdc-option {
              .select-item {
                .code-with-info {
                  .code {
                    font-size: 14px;
                    line-height: 1.2;
                  }

                  .info {
                    font-size: 12px;
                    line-height: 1.2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
