<section class="auth-section">
    <div class="left-side">
        <div class="form-wrapper">
            <ng-container>
                <a class="back-btn" (click)="navigateBack()" id="back_to_login">
                    <mat-icon>chevron_left</mat-icon>
                    <span>Back</span>
                </a>
                <ng-container *ngIf="!needVerification">
                    <h3 class="heading reset-password-heading">Reset password</h3>
                    <form #resetForm="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
                        <ng-container>
                            <div class="password-instruction">
                                <p class="message">Password must contain</p>
                                <span class="detail" [ngClass]="{'verified': hasEight}">
                                    <mat-icon *ngIf="hasEight">check</mat-icon>
                                    <mat-icon *ngIf="!hasEight">close</mat-icon>
                                    <span>8 Characters</span>
                                </span>

                                <span class="detail" [ngClass]="{'verified': hasDigit}">
                                    <mat-icon *ngIf="hasDigit">check</mat-icon>
                                    <mat-icon *ngIf="!hasDigit">close</mat-icon>
                                    <span>Numbers</span>
                                </span>
                                <span class="detail" [ngClass]="{'verified': hasLower}">
                                    <mat-icon *ngIf="hasLower">check</mat-icon>
                                    <mat-icon *ngIf="!hasLower">close</mat-icon>
                                    <span>Lower case</span>
                                </span>
                                <span class="detail" [ngClass]="{'verified': hasUpper}">
                                    <mat-icon *ngIf="hasUpper">check</mat-icon>
                                    <mat-icon *ngIf="!hasUpper">close</mat-icon>
                                    <span>Upper case</span>
                                </span>
                                
                                <span class="detail" [ngClass]="{'verified': hasUpper}">
                                    <mat-icon *ngIf="hasSpecial">check</mat-icon>
                                    <mat-icon *ngIf="!hasSpecial">close</mat-icon>
                                    <span>Special Characters</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Reset password</label>
                                <div class="input-wrapper">
                                    <input name="newPassword" class="form-control"
                                        [type]="hidePassword ? 'password' : 'text'" id="new_password"
                                        (keyup)="strongPasswordCheck()" formControlName="newPassword" required />
                                    <mat-icon *ngIf="resetPasswordForm.controls.newPassword.value" class="eye-icon" matSuffix (click)="hidePassword = !hidePassword"
                                        id="show_hide_password">{{hidePassword ? 'visibility_off' :
                                        'visibility'}}</mat-icon>
                                </div>
                                <span
                                    *ngIf="resetForm.submitted && resetPasswordForm.controls.newPassword.hasError('required')"
                                    class="error-msg">Required</span>
                                <span
                                    *ngIf="resetForm.submitted && !resetPasswordForm.controls.newPassword.hasError('required') && illegall"
                                    class="error-msg">
                                    Password is not valid
                                </span>
                                <span class="error-msg"
                                    *ngIf="hasSpecial && resetPasswordForm.get('newPassword')?.hasError('invalidPassword')">
                                    Special characters can be inserted !#$%^&*
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm password</label>
                                <div class="input-wrapper">
                                    <input name="newPassword" class="form-control"
                                        [type]="hideConfPassword ? 'password' : 'text'" name="confirmPassword"
                                        formControlName="confirmPassword" id="confirm_password" required />
                                    <mat-icon *ngIf="resetPasswordForm.controls.confirmPassword.value"  class="eye-icon" id="confirm_show_password" matSuffix
                                        (click)="hideConfPassword = !hideConfPassword">{{hideConfPassword ?
                                        'visibility_off' :
                                        'visibility'}}</mat-icon>
                                </div>

                            </div>
                            <div
                                *ngIf="resetForm.submitted && (resetPasswordForm.value.confirmPassword != resetPasswordForm.value.newPassword)"
                                class="error-msg not-match-password">Passwords do not match</div>
                            <span
                                *ngIf="!(resetForm.submitted && (resetPasswordForm.value.confirmPassword != resetPasswordForm.value.newPassword) && resetPasswordForm.controls.confirmPassword.valid) && error"
                                class="error-msg">{{ 'AUTHENTICATION_SEND_VERIFICATION_ERRORS.' + error | translate
                                }}</span>
                        </ng-container>

                        <button class="submit-btn" [class.disabled]="showLoader||error" [disabled]="showLoader"
                            id="button_send_email">Send SMS
                        </button>
                    </form>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div class="right-side">
        <div class="content">
            <img class="logo" src="images/abcm-logo.svg" alt="logo" />
            <h1 class="main-heading">The World's First</h1>
            <h2 class="sub-heading">Automated business currency management</h2>
        </div>
    </div>
</section>