@import "../../../../assets/scss/variable";


::ng-deep {
  .custom-dialog-container {
    border-radius: 10px;
    background: #FFF;
  }

  .erp-connection-section {
    font-family: $he_heebo;
    padding: 8px 7px 7px 7px;
    max-width: 608px;

    .header {
      border-radius: 8px;
      background: #ECEEF7;
      height: 150px;
      max-height: 100%;
      position: relative;

      @media screen and (max-width: 1440px) {
        height: 130px;
      }

      @media screen and (max-width: 1024px) {
        height: 100px;
      }
    }

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      background: white;
      width: 35px;
      height: 35px;
      border-bottom-left-radius: 6px;
    }

    .content {
      padding: 35px 42px 0 37px;

      @media screen and (max-width: 1440px) {
        padding: 30px 37px 0 32px;
      }

      @media screen and (max-width: 540px) {
        padding: 15px 18px 0 16px;
      }

      h2 {
        color: #000;
        font-family: $he_heebo;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 4px;
      }

      .features {
        border-bottom: 1px dashed #989898;
        padding-bottom: 13px;
      }

      .subtext {
        color: #747474;
        font-family: $he_heebo;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 32px;
      }

      .feature {
        display: flex;
        align-items: start;
        gap: 20px;
        margin-bottom: 20px;
        font-size: 14px;

        .icon {
          font-size: 18px;
          line-height: 1.2;
          margin-top: 3px;
        }

        .text-content {
          font-family: $he_heebo;
          font-size: 14px;

          .title {
            color: #4B5563;
            font-weight: 700;
            line-height: 20px;
          }

          p {
            color: #9CA3AF;
            line-height: 20px;
            font-weight: 400;
            margin-bottom: 0;
          }
        }
      }

      .actions {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .connect-erp-btn {
          font-size: 16px;
          border-radius: 40px;
          max-width: 212px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          font-weight: 700;
          background: var(--color-light-prime);
          height: 54px;

          @media screen and (max-width: 1440px) {
            max-width: 200px;
            height: 45px;
            font-size: 14px;
          }
        }

        .dismiss-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #888;
          font-family: $he_heebo;
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
          height: 54px;

          @media screen and (max-width: 1440px) {
            height: 45px;
            font-size: 14px;
          }
        }
      }

    }
  }
}